:host ::ng-deep header {
  background-color: #fff;
  border-bottom: 1px solid rgba(23, 35, 61, 0.1);

  .title {
    font-size: 16px;
    color: #17233d;
    padding: 16px 0px;
    margin-bottom: 0px;
  }
}

:host ::ng-deep .borderBottom {
  margin-bottom: 12px;
  border-bottom: 1px dashed #dedfe3;
}

:host ::ng-deep .chart-list {
  height: 337px;
  background: #fff;
  margin-bottom: 16px;
  &-title {
    height: 46px;
    line-height: 46px;
    padding: 0px 16px;
    border-bottom: 1px solid rgba(23, 35, 61, 0.1);
  }
}

:host ::ng-deep .content-div {
  margin: 16px;

  .detail-data {
    background-color: #ffffff;

    &-tit {
      height: 46px;
      line-height: 46px;
      font-size: 14px;
      color: #17233d;
      padding: 0px 16px;
      margin: 0px;
      h4 {
        float: left;
      }
    }
    &-left {
      float: right;
    }
  }
}

:host ::ng-deep .color-text {
  color: #2d8cf0;
}

:host ::ng-deep .ant-radio-button-wrapper {
  width: 32px;
  padding: 0px 7px;
  box-sizing: border-box;
}

.crowd-btn-close {
  border: none;
}

.iconfont {
  cursor: pointer;
  font-size: 15px;
  color: #17233d;
}

.content-div .detail-data-left .iconfont {
  opacity: 0.55;
}

.detail-data-left .item {
  float: left;
  margin-left: 15px;
}

.description {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: #595959;
}

.description:before {
  font-family: 'iconfont';
  content: '\ee16';
}

.manageEventMgt_headerMenuDescription {
  position: relative;
  padding: 8px;
}

.manageEventMgt_headerMenuDescription h6 {
  margin: 2px 0 12px 0;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.manageEventMgt_headerMenuDescription dl {
  position: relative;
  margin: 0;
  padding: 8px 0 8px 75px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.15);
}

.manageEventMgt_headerMenuDescription dl:last-child {
  border-bottom: none;
}

.manageEventMgt_headerMenuDescription dt {
  position: absolute;
  left: 0;
  width: 75px;
  margin: 0;
  font-size: 12px;
  // line-height: 20px;
  text-align: left;
  // color: #ffffff;
}

.icon-shijian {
  color: #abe7a2;
  vertical-align: sub;
  margin-right: 5px;
}

input {
  font-size: 12px;
}

.des-ul {
  width: 356px;
  padding: 0;
  margin: 0;
}

.des-ul li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.15);
  padding: 5px 0;
}

.des-ul li:last-child {
  border-bottom: none;
}

.des-ul label {
  float: left;
  width: 70px;
  text-align: left;
  color: #fff;
}

.des-ul .des {
  padding-left: 70px;
}

.detail-data-tit {
  border-bottom: 1px solid rgba(23, 35, 61, 0.1);
}

.detail-data-tit h4 {
  margin: 0;
  font-weight: bold;
}

.search-list-fitst-right {
  margin-top: 8px;
}

.no-data {
  text-align: center;
  padding: 50px 0;
}

.loading {
  text-align: center;
  padding: 50px 0;
}

.hide {
  display: none;
}

.ant-input-number {
  width: 110px;
}

.chart-setting {
  float: right;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
  text-align: center;
  line-height: 20px;
  font-weight: normal;
  margin: 10px 0 0 0;
  cursor: pointer;
  position: relative;
}

.chart-setting .icon-settings {
  margin-left: 5px;
}

.chart-setting .dialog {
  position: absolute;
  width: 240px;
  max-height: 336px;
  right: 0;
  top: 30px;
}
