.filter-box {
    padding: 8px 20px;
    border-top: 1px dashed #DEDFE3;
    background: #fff;
}

.filter-box .filter-select {
    float: left;
    width: 90%;
}

.filter-box .filter-operator {
    float: right;
}

.filter-box .filter-label {
    background: rgba(23, 35, 61, 0.06);
    padding: 0 20px;
    color: #17233D;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    border: 1px solid #eee;
    margin-right: 10px;
}

.filter-box .filter-select .select-group {
    width: 200px;
    float: left;
    margin-right: 10px;
}

.filter-box .filter-select .select-operator {
    float: left;
    margin-right: 10px;
}

.filter-box .filter-select .select-dic {
    float: left;
    min-width: 200px;
    /*  height: 30px;*/
    line-height: 30px;
    max-width: 60%;
}
