.user-retention-filter {
    margin: 0;
    padding: 0 0 0 16px;
}

.user-retention-filter li {
    font-size: 12px;
    padding: 10px 0;
    line-height: 22px;
}

.user-retention-filter li:first-child {
    border-bottom: 1px dashed #DEDFE3;
    padding-bottom: 15px;
}

.user-retention-filter .item {
    float: left;
    margin-right: 10px;
    line-height: 30px;
    height: 30px;
}

.user-retention-filter label {
    color: #17233D;
    font-size: 12px;
    text-align: right;
}

.user-retention-filter .custom-range-picker {

}

.user-retention-filter span.tag {
    background: rgba(23, 35, 61, 0.06);
    padding: 0 15px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.user-retention-filter .dropdown-panel {
    border-radius: 5px;
    border: 1px solid #ddd;
}

.user-retention-filter .ant-btn-primary {
    float: right;
    margin-right: 20px;
}

.hide {
    display: none;
}
