.modal-til{
    display: flex;
    .til-text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis !important;
        max-width: 300px;
    }
}
.publish-select{
    width:100%;
}
.publish-msg{
    margin:16px 0;
}
::ng-deep {
    .publish-select .ant-select {
        width:200px;
    }
}