.content {
  .pointer {
    cursor: pointer;
  }
  .pipe-item {
    margin-right: 19px;
    margin-left: 32px;
    margin-bottom: 16px;
    &.last {
      margin-bottom: 0px;
    }
    .text {
      font-size: 12px;
      color: rgba(28, 36, 56, 0.8);
    }
    .clearSet {
      float: right;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }
  .item-label {
    font-size: 12px;
    color: #17233d;
    letter-spacing: 0;
    text-align: left;
    line-height: 32px;
    font-weight: bold;
    float: left;
    width: 49px;
    position: relative;
    & > .require {
      position: absolute;
      left: -9px;
      color: #ed3f14;
      font-size: 14px;
      top: 2px;
    }
  }
  .item-input {
    float: left;
    margin-left: 10px;
    width: 263px;
    input {
      width: 100%;
      height: 32px;
      border: 1px solid #dcdee2;
      border-radius: 4px;
      padding: 11px;
      outline: none;
    }
  }
  .item-textarea {
    float: left;
    margin-left: 10px;
    width: 263px;
    height: 56px;
    textarea {
      width: 100%;
      height: 100%;
      border: 1px solid #dcdee2;
      border-radius: 4px;
      padding: 5px 11px;
      outline: none;
    }
  }
  .item-radio {
    float: left;
    margin-left: 16px;
    line-height: 28px;
  }
  .base-desc {
    margin-top: 22px;
    margin-bottom: 16px;
  }
  .target-timer {
    .behavior-content {
      .behavior-item {
        padding-top: 16px;
        margin-left: 64px;
        border-left: 1px solid #dcdee1;
        .button {
          width: 66px;
          height: 32px;
          margin-left: -33px;
          background: #ffffff;
          border: 1px solid #dddee1;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 12px;
          color: #464c5b;
          text-align: center;
          line-height: 32px;
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          cursor: pointer;
          &.gray-button {
            background: #ebeef2;
          }
        }
        .behavior {
          margin-left: -32px;
          margin-top: 16px;
          margin-right: 19px;
          padding: 8px 0px;
          border-radius: 4px;
          background: #f4f7fb;
          a {
            color: #657180;
            margin-left: 9px;
          }
        }
      }
      .add-behavior {
        padding-top: 16px;
        margin-left: 64px;
        border-left: 1px solid #dcdee1;
        .button {
          width: 105px;
          height: 32px;
          text-align: center;
          box-sizing: border-box;
          background: #2d8cf0;
          border-radius: 4px;
          font-size: 12px;
          color: #ffffff;
          line-height: 30px;
          margin-left: -32px;
          cursor: pointer;
          i {
            font-weight: bolder;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .timer {
    margin-left: 32px;
    label {
      font-size: 12px;
      color: rgba(28, 36, 56, 0.8);
    }
    .timer-input {
      margin-top: 24px;
      font-size: 12px;
      color: rgba(28, 36, 56, 0.8);
      input {
        display: inline-block;
        width: 70px;
      }
      span {
        margin-left: 5px;
        margin-right: 8px;
      }
    }
  }
}

:host /deep/ .ant-radio-inner {
  width: 13px;
  height: 13px;
}

:host /deep/ .ant-radio-inner::after {
  width: 7px;
  height: 7px;
  left: 2px;
  top: 2px;
}

:host /deep/ .ant-radio-wrapper {
  font-size: 12px;
  color: rgba(28, 36, 56, 0.8);
}

input:disabled,
textarea:disabled {
  color: rgb(84, 84, 84);
  cursor: not-allowed;
  background-color: #f5f5f5;
}

::ng-deep .ant-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.65);
  cursor: not-allowed;
}
