.ant-breadcrumb{
  width:100%;
  height:56px;
  line-height: 56px;
  background:#ffffff;
}
:host ::ng-deep .metric-view-item{
  // margin:24px 17px;
}
:host ::ng-deep .metric-view-item-horizontal-content{
   margin-left:0 !important;
}
.ant-col-4{
  // margin-top:24px;
  background:#fff;
  // height:156px;
    .metric-view-item-text-title{
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #80848F;
      line-height: 14px;
    }
   
}

:host ::ng-deep .metric-view-item-text-info{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #1C2438;
  line-height: 24px;
  margin-bottom:20px !important;
}

.ant-col-16{
  padding:20px;
  border-right:1px solid #DDDEE1;
}
.ant-col-8{
  padding:20px;
}
:host ::ng-deep .ant-card{
  margin-top:24px;

  & > .ant-card-body{
    // padding:0;
  }
}
:host ::ng-deep .noPadding .ant-card-body{
  padding:0 !important;
}


