<nz-card [nzTitle]="title">
    <ng-template #title>
        <span>新增用户组</span>
    </ng-template>
    <!--<ng-template #extra>
        <a>More</a>
    </ng-template>-->
    <ng-template #body>
        <app-add-user-group-form [userGroup]="userGroup" [needSubmit]="isNeedSubmitAddUserGroupFormData" (submit)="submitAddUserGroupForm($event)"></app-add-user-group-form>
    </ng-template>
</nz-card>

<div style="margin-top:10px;">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
        确 定
    </button>

    <a [routerLink]="[ '/userGroups' ]">
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
            取 消
        </button>
    </a>
</div>