.content {
    padding: 16px;
    overflow: auto;
}

.public-set {
    margin-top: 0px;
}

.public-set .oprators {
    margin-top: 140px;
    display: inline-block;
}

.public-set .oprators .op {
    width: 24px;
    height: 24px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.public-set .left, .public-set .right {
    background: #FFFFFF;
    border: 1px solid #D7DDE4;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
}

.public-set .header {
    height: 40px;
}

.public-set .header .tabset {
    float: left;
    width: 170px;
    margin-left: 10px;
    height: 40px;
}

.public-set .header .tooltip {
    float: left;
    margin-top: 10px;
}

.public-set .header p {
    font-size: 12px;
    color: rgba(11, 17, -2147483648, 0.75);
    line-height: 40px;
    margin-bottom: 0;
    margin-left: 16px;
    display: inline-block;
}

.public-set .left .header p {
    float: right;
    margin-right: 10px;
    margin-left: 0px;
}

.public-set .header .title {
    color: #17233D;
}

.public-set .header .count {
    color: #2D8CF0;
}

.public-set .left {
    width: 374px;
    height: 390px;
}

.public-set .right {
    width: 374px;
    height: 390px;
}

.footer {
    width: 100%;
    padding-right: 12px;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    border-radius: 0 0 4px 4px;
    .cancel-button {
        margin-right: 8px;
    }
}

.public-content-title {
    height: 32px;
    padding-left: 16px;
    background: rgba(23, 35, 61, 0.03);
    line-height: 32px;
}

.public-content-title label {
    font-size: 12px;
    color: #17233D;
}

::ng-deep .ant-radio-wrapper {
    font-size: 12px;
}

.public-content-data {
    height: 316px;
    .data-left {
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 100%;
        overflow: auto;
        .data-left-list {
            background: #DBEEFF;
        }
        div {
            width: 100%;
            display: inline-block;
            padding-right: 8px;
            padding-left: 16px;
            cursor: pointer;
            i {
                float: right;
                line-height: 32px;
            }
            label {
                height: 32px;
                line-height: 32px;
                margin-left: 0;
                margin-right: 10px;
            }
        }
    }
    .data-left.data-left-100 {
        width: 100%;
    }
    .data-right {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
}

::ng-deep .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
    padding: 7px 0 7px 16px;
}

::ng-deep .ant-table-tbody > tr > td.ant-table-selection-column {
    min-width: 16px;
    width: 16px;
}

::ng-deep .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td > div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 16px;
}

::ng-deep .ant-tabs-bar {
    margin: 0;
    border-bottom: none;
}

::ng-deep .ant-tabs-small .ant-tabs-tab {
    font-size: 12px;
    height: 40px;
    margin-right: 20px;
    padding: 12px 6px;
}

.icon-radio_selected {
    color: #27B36A;
    vertical-align: middle;
}

.icon-radio_selected.iconfont-gray {
    color: #EAEBEE;
}

::ng-deep .ant-tooltip-inner {
    max-width: 300px;
}