@color-headbg: #454859;
@color-leftbg: #4c4f5e;

.skin-gray .content .header{
  background-color: @color-headbg;
}

.skin-gray .content .left{
  background-color: @color-leftbg;
  .dataset_tree{
    background-color: @color-leftbg;
  }
  .catalog_all_search{
    background-color: @color-headbg;
  }
}