.skin-gray .content .header {
  background-color: #454859;
}
.skin-gray .content .left {
  background-color: #4c4f5e;
}
.skin-gray .content .left .dataset_tree {
  background-color: #4c4f5e;
}
.skin-gray .content .left .catalog_all_search {
  background-color: #454859;
}
