:host ::ng-deep .ant-select {
  font-family: PingFangSC-Semibold;
  font-size: 12px;
  color: rgba(28,36,56,0.80);
  letter-spacing: 0;

  .ant-select-selection {
    height: 36px;
    border-radius: 50px;

    .ant-select-selection__rendered {
      line-height: 36px;
      margin-left: 16px;
      margin-right: 16px;

      .ant-select-selection__placeholder {
        font-family: PingFangSC-Semibold;
        font-size: 12px;
        // color: rgba(28,36,56,0.80);
        letter-spacing: 0;
      }
    }
  }
  
  .ant-select-selection__clear,
  .ant-select-arrow {
    right: 17px;
  }
}
