<div class="report-detail-data">
    <div class="item-config">
        <label class="item-label">CUBE</label>
        <div class="config-content">
            <cm-select>
                <nz-select [nzSize]="'large'" name="cube" [nzPlaceHolder]="'请选择'" style="width:90%;" [(ngModel)]="selectedCube" nzShowSearch (ngModelChange)="changeCube(selectedCube)">
                    <nz-option *ngFor="let select of cubeList" [nzLabel]="select.label" [nzValue]="select.value">
                        <ng-template #nzOptionTemplate>
                            <span title="{{select.label}}">{{select.label}}</span>
                        </ng-template>
                    </nz-option>
                </nz-select>
            </cm-select>
        </div>
    </div>
    <div class="item-config">
        <label class="item-label">指标</label>
        <div class="config-content">
            <cm-select *ngFor="let metrics of selectedMetrics;let i = index;">
                <nz-select [nzSize]="'large'" name="metrics" [(ngModel)]="metrics.value" (ngModelChange)="changeMetrics(metrics.value)" [nzPlaceHolder]="'请选择'" style="width:90%;margin-bottom:10px;">
                    <nz-option *ngFor="let select of metricsList" [nzLabel]="select.label" [nzValue]="select.value">
                        <ng-template #nzOptionTemplate>
                            <span title="{{select.label}}">{{select.label}}</span>
                        </ng-template>
                    </nz-option>
                </nz-select>
                <i class="anticon anticon-minus-circle-o dynamic-delete-button" *ngIf="i!=0" (click)="removeMetrics(selectedMetrics, i, 'line')"></i>
            </cm-select>
            <cm-button>
                <button class="add-button" nz-button [nzType]="'dashed'" *ngIf="selectedMetrics.length < 10" [nzSize]="'small'" (click)="addMetrics()">
                    <i class="anticon anticon-plus"></i><span>添加指标</span>
                </button>
            </cm-button>
        </div>
    </div>
</div>