.creCon_main{
    margin-top: 24px;
    background:#fff;
    height:1000px;
    padding:46px 0;
}
.creCon_main dl{
  margin-bottom:32px;
}

.creCon_main dl dt{
  float:left;
  width:142px;
  font-family: PingFangSC-Semibold;
  font-size: 14px;
  color: rgba(28,36,56,0.80);
  padding-left:48px;
  padding-right:24px;
  line-height: 32px;
}
.creCon_main dl:nth-child(2) dd{
     overflow: hidden;

}
:host ::ng-deep .ant-input{
  height:32px;

}
.required{
  color:#f04134;
  font-family: SimSun;
  line-height: 1;
  font-size: 12px;
  display: inline-block;
  margin-right: 4px;
}
:host ::ng-deep .creCon_main dl dd nz-input{
  width:300px !important;
}
.creCon_main dl:nth-child(3) dd{
  margin-left:143px;
  margin-top:32px;
  button{
    width:240px;
    height:36px;
  &:nth-child(1){
    background: #2D8CF0;
    border-radius: 4px;
  }
  &:nth-child(2){
    border:none;
  }
  }
}


