.funnel-popout{
    .config-content{
        .procedure{
            width: 90%;
            cursor: pointer;
            height: 25px;
            line-height: 25px;
            background: #ffffff;
            border-radius: 5px;
            border:1px dashed #dddddd;
            text-align: left;
            i{
                height: 14px;
                width: 14px;
                display: inline-block;
                float: left;
                margin:1px 10px 0 35%;
                img{
                    height:100%;
                    width: 100%;
                }
            }
        }
        .course{
            margin-top: 12px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            width: 90%;
            padding-left: 10px;
            >span{
                display: inline-block;
                height:100%;
                width: 55%;
                padding-right: 10px;
                border: none;
                background:none;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor:pointer;
            }
        }
    }
    
}







::ng-deep {
    .report-operate{
        position: absolute;
        top:70px;
        width: 126px;
        height: 32px;
    }
    .report-btn {
        width: 126px;
    height: 32px;
    }
    .report-btn .ant-btn.ant-btn-primary{
        width: 100%;
        height: 100%;
    }
}