<div *ngIf="nodes.length == 0 && emptyFlag == true && !loading">
    <div class="clrfix carousel-app-empty">
        <p>
            <img alt="图片" src="./assets/images/app/app-empty.png" height="141" width="251" />
        </p>
        <p>
            <span style="color: #A2A3A8">应用功能为空，请点击“+注册功能”按钮开始为应用添加功能</span>
        </p>
    </div>
</div>
<div style="padding:50px;text-align:center;font-size:14px;" *ngIf="loading">
    <em class="anticon anticon-loading anticon-spin" style="font-size:30px;margin-right:5px;"></em> 加载中...
</div>
<div [ngClass]="{'flexBox':(nodes.length > 0 && !loading|| emptyFlag == false && !loading),'hideBox':nodes.length == 0 && emptyFlag == true || loading}">
    <div class="flexItem1 treeBox" style="height:100%;
    min-height: 100%;
    margin-bottom: -99999px;
    padding: 0 0 99999px 20px;">
        <!-- <main style="padding: 10px;">
            <nz-input-group [nzSuffix]="suffixIcon">
                <input type="text" nz-input placeholder="输入搜索功能名称" [(ngModel)]="searchValue">
            </nz-input-group>
            <ng-template #suffixIcon>
                <span class="anticon anticon-search"></span>
            </ng-template>
        </main> -->

        <nz-tree [(ngModel)]="nodes" [nzDraggable]="true" [nzShowExpand]="false"
            [nzDefaultExpandAll]="true"
            [nzSearchValue]="searchValue" (nzOnDrop)="mouseAction('drop', $event)"
            (nzClick)="toggleNode($event);showDetail($event);" #treeCom>

            <ng-template #nzTreeTemplate let-node>
                <span class="custom-node" [class.active]="node.isSelected" draggable="true">
                        <span class="anticon anticon-caret-right" *ngIf="!node.isExpanded && node.children.length"
                              style="font-size:12px;float:left;margin-top:8px; margin-left: -20px;"></span>
                        <span *ngIf="!node.children.length" style="width:20px;height:30px;display:inline-block;float:left;margin-left: -20px;"></span>
                        <span class="anticon anticon-caret-down" *ngIf="node.isExpanded && node.children.length" style="font-size:12px;float:left;margin-top:8px; margin-left: -20px;"></span>
                        <span title="{{node.title}}" 
                        [ngStyle]="{'overflow': 'hidden', 'text-overflow': 'ellipsis', 'white-space': 'nowrap'
                            , 'float': 'left', 'width' : node.level ? '120px' : '140px'}">
                            {{node.title}}
                        </span>
                        <nz-dropdown class="fr" *ngIf="node.isSelected">
                            <a class="ant-dropdown-link" nz-dropdown>...</a>
                            <ul nz-menu nzSelectable class="dropDownBox">
                                <li nz-menu-item (click)="detailChild.getFunctionById(node.key,'addChild',0);">新增子功能
                                </li>
                                <li nz-menu-item (click)="deleteActionModal(node.key, node)">删除
                                </li>
                            </ul>
                        </nz-dropdown>
                    </span>
            </ng-template>

        </nz-tree>
    </div>
    <div class="flexItem2" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
        <add-action-page #detailChild (onFresh)="reloadList($event)"></add-action-page>
        <!-- [initId]="nodes[0].key" -->
    </div>
</div>