::ng-deep {
    .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td{
        border-right: none !important;
        }
    .reporftolderlist{
        width:100%;
        height:100%;
        .list{
            display: inline-block;
            white-space:nowrap;
            overflow: hidden;
            text-overflow:ellipsis !important;
        }
        .ant-table-body{
            overflow-x: auto;
        }
    }
    // .td1{
    //     max-width:calc(~"996px - 500px");
    // }
}