.title {
  height: 50px;
  width: 100%;
  background: #FBFBFC;
  border: 1px solid #E7EBEF;
  box-sizing: border-box;
  .title-name {
    display: inline-block;
    padding: 14px 0 14px 14px;
    box-sizing: content-box;
    label {
      font-size: 14px;
      color: #17233D;
      line-height: 24px;
    }
    .disable-input {
      border: 0px !important;
      background-color: transparent !important;
      font-size: 14px;
      color: #373D5D !important;
      line-height: 14px;
      max-width: 450px !important;
    }
    .add-input {
      padding-bottom: 3px;
      border-bottom: 1px solid #ccc;
    }
    .icon-mode_edit {
      vertical-align: text-top;
      display: inline-block;
      width: 13.5px;
      height: 13.5px;
      font-size: 13.5px;
      line-height: 13.5px;
      color: rgba(23, 35, 61, 0.55);
      cursor: pointer;
    }
    .icon-success {
      font-size: 14px;
      cursor: pointer;
    }
    .icon-error {
      font-size: 14px;
      cursor: pointer;
    }
    .des {
      font-size: 14px;
      color: #0B1100;
    }
  }
  .title-content {
    float: right;
    height: 32px;
    margin: 8px 0;
    .time {
      display: inline-block;
      padding-right: 16px;
    }
    .config {
      margin-left: 24px;
      padding: 0px 24px;
      box-sizing: border-box;
      border-left: 1px solid #EBEEF2;
      border-right: 1px solid #EBEEF2;
      display: inline-block;
      vertical-align: middle;
      .icon-icon-unknow {
        margin-left: 15px;
      }
    }
    .button {
      display: inline-block;
      margin-left: -3px;
      margin: 0 10px 0 7px;
      .cancel {
        padding: 5px 16px;
        border: 1px solid #DCDEE2;
        border-radius: 2px;
        font-size: 12px;
        color: rgba(23, 35, 61, 0.75);
        text-align: center;
        line-height: 20px;
        display: inline-block;
        cursor: pointer;
      }
      .draft {
        padding: 5px 16px;
        border: 1px solid #DCDEE2;
        border-radius: 2px;
        font-size: 12px;
        color: rgba(23, 35, 61, 0.75);
        text-align: center;
        line-height: 20px;
        margin: 0 5px 0 11px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        background: #FFFFFF;
        cursor: pointer;
      }
      .save {
        padding: 5px 16px;
        border: 1px solid #2D8CF0;
        border-radius: 2px;
        font-size: 12px;
        color: rgba(23, 35, 61, 0.75);
        text-align: center;
        line-height: 20px;
        display: inline-block;
        box-sizing: border-box;
        color: #FFFFFF;
        background: #2D8CF0;
        cursor: pointer;
      }
    }
  }
}

.custom-button {
  padding: 5px 16px;
  border: 1px solid #DCDEE2;
  border-radius: 2px;
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
  text-align: center;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
}