@import '../../../assets/styles/common.less';

.chart-table-wrap {
  position: relative;

  &-button {
    position: absolute;
    // top: 6px;
    z-index: 10;
    top: 0;
    left: 0;
    
    &-icon {
      margin-right: 8px;
      cursor: pointer;

      &-checked {
        color: #3399ff;
      }
    }
  }

  &-table {
    padding-top: 24px;
  }
}