/*全局过滤器*/

.overall_filter_icon {
    display: inline-block;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: url('./overallFilterIcon.svg') no-repeat center center /38px 38px;
    margin-right: 25px;
}

.overall_right {
    position: absolute;
    right: 24px;
    top: 17px;
}

.overall_right ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #BABFC6;
}

.overall_right :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #BABFC6;
}

.overall_right ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #BABFC6;
}

.overall_right :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #BABFC6;
}

.overall_right_search,
.cells_right_search {
    background: #FFFFFF;
    border: 1px solid #C7CCD3;
    border-radius: 15px;
    width: 142px;
    height: 24px;
    padding: 0 16px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #404560;
    letter-spacing: 0;
    line-height: 12px;
}

.component_top {
    height: 56px;
    padding: 14px 24px;
    border-bottom: 1px solid #E8E9EC;
    position: relative;
}

.component_top_select {
    width: 110px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #D7DDE4;
    border-radius: 4px;
    position: relative;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #404560;
    margin-right: 8px;
    display: inline-block;
}

.component_top_select_title {
    padding: 0 8px 0 12px;
    line-height: 28px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overall_left {
    width: 118px;
}

.overall_child {
    width: 500px;
}

.component_top_select_title:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8a8f9d;
    position: absolute;
    right: 8px;
    top: 11px;
}

.component_top_select_list {
    position: absolute;
    left: 0;
    top: 22px;
    z-index: 2;
    display: none;
    background: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 4px;
    padding: 6px 10px;
    background: #fff;
    cursor: pointer;
    width: 100%;
    max-height: 240px;
    overflow: auto;
}

.component_top_select_list ul:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.component_bottom {
    padding: 16px 24px;
    border-top: 1px solid #E8E9EC;
    height: 56px;
    line-height: 24px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    color: #818596;
}

.component_bottom_l {
    letter-spacing: 0;
}

.component_bottom_l span,
.component_bottom_l strong {
    font-weight: bold;
    color: #43A3FB;
    padding: 0 3px;
}

.component_bottom_r {
    height: 24px;
}

.component_bottom_r a {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    width: 60px;
    margin-left: 10px;
    text-align: center;
    color: #818596;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    transition: all linear .3s;
}

.component_bottom_r a:hover {
    color: #333333;
}

.component_bottom_r a:last-child {
    background: #43A3FB;
    border-radius: 4px;
    color: #fff;
}

.component_bottom_r a:last-child:hover {
    color: #fff;
}

.cellsLeft .filterButton {
    width: 48px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DEDFE3;
    font-size: 12px;
}

.cellsLeft span:first-child {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.cellsLeft span.currentFilter {
    background: #43A3FB;
    color: #fff;
    border: none;
}

.cellsLeft span.filterButton {
    cursor: pointer;
}

.cellsLeft .custom {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.component_overall {
    background: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 678px;
    height: 317px;
}

.component_cells {
    background: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: none;
    position: absolute;
    right: 0;
    top: 26px !important;
    width: 678px;
    height: 317px;
}

.component_overall_list,
.component_cells_list {
    height: 200px;
    /* overflow-y: auto; */
    position: relative;
}

.component_overall_list {
    overflow-y: auto;
    padding: 0 24px;
}

.component_cells_list {
    width: 160px;
    float: left;
}

.component_cells_option {
    width: 518px;
    float: right;
    height: 200px;
}

.component_overall_list ul,
.component_cells_list ul,
.component_cells_option ul {
    height: 176px;
}

.component_cells_list ul,
.component_cells_option ul {
    overflow: auto;
    width: 160px;
    height: 200px;
    border-right: 1px solid #EBEEF2;
    float: left;
    padding: 12px 0;
}

.component_cells_option ul {
    width: 172px!important;
}

.component_cells_option ul:last-child {
    border-right: 0 none;
}

.component_cells_option ul li {
    padding: 0 20px!important;
}

.component_cells_list ul li,
.component_cells_option ul li {
    width: 100%;
    height: 32px;
    line-height: 32px;
    /*padding: 0 15px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 24px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(28, 36, 56, 0.80);
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    transition: all linear .3s;
}

.component_cells_list ul li:hover,
.component_cells_option ul li:hover {
    background: #F4F7FB;
}

.component_cells_list ul li span,
.component_cells_option ul li span {
    float: right;
}

.component_cells_option ul li span {
    display: inline-block;
}

.component_overall_none {
    line-height: 200px;
    display: block;
    text-align: center;
    font-size: 13px;
    color: #818596;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.component_overall_list ul li {
    width: 155px;
    display: inline-block;
    line-height: 18px;
    margin: 8px 0;
}

.component_overall_list ul li input[type="checkbox"],
.component_cells_list ul li input[type="checkbox"],
.component_cells_option ul li input[type="checkbox"] {
    margin: 3px 5px 0 0;
    display: none;
}

.component_overall_list ul li label,
.component_cells_list ul li label,
.component_cells_option ul li label {
    padding-left: 20px;
    cursor: pointer;
    background: url('checkbox-unchecked.svg') no-repeat center left !important;
    width: 140px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.component_overall_list ul li input[type="checkbox"]:checked~label,
.component_cells_list ul li input[type="checkbox"]:checked~label,
.component_cells_option ul li input[type="checkbox"]:checked~label {
    background: url('checkbox-checked.svg') no-repeat center left !important;
}

.selected {
    background: #43A3FB;
}

.checkedBg {
    background: #F4F7FB;
}

.lists:after {
    content: ">";
    width: 12px;
    height: 12px;
    display: inline-block;
    float: right;
}

.error {
    text-align: center;
    line-height: 175px;
}