/*display*/
.hide {
    display: none;
}

.show {
    display: block;
}

.v-h {
    visibility: hidden;
}

.v-v {
    visibility: visible;
}

.t-o-e {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*vertical-align*/
.v-b {
    vertical-align: bottom;
}

.v-t {
    vertical-align: top;
}

.v-m {
    vertical-align: middle;
}

/*float*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.fn {
    float: none;
}

/*position*/
.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}

.p-fix {
    position: fixed;
}

/*color*/
.c-blue {
    color: #337ab7;
}

.c-green {
    color: green;
}

.c-yel {
    color: #f60;
}

.c1 {
    color: #666;
}

.c2 {
    color: #a2a2a2;
}

.c3 {
    color: #999;
}

/*margin*/
.ml-5 {
    margin-left: 5px;
}

.ml-p5 {
    margin-left: 5%;
}

.ml-p6 {
    margin-left: 6%;
}

.ml-p10 {
    margin-left: 10%;
}

.ml-p20 {
    margin-left: 20%;
}

.ml-p40 {
    margin-left: 40%;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-60 {
    margin-left: 60px;
}

.ml-70 {
    margin-left: 70px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-90 {
    margin-left: 90px;
}

.ml-100 {
    margin-left: 100px;
}

.ml-120 {
    margin-left: 120px;
}

.ml-130 {
    margin-left: 130px;
}

.ml-150 {
    margin-left: 150px;
}

.ml-180 {
    margin-left: 180px;
}

.ml-200 {
    margin-left: 200px;
}

.ml-250 {
    margin-left: 250px;
}

.ml-300 {
    margin-left: 300px;
}

.ml-350 {
    margin-left: 350px;
}

.ml-400 {
    margin-left: 400px;
}

.ml-450 {
    margin-left: 450px;
}

.ml-500 {
    margin-left: 500px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-60 {
    margin-right: 60px;
}

.mr-70 {
    margin-right: 70px;
}

.mr-80 {
    margin-right: 80px;
}

.mr-90 {
    margin-right: 90px;
}

.mr-100 {
    margin-right: 100px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mx-10 {
    margin: 0 10px;
}

/*padding*/
.pd-3 {
    padding: 3px;
}

.pd-10 {
    padding: 10px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.px-10 {
    padding: 0 10px;
}

/*text-align*/
.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

/*width*/
.wd-p-5 {
    width: 5% !important;
}

.wd-p-10 {
    width: 10% !important;
}

.wd-p-15 {
    width: 15% !important;
}

.wd-p-20 {
    width: 20% !important;
}

.wd-p-25 {
    width: 25% !important;
}

.wd-p-30 {
    width: 30% !important;
}

.wd-p-35 {
    width: 35% !important;
}

.wd-p-39 {
    width: 39% !important;
}

.wd-p-40 {
    width: 40% !important;
}

.wd-p-44 {
    width: 44% !important;
}

.wd-p-45 {
    width: 45% !important;
}

.wd-p-49 {
    width: 49% !important;
}

.wd-p-50 {
    width: 50% !important;
}

.wd-p-55 {
    width: 55% !important;
}

.wd-p-60 {
    width: 60% !important;
}

.wd-p-65 {
    width: 65% !important;
}

.wd-p-70 {
    width: 70% !important;
}

.wd-p-75 {
    width: 75% !important;
}

.wd-p-80 {
    width: 80% !important;
}

.wd-p-85 {
    width: 85% !important;
}

.wd-p-90 {
    width: 90% !important;
}

.wd-p-95 {
    width: 95% !important;
}

.wd-p-98 {
    width: 98% !important;
}

.wd-p-988 {
    width: 98.8% !important;
}

.wd-p-99 {
    width: 99% !important;
}

.wd-p-100 {
    width: 100% !important;
}

.wd50 {
    width: 50px !important;
}

.wd60 {
    width: 60px !important;
}

.wd70 {
    width: 70px !important;
}

.wd80 {
    width: 80px !important;
}

.wd90 {
    width: 90px !important;
}

.wd100 {
    width: 100px !important;
}

.wd110 {
    width: 110px !important;
}

.wd120 {
    width: 120px !important;
}

.wd130 {
    width: 130px !important;
}

.wd135 {
    width: 135px !important;
}

.wd140 {
    width: 140px !important;
}

.wd142 {
    width: 142px !important;
}

.wd147 {
    width: 147px !important;
}

.wd150 {
    width: 150px !important;
}

.wd158 {
    width: 158px !important;
}

.wd160 {
    width: 160px !important;
}

.wd175 {
    width: 175px !important;
}

.wd200 {
    width: 200px !important;
}

.wd250 {
    width: 250px !important;
}

.wd300 {
    width: 300px !important;
}

.wd350 {
    width: 350px !important;
}

.wd400 {
    width: 400px !important;
}

.wd450 {
    width: 450px !important;
}

.wd500 {
    width: 500px !important;
}

.wd550 {
    width: 550px !important;
}

.wd600 {
    width: 600px !important;
}

.wd650 {
    width: 650px !important;
}

.wd700 {
    width: 700px !important;
}

.wd750 {
    width: 750px !important;
}

.wd800 {
    width: 800px !important;
}

.wd850 {
    width: 850px !important;
}

.wd900 {
    width: 900px !important;
}

.wd950 {
    width: 950px !important;
}

.wd1000 {
    width: 1000px !important;
}

.wd1100 {
    width: 1100px !important;
}

.wd1200 {
    width: 1200px !important;
}

/*max-width*/
.max-wd50 {
    max-width: 50px;
}

.max-wd60 {
    max-width: 60px;
}

.max-wd70 {
    max-width: 70px;
}

.max-wd80 {
    max-width: 80px;
}

.max-wd90 {
    max-width: 90px;
}

.max-wd100 {
    max-width: 100px;
}

.max-wd110 {
    max-width: 110px;
}

.max-wd120 {
    max-width: 120px;
}

.max-wd130 {
    max-width: 130px;
}

.max-wd135 {
    max-width: 135px;
}

.max-wd140 {
    max-width: 140px;
}

.max-wd142 {
    max-width: 142px;
}

.max-wd147 {
    max-width: 147px;
}

.max-wd150 {
    max-width: 150px;
}

.max-wd158 {
    max-width: 158px;
}

.max-wd200 {
    max-width: 200px;
}

.max-wd250 {
    max-width: 250px;
}

.max-wd300 {
    max-width: 300px;
}

.max-wd350 {
    max-width: 350px;
}

.max-wd400 {
    max-width: 400px;
}

.max-wd450 {
    max-width: 450px;
}

.max-wd500 {
    max-width: 500px;
}

.max-wd550 {
    max-width: 550px;
}

.max-wd600 {
    max-width: 600px;
}

.max-wd650 {
    max-width: 650px;
}

.max-wd700 {
    max-width: 700px;
}

.max-wd750 {
    max-width: 750px;
}

.max-wd800 {
    max-width: 800px;
}

.max-wd850 {
    max-width: 850px;
}

.max-wd900 {
    max-width: 900px;
}

.max-wd950 {
    max-width: 950px;
}

.max-wd1000 {
    max-width: 1000px;
}

.max-wd1100 {
    max-width: 1100px;
}

.max-wd1200 {
    max-width: 1200px;
}

/*min-width*/
.min-wd50 {
    min-width: 50px !important;
}

.min-wd60 {
    min-width: 60px !important;
}

.min-wd70 {
    min-width: 70px !important;
}

.min-wd80 {
    min-width: 80px !important;
}

.min-wd90 {
    min-width: 90px !important;
}

.min-wd100 {
    min-width: 100px !important;
}

.min-wd110 {
    min-width: 110px !important;
}

.min-wd120 {
    min-width: 120px !important;
}

.min-wd130 {
    min-width: 130px !important;
}

.min-wd135 {
    min-width: 135px !important;
}

.min-wd140 {
    min-width: 140px !important;
}

.min-wd142 {
    min-width: 142px !important;
}

.min-wd147 {
    min-width: 147px !important;
}

.min-wd150 {
    min-width: 150px !important;
}

.min-wd155 {
    min-width: 155px !important;
}

.min-wd158 {
    min-width: 158px !important;
}

.min-wd160 {
    min-width: 160px !important;
}

.min-wd165 {
    min-width: 165px !important;
}

.min-wd170 {
    min-width: 170px !important;
}

.min-wd180 {
    min-width: 180px !important;
}

.min-wd200 {
    min-width: 200px !important;
}

.min-wd250 {
    min-width: 250px !important;
}

.min-wd300 {
    min-width: 300px !important;
}

.min-wd350 {
    min-width: 350px !important;
}

.min-wd400 {
    min-width: 400px !important;
}

.min-wd450 {
    min-width: 450px !important;
}

.min-wd500 {
    min-width: 500px !important;
}

.min-wd550 {
    min-width: 550px !important;
}

.min-wd600 {
    min-width: 600px !important;
}

.min-wd650 {
    min-width: 650px !important;
}

.min-wd700 {
    min-width: 700px !important;
}

.min-wd750 {
    min-width: 750px !important;
}

.min-wd800 {
    min-width: 800px !important;
}

.min-wd850 {
    min-width: 850px !important;
}

.min-wd900 {
    min-width: 900px !important;
}

.min-wd950 {
    min-width: 950px !important;
}

.min-wd1000 {
    min-width: 1000px !important;
}

.min-wd1100 {
    min-width: 1100px !important;
}

.min-wd1200 {
    min-width: 1200px !important;
}

/*height*/
.hg20 {
    height: 20px;
}

.hg25 {
    height: 25px;
}

.hg34 {
    height: 34px;
}

.hg35 {
    height: 35px;
}

.hg50 {
    height: 50px;
}

.hg65 {
    height: 65px;
}

.hg100 {
    height: 100px;
}

.hg110 {
    height: 110px;
}

.hg115 {
    height: 115px;
}

.hg150 {
    height: 150px;
}

.hg190 {
    height: 190px;
}

.hg200 {
    height: 200px;
}

.hg250 {
    height: 250px;
}

.hg300 {
    height: 300px;
}

.hg350 {
    height: 350px;
}

.hg400 {
    height: 400px;
}

.hg450 {
    height: 450px;
}

.hg500 {
    height: 500px;
}

.hg550 {
    height: 550px;
}

.hg600 {
    height: 600px;
}

.hg650 {
    height: 650px;
}

.hg700 {
    height: 700px;
}

.hg750 {
    height: 750px;
}

.hg800 {
    height: 800px;
}

.hg850 {
    height: 850px;
}

.hg900 {
    height: 900px;
}

.hg950 {
    height: 950px;
}

.hg1000 {
    height: 1000px;
}

.hg1k {
    height: 1000px;
}

/*min-height*/
.min-hg20 {
    min-height: 20px;
}

.min-hg25 {
    min-height: 25px;
}

.min-hg50 {
    min-height: 50px;
}

.min-hg100 {
    min-height: 100px;
}

.min-hg150 {
    min-height: 150px;
}

.min-hg200 {
    min-height: 200px;
}

.min-hg250 {
    min-height: 250px;
}

.min-hg300 {
    min-height: 300px;
}

.min-hg350 {
    min-height: 350px;
}

.min-hg400 {
    min-height: 400px;
}

.min-hg450 {
    min-height: 450px;
}

.min-hg500 {
    min-height: 500px;
}

.min-hg550 {
    min-height: 550px;
}

.min-hg600 {
    min-height: 600px;
}

.min-hg650 {
    min-height: 650px;
}

.min-hg700 {
    min-height: 700px;
}

.min-hg750 {
    min-height: 750px;
}

.min-hg800 {
    min-height: 800px;
}

.min-hg850 {
    min-height: 850px;
}

.min-hg900 {
    min-height: 900px;
}

.min-hg950 {
    min-height: 950px;
}

.min-hg1000 {
    min-height: 1000px;
}

/*max-height*/
.max-hg20 {
    max-height: 20px;
}

.max-hg25 {
    max-height: 25px;
}

.max-hg50 {
    max-height: 50px;
}

.max-hg100 {
    max-height: 100px;
}

.max-hg150 {
    max-height: 150px;
}

.max-hg200 {
    max-height: 200px;
}

.max-hg250 {
    max-height: 250px;
}

.max-hg300 {
    max-height: 300px;
}

.max-hg350 {
    max-height: 350px;
}

.max-hg400 {
    max-height: 400px;
}

.max-hg450 {
    max-height: 450px;
}

.max-hg500 {
    max-height: 500px;
}

.max-hg550 {
    max-height: 550px;
}

.max-hg600 {
    max-height: 600px;
}

.max-hg650 {
    max-height: 650px;
}

.max-hg700 {
    max-height: 700px;
}

.max-hg750 {
    max-height: 750px;
}

.max-hg800 {
    max-height: 800px;
}

.max-hg850 {
    max-height: 850px;
}

.max-hg900 {
    max-height: 900px;
}

.max-hg950 {
    max-height: 950px;
}

.max-hg1000 {
    max-height: 1000px;
}

/*line-height*/
.lh-22 {
    line-height: 22px;
}

.lh-34 {
    line-height: 34px;
}

.lh22 {
    line-height: 22px;
}

.lh34 {
    line-height: 34px;
}

.lh20 {
    line-height: 20px;
}

.lh25 {
    line-height: 25px;
}

.lh30 {
    line-height: 30px;
}

.lh50 {
    line-height: 50px;
}

.lh100 {
    line-height: 100px;
}

.lh150 {
    line-height: 150px;
}

.lh200 {
    line-height: 200px;
}

.lh250 {
    line-height: 250px;
}

.lh300 {
    line-height: 300px;
}

.lh350 {
    line-height: 350px;
}

.lh400 {
    line-height: 400px;
}

.lh450 {
    line-height: 450px;
}

.lh500 {
    line-height: 500px;
}

/*font-size*/
.fz12 {
    font-size: 12px;
}

.fz14 {
    font-size: 14px;
}

.fz16 {
    font-size: 16px;
}

.fz18 {
    font-size: 18px;
}

.fz20 {
    font-size: 20px;
}

.fz22 {
    font-size: 22px;
}

.fz24 {
    font-size: 24px;
}

.fz26 {
    font-size: 26px;
}

.fz28 {
    font-size: 28px;
}

.fz30 {
    font-size: 30px;
}

.fz40 {
    font-size: 40px;
}