:host ::ng-deep .this-label {
    text-align: left;
    width: 70px;
}

:host ::ng-deep .special-label {
    margin-left: 0px !important;
}
:host ::ng-deep .text-content .ant-card-body {
    padding: 14px 0px !important;
}

.baseInfor{
    height: 47px;
    background: #fff;
    border: 1px solid #ededed;
    line-height: 47px;
    font-size: 14px;
    font-weight:bold;
    color: #000;
    padding:0 10px 10px 25px;
    border-bottom:none;
}