<div #container>
    <div class="baseInfor">
        <span>基本信息</span>

        <span class="fr" *ngIf="operation == 'select'" nz-button [nzType]="'primary'" [nzSize]="'Default'" (click)="getFunctionById(functionId,'update',0)"
            style="line-height: 28px;margin-top: 7px;">
            编辑
        </span>

    </div>
    <add-action-form [editFlag]='editFlag' [newCode]="newCode" [operation]="operation" [parentFucTypeDicId]="parentFucTypeDicId"
        [fucTypeDicId]="fucTypeDicId" [defaultType]="defaultType" [_dataSet]="_dataSet" [editOrAdd]="editOrAdd"
        [action]="action" [additionalAppIdSelect]="additionalAppIdSelect" [toSubmit]="toSubmit" [needSubmit]="isNeedSubmitAddActionFormData"
        (onSubmit)="submitAddActionForm($event)" (resultData)="submitResultData($event)"></add-action-form>

    <button *ngIf="operation != 'select'" nz-button [nzType]="'primary'" [nzSize]="'Default'" style="margin-top: 15px;"
        (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
        确 定
    </button>

    <a [routerLink]="[ '/apps/detailAppPage',id]">

        <!-- <button nz-button [nzType]="'default'" [nzSize]="'large'" *ngIf="operation == 'select'">
                               返 回
                            </button> -->

        <button nz-button [nzType]="'default'" [nzSize]="'Default'" *ngIf="operation != 'select'" (click)="cancel($event);">
            取 消
        </button>

    </a>
    <!-- </ng-template>
            </nz-card> -->
</div>