.content {
    margin-top: 16px;
    background: #ffffff;
    -moz-box-shadow: 0px 0px 3px #c7c6c6;
    box-shadow: 0px 0px 3px #c7c6c6;
    .content-header {
        font-size: 14px;
        color: #17233D;
        line-height: 22px;
        padding: 12px 16px;
        .right {
            float: right;
            .input-search{
                width: 196px;
                display: inline-block;
                input {
                    height: 24px;
                    width: 196px;
                    border: 1px solid #DCDEE2;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
    .content-body {
        .content-component {
            padding: 15px 0 10px 0;
        }
    }
}

.dot {
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
}

.dot.success {
    background: #27B36A;
}

.dot.forbid {
    background: #EAEBEE;
}

td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td a {
    padding-right: 6px;
}

:host /deep/ .ant-button-primary {
    width: 112px;
    box-sizing: border-box !important;
}

::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
}