.main-contant {
  padding: 16px;
}

.panel-content {
  margin-bottom: 16px;
}

.item-main {
  margin-bottom: 16px;
}

.panel-title {
  height: 46px;
  border-bottom: #cccccc 1px solid;
  line-height: 46px;
  padding-left: 16px;
  font-weight: bolder;
}

.panel-item {
  width: calc(~"(100% - 48px)/4");
  height: 152px;
  margin-right: 16px;
  border-radius: 2px;
  padding: 16px;
  float: left;
  background-color: #FFFFFF;
}

.panel-item:nth-child(4) {
  margin-right: 0;
}

.item-name {
  font-size: 14px;
  color: #17233D;
  line-height: 22px;
}

.item-label {
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
  margin-top: 16px;
}

.item-indi {
  font-size: 24px;
  color: rgba(11, 17, -2147483648, 0.55);
  line-height: 32px;
  margin-top: 8px;
}

.item-achieve {
  color: #17233D;
}

.item-percent {
  margin-top: 10px;
}

.chart-content {
  width: 100%;
  height: 270px;
  padding: 20px;
}

.target-table {
  width: 100%;
}

.target-table td {
  padding: 0 16px;
}

.label-border {
  font-weight: bolder;
}

.table-header {
  background-color: rgba(23, 35, 61, 0.03);
  height: 40px;
  line-height: 40px;
  border-bottom: #cccccc 1px solid;
}

.table-tr {
  height: 56px;
  //line-height: 56px;
  border-bottom: #cccccc 1px solid;
}

.selected {
  background-color: #2D8CF0;
  color: #ffffff;
}

.selected .item-name, .selected .item-label, .selected .item-indi, .selected .item-achieve {
  color: #ffffff;
}

.progress-used {
  background-color: #2D8CF0;
}

.progress-full {
  background-color: #DB425A;
}

.progress-left {
  background-color: rgba(23, 35, 61, 0.10);
}

.selected .progress-used {
  background-color: #2DE2C5;
}

.selected .progress-left {
  background-color: rgba(23, 35, 61, 0.25);
}

.compare-panel {
  background: #FFFFFF;
  border: 1px solid rgba(23, 35, 61, 0.15);
  box-shadow: 0 1px 4px 0 rgba(23, 35, 61, 0.25);
  border-radius: 4px;
  position: absolute;
  width: 452px;
  height: 417px;

  z-index: 9;
}

.comp-panel-title {
  height: 46px;
  font-size: 12px;
  color: #17233D;
  line-height: 46px;
  padding: 0 16px;
  border-bottom: #cccccc 1px solid;
  font-weight: bolder;
}

.comp-panel-label {
  height: 40px;
  font-size: 12px;
  color: #17233D;
  line-height: 40px;
  font-weight: bolder;
}

.comp-panel-content {
  background: rgba(23, 35, 61, 0.03);
  padding: 10px 0 8px;
  height: 111px;
  overflow-y: auto;
}

.comp-panel-item {
  float: left;
  color: rgba(23, 35, 61, 0.75);
  border-radius: 20px;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  padding: 0 12px;
  margin-right: 8px;
  width: 124px;
  max-width: 124px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 7px;
}

.comp-panel-item-select {
  color: #FFFFFF;
  background: #2D8CF0;
}

.no-data-link {
  text-align: center;
  padding: 100px;
}

.compare-span {
  padding: 0 8px;
  border: rgba(197, 202, 209, 1) 1px solid;
  border-radius: 4px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin: 0 8px;
}