.platform-gray {
  width: 20px;
  height: 20px;
  color: #17233d;
}

.platform-blue {
  width: 20px;
  height: 20px;
  color: #2d8cf0;
}

.iconfont {
  font-size: 15px;
  color: #17233d;
  opacity: 0.25;
  cursor: pointer;
}

.icon-shijian {
  cursor: default;
  color: #abe7a2;
  opacity: 1;
}

.iconfont-blue {
  color: #2d8cf0;
  opacity: 1;
}

.table-custom-filter {
  margin-top: 3px;
}

.table-custom-filter .item {
  float: left;
  margin-left: 8px;
}

.anticon-question-circle-o {
  cursor: pointer;
}
