:host /deep/ .info .filter-advanced .input.prop nz-select,
:host /deep/ .info .filter-advanced .input.operator nz-select,
:host /deep/ .info .filter-advanced .input.value nz-select {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #17233d;
}

:host /deep/ .info .filter-advanced .input.prop nz-select {
  width: 200px;
}

:host /deep/ .info .filter-advanced .input.operator nz-select {
  width: 100px;
}

:host /deep/ .info .filter-advanced .input.value nz-select {
  width: 200px;
}

/* icon */

/* .info .filter .advanced:before {
     font-family: "anticon";
     content: "\e61d";
 }

 .info .filter .advanced.true:before {
     font-family: "anticon";
     content: "\e61e";
 }*/

.info-chart .chart.loading:before {
  font-family: 'anticon';
  content: '\e64d';
}

/* .info */

.info {
  position: relative;
  display: block;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #edeef1 #e2e3e7 #d7d9dd #e2e3e7;
  border-radius: 3px;
  background-color: #ffffff;
}

.info-chart {
  margin: 16px;
  position: relative;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #edeef1 #e2e3e7 #d7d9dd #e2e3e7;
  border-radius: 3px;
  background-color: #ffffff;
}

.info-chart .header {
  height: 46px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  line-height: 1em;
}

.info-chart .header h5 {
  float: left;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  color: #17233d;
  font-size: 14px;
  height: 30px;
  margin: 0;
  padding: 0;
}

/* .info .filter */

.info .filter .button {
  float: right;
  margin-top: 8px;
}

.filter .input .date-range {
  float: left;
  width: 255px;
}

.info .filter .advanced {
  margin-left: 18px;
  font-size: 12px;
  line-height: 12px;
  color: #57a3f3;
}

.info .filter .advanced:before {
  position: relative;
  left: -4px;
}

/* .info .filter-advanced */

.info .filter-advanced {
  position: relative;
  overflow: hidden;
  padding: 8px 0 0 0;
}

.info .filter-advanced .label,
.info .filter-advanced .input {
  float: left;
  margin: 0 10px 0 0;
}

.info .filter-advanced .button {
  float: right;
  margin: 0;
}

.info .filter-advanced .label {
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #4e576b;
  background-color: #f1f2f4;
}

/* .info-chart .chart */
.info-chart .icon-info1 {
  float: right;
  cursor: pointer;
  opacity: 0.55;
}

.info-chart .chart {
  position: relative;
  height: 500px;
  padding: 16px;
  border-top: 1px solid #e7e9eb;
}

.info-chart .chart.loading:before {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin-left: -18px;
  margin-top: -18px;
  font-size: 36px;
  line-height: 36px;
  color: #808695;
  -webkit-animation: loadingCircle 1s infinite linear;
  -o-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
}

.des-ul {
  width: 356px;
  padding: 0;
  margin: 0;
}

.des-ul li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.15);
  padding: 5px 0;
}

.des-ul li:last-child {
  border-bottom: none;
}

.des-ul label {
  float: left;
  width: 100px;
  text-align: left;
  color: #fff;
}

.des-ul .des {
  padding-left: 100px;
}

.loading {
  text-align: center;
  padding: 50px 0;
}
