::ng-deep {
.reportfolder-operate{
    position: absolute;
    top: 70px;
    width: 126px;
    height: 32px;
}
.reportfolder-btn{
    width: 126px;
    height: 32px;
}
.reportfolder-btn .ant-btn.ant-btn-primary{
    width: 100%;
    height: 100%;
}
}