.pie-chart-box {
  padding-bottom: 20px;

  & > .pie-chart {
    margin-bottom: 32px;
  }

  &-horizontal {
    display: flex;

    & > .pie-chart {
      flex: 1;
      margin-bottom: 0;
    }

    & > .pie-chart-legend {
      width: 250px;
      margin-right: 16px;
    }
  }
}