<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.datacloud.dao.factory.DatapipelineDebugSessionRecordDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.datacloud.entity.factory.DatapipelineDebugSessionRecord" >
    <id column="id" property="id" />
    <result column="session_id" property="sessionId" />
    <result column="datapipeline_id" property="datapipelineId" />
    <result column="operator_code" property="operatorCode" />
    <result column="operator_version" property="operatorVersion" />
    <result column="status" property="status" />
    <result column="param" property="param" />
    <result column="data_path" property="dataPath" />
    <result column="log_path" property="logPath" />
    <result column="start_time" property="startTime" />
    <result column="finish_time" property="finishTime" />
    <result column="tenant_id" property="tenantId" />
    <result column="creator" property="creator" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="updater" property="updater" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  <!-- TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD table all fields -->
  <sql id="Base_Column_List" >
     `id`, `session_id`, `datapipeline_id`, `operator_code`, `operator_version`, `status`, `param`, `data_path`, `log_path`, `start_time`, `finish_time`, `tenant_id`, `creator`, `create_by`, `create_time`, `updater`, `update_by`, `update_time`
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and `id` ${idOperator} #{id}
      </if>
      <if test="sessionId != null" >
        and `session_id` ${sessionIdOperator} #{sessionId}
      </if>
      <if test="datapipelineId != null" >
        and `datapipeline_id` ${datapipelineIdOperator} #{datapipelineId}
      </if>
      <if test="operatorCode != null" >
        and `operator_code` ${operatorCodeOperator} #{operatorCode}
      </if>
      <if test="operatorVersion != null" >
        and `operator_version` ${operatorVersionOperator} #{operatorVersion}
      </if>
      <if test="status != null" >
        and `status` ${statusOperator} #{status}
      </if>
      <if test="param != null" >
        and `param` ${paramOperator} #{param}
      </if>
      <if test="dataPath != null" >
        and `data_path` ${dataPathOperator} #{dataPath}
      </if>
      <if test="logPath != null" >
        and `log_path` ${logPathOperator} #{logPath}
      </if>
      <if test="startTime != null" >
        and `start_time` ${startTimeOperator} #{startTime}
      </if>
      <if test="startTime1 != null" >
        and `start_time` &gt;= #{startTime1}
      </if>
      <if test="startTime2 != null" >
        and `start_time` &lt;= #{startTime2}
      </if>
      <if test="finishTime != null" >
        and `finish_time` ${finishTimeOperator} #{finishTime}
      </if>
      <if test="finishTime1 != null" >
        and `finish_time` &gt;= #{finishTime1}
      </if>
      <if test="finishTime2 != null" >
        and `finish_time` &lt;= #{finishTime2}
      </if>
      <if test="tenantId != null" >
        and `tenant_id` ${tenantIdOperator} #{tenantId}
      </if>
      <if test="creator != null" >
        and `creator` ${creatorOperator} #{creator}
      </if>
      <if test="createBy != null" >
        and `create_by` ${createByOperator} #{createBy}
      </if>
      <if test="createTime != null" >
        and `create_time` ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and `create_time` &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and `create_time` &lt;= #{createTime2}
      </if>
      <if test="updater != null" >
        and `updater` ${updaterOperator} #{updater}
      </if>
      <if test="updateBy != null" >
        and `update_by` ${updateByOperator} #{updateBy}
      </if>
      <if test="updateTime != null" >
        and `update_time` ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and `update_time` &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and `update_time` &lt;= #{updateTime2}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.talkingdata.datacloud.entity.factory.DatapipelineDebugSessionRecord" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD(<include refid="Base_Column_List" />)
    values (#{id}, #{sessionId}, #{datapipelineId}, #{operatorCode}, #{operatorVersion}, #{status}, #{param}, #{dataPath}, #{logPath}, #{startTime}, #{finishTime}, #{tenantId}, #{creator}, #{createBy}, #{createTime}, #{updater}, #{updateBy}, #{updateTime})
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.talkingdata.datacloud.entity.factory.DatapipelineDebugSessionRecord" >
    update TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD
       set `session_id` = #{sessionId},
           `datapipeline_id` = #{datapipelineId},
           `operator_code` = #{operatorCode},
           `operator_version` = #{operatorVersion},
           `status` = #{status},
           `param` = #{param},
           `data_path` = #{dataPath},
           `log_path` = #{logPath},
           `start_time` = #{startTime},
           `finish_time` = #{finishTime},
           `tenant_id` = #{tenantId},
           `creator` = #{creator},
           `create_by` = #{createBy},
           `create_time` = #{createTime},
           `updater` = #{updater},
           `update_by` = #{updateBy},
           `update_time` = #{updateTime}
     where `id` = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.talkingdata.datacloud.entity.factory.DatapipelineDebugSessionRecord" >
    update TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD
    <set >
      <if test="sessionId != null" >
        `session_id` = #{sessionId},
      </if>
      <if test="datapipelineId != null" >
        `datapipeline_id` = #{datapipelineId},
      </if>
      <if test="operatorCode != null" >
        `operator_code` = #{operatorCode},
      </if>
      <if test="operatorVersion != null" >
        `operator_version` = #{operatorVersion},
      </if>
      <if test="status != null" >
        `status` = #{status},
      </if>
      <if test="param != null" >
        `param` = #{param},
      </if>
      <if test="dataPath != null" >
        `data_path` = #{dataPath},
      </if>
      <if test="logPath != null" >
        `log_path` = #{logPath},
      </if>
      <if test="startTime != null" >
        `start_time` = #{startTime},
      </if>
      <if test="finishTime != null" >
        `finish_time` = #{finishTime},
      </if>
      <if test="tenantId != null" >
        `tenant_id` = #{tenantId},
      </if>
      <if test="creator != null" >
        `creator` = #{creator},
      </if>
      <if test="createBy != null" >
        `create_by` = #{createBy},
      </if>
      <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
      <if test="updater != null" >
        `updater` = #{updater},
      </if>
      <if test="updateBy != null" >
        `update_by` = #{updateBy},
      </if>
      <if test="updateTime != null" >
        `update_time` = #{updateTime},
      </if>
    </set>
     where `id` = #{id}
  </update>

  <!-- 根据id查询 TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> 
      from TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD
     where `id` = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD
     where `id` = #{value}

  </delete>

  <!-- TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select count(1) from TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD列表 -->
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select <include refid="Base_Column_List"/>
      from TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>

  <!-- 通过session_id, datapipeline_id, operator_code, operator_version获取最新的记录 -->
  <select id="queryLastDebugRecord" resultMap="BaseResultMap" parameterType="com.talkingdata.datacloud.entity.factory.DatapipelineDebugSessionRecord">
    select <include refid="Base_Column_List"/>
      from TD_DC_DATAPIPELINE_DEBUG_SESSION_RECORD
    where `session_id` = #{sessionId} and `datapipeline_id` = #{datapipelineId}
          and `operator_code` = #{operatorCode} and `operator_version` = #{operatorVersion}
    order by create_time desc
    limit 1
  </select>

</mapper>
