<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.datacloud.dao.factory.OperatorFieldDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.datacloud.entity.factory.OperatorField" >
    <id column="id" property="id" />
    <result column="operator_id" property="operatorId" />
    <result column="parent_id" property="parentId" />
    <result column="field_group_name" property="fieldGroupName" />
    <result column="field_group_enable" property="fieldGroupEnable" />
    <result column="field_tab_lock" property="fieldTabLock" />
    <result column="field_tab_name" property="fieldTabName" />
    <result column="name" property="name" />
    <result column="code" property="code" />
    <result column="value_type" property="valueType" />
    <result column="default_value" property="defaultValue" />
    <result column="option_values" property="optionValues" />
    <result column="requried" property="requried" />
    <result column="min_value" property="minValue" />
    <result column="max_value" property="maxValue" />
    <result column="verify_rule" property="verifyRule" />
    <result column="verify_group_name" property="verifyGroupName" />
    <result column="verify_group_rule" property="verifyGroupRule" />
    <result column="help_info" property="helpInfo" />
    <result column="view_type" property="viewType" />
    <result column="description" property="description" />
    <result column="tenant_id" property="tenantId" />
    <result column="creator" property="creator" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="updater" property="updater" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
    <result column="view_meta_data" property="viewMetaData" />
  </resultMap>

  <!-- TD_DC_OPERATOR_FIELD table all fields -->
  <sql id="Base_Column_List" >
     `id`, `operator_id`, `parent_id`, `field_group_name`, `field_group_enable`, `field_tab_lock`, `field_tab_name`, `name`, `code`, `value_type`, `default_value`, `option_values`, `requried`, `min_value`, `max_value`, `verify_rule`, `verify_group_name`, `verify_group_rule`, `help_info`, `view_type`, `description`, `tenant_id`, `creator`, `create_by`, `create_time`, `updater`, `update_by`, `update_time`, `view_meta_data`
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and `id` ${idOperator} #{id}
      </if>
      <if test="operatorId != null" >
        and `operator_id` ${operatorIdOperator} #{operatorId}
      </if>
      <if test="parentId != null" >
        and `parent_id` ${parentIdOperator} #{parentId}
      </if>
      <if test="fieldGroupName != null" >
        and `field_group_name` ${fieldGroupNameOperator} #{fieldGroupName}
      </if>
      <if test="fieldGroupEnable != null" >
        and `field_group_enable` ${fieldGroupEnableOperator} #{fieldGroupEnable}
      </if>
      <if test="fieldTabLock != null" >
        and `field_tab_lock` ${fieldTabLockOperator} #{fieldTabLock}
      </if>
      <if test="fieldTabName != null" >
        and `field_tab_name` ${fieldTabNameOperator} #{fieldTabName}
      </if>
      <if test="name != null" >
        and `name` ${nameOperator} #{name}
      </if>
      <if test="code != null" >
        and `code` ${codeOperator} #{code}
      </if>
      <if test="valueType != null" >
        and `value_type` ${valueTypeOperator} #{valueType}
      </if>
      <if test="defaultValue != null" >
        and `default_value` ${defaultValueOperator} #{defaultValue}
      </if>
      <if test="optionValues != null" >
        and `option_values` ${optionValuesOperator} #{optionValues}
      </if>
      <if test="requried != null" >
        and `requried` ${requriedOperator} #{requried}
      </if>
      <if test="minValue != null" >
        and `min_value` ${minValueOperator} #{minValue}
      </if>
      <if test="maxValue != null" >
        and `max_value` ${maxValueOperator} #{maxValue}
      </if>
      <if test="verifyRule != null" >
        and `verify_rule` ${verifyRuleOperator} #{verifyRule}
      </if>
      <if test="verifyGroupName != null" >
        and `verify_group_name` ${verifyGroupNameOperator} #{verifyGroupName}
      </if>
      <if test="verifyGroupRule != null" >
        and `verify_group_rule` ${verifyGroupRuleOperator} #{verifyGroupRule}
      </if>
      <if test="helpInfo != null" >
        and `help_info` ${helpInfoOperator} #{helpInfo}
      </if>
      <if test="viewType != null" >
        and `view_type` ${viewTypeOperator} #{viewType}
      </if>
      <if test="description != null" >
        and `description` ${descriptionOperator} #{description}
      </if>
      <if test="tenantId != null" >
        and `tenant_id` ${tenantIdOperator} #{tenantId}
      </if>
      <if test="creator != null" >
        and `creator` ${creatorOperator} #{creator}
      </if>
      <if test="createBy != null" >
        and `create_by` ${createByOperator} #{createBy}
      </if>
      <if test="createTime != null" >
        and `create_time` ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and `create_time` &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and `create_time` &lt;= #{createTime2}
      </if>
      <if test="updater != null" >
        and `updater` ${updaterOperator} #{updater}
      </if>
      <if test="updateBy != null" >
        and `update_by` ${updateByOperator} #{updateBy}
      </if>
      <if test="updateTime != null" >
        and `update_time` ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and `update_time` &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and `update_time` &lt;= #{updateTime2}
      </if>
      <if test="viewMetaData != null" >
        and `view_meta_data` ${viewMetaDataOperator} #{viewMetaData}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.talkingdata.datacloud.entity.factory.OperatorField" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_DC_OPERATOR_FIELD(<include refid="Base_Column_List" />)
    values (#{id}, #{operatorId}, #{parentId}, #{fieldGroupName}, #{fieldGroupEnable}, #{fieldTabLock}, #{fieldTabName}, #{name}, #{code}, #{valueType}, #{defaultValue}, #{optionValues}, #{requried}, #{minValue}, #{maxValue}, #{verifyRule}, #{verifyGroupName}, #{verifyGroupRule}, #{helpInfo}, #{viewType}, #{description}, #{tenantId}, #{creator}, #{createBy}, #{createTime}, #{updater}, #{updateBy}, #{updateTime}, #{viewMetaData})
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.talkingdata.datacloud.entity.factory.OperatorField" >
    update TD_DC_OPERATOR_FIELD
       set `operator_id` = #{operatorId},
           `parent_id` = #{parentId},
           `field_group_name` = #{fieldGroupName},
           `field_group_enable` = #{fieldGroupEnable},
           `field_tab_lock` = #{fieldTabLock},
           `field_tab_name` = #{fieldTabName},
           `name` = #{name},
           `code` = #{code},
           `value_type` = #{valueType},
           `default_value` = #{defaultValue},
           `option_values` = #{optionValues},
           `requried` = #{requried},
           `min_value` = #{minValue},
           `max_value` = #{maxValue},
           `verify_rule` = #{verifyRule},
           `verify_group_name` = #{verifyGroupName},
           `verify_group_rule` = #{verifyGroupRule},
           `help_info` = #{helpInfo},
           `view_type` = #{viewType},
           `description` = #{description},
           `tenant_id` = #{tenantId},
           `creator` = #{creator},
           `create_by` = #{createBy},
           `create_time` = #{createTime},
           `updater` = #{updater},
           `update_by` = #{updateBy},
           `update_time` = #{updateTime},
           `view_meta_data` = #{viewMetaData}
     where `id` = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.talkingdata.datacloud.entity.factory.OperatorField" >
    update TD_DC_OPERATOR_FIELD
    <set >
      <if test="operatorId != null" >
        `operator_id` = #{operatorId},
      </if>
      <if test="parentId != null" >
        `parent_id` = #{parentId},
      </if>
      <if test="fieldGroupName != null" >
        `field_group_name` = #{fieldGroupName},
      </if>
      <if test="fieldGroupEnable != null" >
        `field_group_enable` = #{fieldGroupEnable},
      </if>
      <if test="fieldTabLock != null" >
        `field_tab_lock` = #{fieldTabLock},
      </if>
      <if test="fieldTabName != null" >
        `field_tab_name` = #{fieldTabName},
      </if>
      <if test="name != null" >
        `name` = #{name},
      </if>
      <if test="code != null" >
        `code` = #{code},
      </if>
      <if test="valueType != null" >
        `value_type` = #{valueType},
      </if>
      <if test="defaultValue != null" >
        `default_value` = #{defaultValue},
      </if>
      <if test="optionValues != null" >
        `option_values` = #{optionValues},
      </if>
      <if test="requried != null" >
        `requried` = #{requried},
      </if>
      <if test="minValue != null" >
        `min_value` = #{minValue},
      </if>
      <if test="maxValue != null" >
        `max_value` = #{maxValue},
      </if>
      <if test="verifyRule != null" >
        `verify_rule` = #{verifyRule},
      </if>
      <if test="verifyGroupName != null" >
        `verify_group_name` = #{verifyGroupName},
      </if>
      <if test="verifyGroupRule != null" >
        `verify_group_rule` = #{verifyGroupRule},
      </if>
      <if test="helpInfo != null" >
        `help_info` = #{helpInfo},
      </if>
      <if test="viewType != null" >
        `view_type` = #{viewType},
      </if>
      <if test="description != null" >
        `description` = #{description},
      </if>
      <if test="tenantId != null" >
        `tenant_id` = #{tenantId},
      </if>
      <if test="creator != null" >
        `creator` = #{creator},
      </if>
      <if test="createBy != null" >
        `create_by` = #{createBy},
      </if>
      <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
      <if test="updater != null" >
        `updater` = #{updater},
      </if>
      <if test="updateBy != null" >
        `update_by` = #{updateBy},
      </if>
      <if test="updateTime != null" >
        `update_time` = #{updateTime},
      </if>
      <if test="viewMetaData != null" >
        `view_meta_data` = #{viewMetaData},
      </if>
    </set>
     where `id` = #{id}
  </update>

  <!-- 根据id查询 TD_DC_OPERATOR_FIELD -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> 
      from TD_DC_OPERATOR_FIELD
     where `id` = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TD_DC_OPERATOR_FIELD
     where `id` = #{value}

  </delete>

  <!-- TD_DC_OPERATOR_FIELD 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select count(1) from TD_DC_OPERATOR_FIELD
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TD_DC_OPERATOR_FIELD列表 -->
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select <include refid="Base_Column_List"/>
      from TD_DC_OPERATOR_FIELD
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>

  <select id="findOperatoryFieldByOperatorId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" />
    from TD_DC_OPERATOR_FIELD
    where `operator_id` = #{operatorId}
  </select>
</mapper>
