body {
    font-family: "HelveticaNeue", "PingFangSC", "微软雅黑";
}
.ant-table, .ant-tabs {
    font-family: "HelveticaNeue", "PingFangSC", "微软雅黑";
}

.ant-table-thead > tr > th {
    font-weight: 700;
}