
:host ::ng-deep .search-card {
  margin: 24px 0 0;
  border-radius: 4px;

  .down {
    font-size: 16px;
    color: #80848f;
  }
}

:host ::ng-deep .ant-input-affix-wrapper {
  width: 240px;
}

:host ::ng-deep .ant-card-head {
  height: 68px;
  line-height: 68px;

  .ant-input {
    background: #FFFFFF;
    border-radius: 20px;
    width: 240px;
    height: 36px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(28,36,56,0.56);
    line-height: 14px;
    padding-left: 36px !important;
  }

  .ant-input-prefix {
    left: 16px;
  }
}

:host ::ng-deep .ant-card-body {
  padding: 0;
}

:host ::ng-deep .ant-card-extra {
  display: flex;
  align-items: center;
}