:host ::ng-deep .content-div {
  &-table {
    margin-top: 16px;
    overflow: hidden;

    &-step1 {
      float: left;
      width: 70%;
    }

    &-step3 {
      float: left;
      width: 6%;
      text-align: center;

      .ali-center {
        display: inline-block;
        margin-top: 5px;
      }

      .fk {
        float: left;
        width: 14px;
        height: 20px;
        background: #ddd;
        margin-top: 10px;
      }

      .sj {
        float: left;
        position: relative;
        height: 0px;
        width: 0px;
        border-top: 20px solid transparent;
        border-left: 16px solid #ddd;
        border-bottom: 20px solid transparent;
      }
    }

    &-step2 {
      float: right;
      width: 24%;

      .step-two-wap {
        background-color: #ffffff;
        height: 198px;

        p {
          padding: 0px 24px;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #ddd;
          font-size: 14px;
          color: #17233d;
          font-weight: 500;
          margin-bottom: 0px;
          cursor: move;

          span {
            margin-left: 10px;
          }
        }
      }
    }

    &-step {
      .li {
        height: 50px;
        line-height: 50px;
        padding: 0px 24px;
        font-size: 14px;
        color: #17233d;
        font-weight: 500;
        margin-bottom: 24px;
        background: #ffffff;
        display: block;

        .first-div {
          float: left;
          width: 180px;
        }

        .last-div {
          float: left;
          color: rgba(23, 35, 61, 0.3);
          padding-left: 24px;
          border-left: 1px solid rgba(23, 35, 61, 0.3);
          height: 26px;
          margin: 12px 0px;
          line-height: 26px;
          font-weight: normal;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 63%;
        }
      }
    }

    &-tit {
      height: 46px;
      line-height: 46px;
      padding: 0px 16px;
      margin: 0px;
    }
  }
}
:host ::ng-deep .ant-checkbox-wrapper {
  font-weight: 500;
  color: #000;
}
