.report-detail-data {
    min-height: 100%;
    padding: 20px;
}
.item-config{
    margin-bottom: 10px;
}
.item-label{
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #464C5B;
    line-height: 32px;
}
.ant-radio-wrapper {
    margin-bottom: 10px;
}
.add-button{
    width: 90%;
    text-align: left;
}
.course{
    margin-top: 12px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 90%;
    padding-left: 10px;
    >span{
        display: inline-block;
        height:100%;
        width: 55%;
        padding-right: 10px;
        border: none;
        background:none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor:pointer;
    }
}
:host ::ng-deep .report-detail-data{
    .ant-select {
        width: 100%;
    }
    .ant-select-selection, .ant-select-selection,.ant-input {
        background: none !important;
        border: none !important;
        border-bottom: 1px solid #ddd !important;
        width: 100% !important;
      }
      .ant-select-focused .ant-select-selection,.ant-select-selection:focus,.ant-select-selection:active {
        box-shadow: none !important;
      }

}