.tc-radio-list{
    display: inline-block;
}

:host /deep/ .tc-radio-list .tc-radio-list-box{
    background-color: #e0e0e0;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 32px;
    width: 59.25px;
    position: relative;
}

:host /deep/ .tc-radio-list-box:not(:first-of-type) {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 1px solid #fff;
}


:host /deep/ .tc-radio-list-box:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

:host /deep/ .tc-radio-list-box:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

:host /deep/ .tc-radio-list-box:first-of-type .ui-radiobutton-label{
    margin-left: 20px;
}

:host /deep/ .tc-radio-list-box:nth-child(2) .ui-radiobutton-label{
    margin-left: 8px;
}

:host /deep/ .ui-radiobutton-label{
    position: absolute;
    left: 0;
    bottom: -30px;
    background: #707070;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    z-index: 2;
    padding: 4px 5px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    transition: all ease 0.2s;
    font-family: "宋体"
}

:host /deep/ .tc-radio-list p-radiobutton:hover .ui-radiobutton-label{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

:host /deep/ .ui-radiobutton .ui-radiobutton-box{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.4;
    background: no-repeat url(../../../../../img/datacloud_sprite.svg);
    border: 0 none;
}

:host /deep/ .tc-radio-list-box:first-of-type p-radiobutton .ui-radiobutton .ui-radiobutton-box{
    background-position:-124px -24px;;
}

:host /deep/ .tc-radio-list-box:nth-child(2) p-radiobutton .ui-radiobutton .ui-radiobutton-box{
    background-position:-49px -999px;
}

:host /deep/ .tc-radio-list-box:nth-child(3) p-radiobutton .ui-radiobutton .ui-radiobutton-box{
    background-position:-346px -891px;
}

:host /deep/.tc-radio-list-box:last-of-type p-radiobutton .ui-radiobutton .ui-radiobutton-box{
    background-position:-120px -507px;
}

:host /deep/ .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border: 0 none;
    background-color: transparent;
    opacity: 1;
}

:host /deep/ .fa-circle:before{
    content: ''
}