.and-or-not {
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    background: #798090;
    
    display: inline-block;
    border-radius: 4px;
}

.indice {
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    border-radius: 4px;
}

.black-bg {
    background: rgba(23, 35, 61, 0.06);
    cursor: auto;
}

.tag-view-detail {
    padding: 15px 20px;
    border-bottom: #DCDEE2 1px solid;
}
.tag-view-detail .customTag-name {
    display:inline-block;
    line-height: 24px; 
    vertical-align: top;
    padding-left: 25px;
    width:70%;
}
.tag-view-detail h4 {
    font-size: 16px; 
    font-weight: bolder;
    color:#17233D;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon-tag-bg {
    display: inline-block;
    padding: 15px;
    border-radius:50%;
    background-color: #2D8CF0;
}
.icon-tag {color: #fff;font-size: 20px;}
.tag-view-detail ul{
    padding: 0;
    margin: 15px 0 0 0;
}
.tag-view-detail li  {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    display: inline-block;
}
.tag-view-detail li:first-child {
    max-width: 30%;
}
.tag-view-detail li div {
    border-right:1px solid #DCDEE2;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tag-view-detail li:last-child div {
    border-right:none;
}

  