<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.datacloud.dao.catalog.DatasetSampleDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.datacloud.entity.catalog.DatasetSample" >
    <id column="id" property="id" />
    <result column="dataset_id" property="datasetId" />
    <result column="urn" property="urn" />
    <result column="ref_id" property="refId" />
    <result column="data" property="data" />
    <result column="modified" property="modified" />
    <result column="created" property="created" />
  </resultMap>

  <!-- dict_dataset_sample table all fields -->
  <sql id="Base_Column_List" >
     `id`, `dataset_id`, `urn`, `ref_id`, `data`, `modified`, `created`
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and `id` ${idOperator} #{id}
      </if>
      <if test="datasetId != null" >
        and `dataset_id` ${datasetIdOperator} #{datasetId}
      </if>
      <if test="urn != null" >
        and `urn` ${urnOperator} #{urn}
      </if>
      <if test="refId != null" >
        and `ref_id` ${refIdOperator} #{refId}
      </if>
      <if test="data != null" >
        and `data` ${dataOperator} #{data}
      </if>
      <if test="modified != null" >
        and `modified` ${modifiedOperator} #{modified}
      </if>
      <if test="modified1 != null" >
        and `modified` &gt;= #{modified1}
      </if>
      <if test="modified2 != null" >
        and `modified` &lt;= #{modified2}
      </if>
      <if test="created != null" >
        and `created` ${createdOperator} #{created}
      </if>
      <if test="created1 != null" >
        and `created` &gt;= #{created1}
      </if>
      <if test="created2 != null" >
        and `created` &lt;= #{created2}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.talkingdata.datacloud.entity.catalog.DatasetSample" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dict_dataset_sample(<include refid="Base_Column_List" />)
    values (#{id}, #{datasetId}, #{urn}, #{refId}, #{data}, #{modified}, #{created})
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.talkingdata.datacloud.entity.catalog.DatasetSample" >
    update dict_dataset_sample
       set `dataset_id` = #{datasetId},
           `urn` = #{urn},
           `ref_id` = #{refId},
           `data` = #{data},
           `modified` = #{modified},
           `created` = #{created}
     where `id` = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.talkingdata.datacloud.entity.catalog.DatasetSample" >
    update dict_dataset_sample
    <set >
      <if test="datasetId != null" >
        `dataset_id` = #{datasetId},
      </if>
      <if test="urn != null" >
        `urn` = #{urn},
      </if>
      <if test="refId != null" >
        `ref_id` = #{refId},
      </if>
      <if test="data != null" >
        `data` = #{data},
      </if>
      <if test="modified != null" >
        `modified` = #{modified},
      </if>
      <if test="created != null" >
        `created` = #{created},
      </if>
    </set>
     where `id` = #{id}
  </update>

  <!-- 根据id查询 dict_dataset_sample -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> 
      from dict_dataset_sample
     where `id` = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dict_dataset_sample
     where `id` = #{value}

  </delete>

  <!-- dict_dataset_sample 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select count(1) from dict_dataset_sample
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询dict_dataset_sample列表 -->
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select <include refid="Base_Column_List"/>
      from dict_dataset_sample
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>

</mapper>
