.and-or-not {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background: #798090;
  display: inline-block;
  border-radius: 4px;
}

.indice {
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  border-radius: 4px;
}

.black-bg {
  background: rgba(23, 35, 61, 0.06);
  cursor: auto;
}
