.steps-head {
    padding: 33px 0;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(23,35,61,0.75);
    line-height: 22px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(23,35,61,0.25);
    .ant-steps-item.ant-steps-status-finish, .ant-steps-item.ant-steps-status-wait{
      margin-right: -75px!important;
    }
   
}


.steps-content {
    margin: 24px;
    min-height: 200px;
    text-align: center;
   
    //padding-top: 80px;
    .step1{
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(23,35,61,0.25);
      border-radius: 2px;
      .metadata-step1-info{
          padding: 24px 24px 0 24px;
          background: #fff;
      }
    }

    .step2{
      
      .metadata-step2-list{
        margin-top: 24px;
      }
    }
  }

.steps-action {
    margin: 0 24px 24px 24px;
    .stepOperate{
      display:inline-block;
      button{
        margin-right: 6px;
      }
    }
  }

