<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.BsDeviceDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="td.enterprise.entity.BsDevice" >
	<result column="id" property="id"/>
	<result column="dev_sn" property="devSn"/>
	<result column="dev_name" property="devName"/>
	<result column="dev_hard_version" property="devHardVersion"/>
	<result column="dev_soft_version" property="devSoftVersion"/>
	<result column="dev_mode" property="devMode"/>
	<result column="dev_type" property="devType"/>
	<result column="dev_online_time" property="devOnlineTime"/>
	<result column="dev_location_province" property="devLocationProvince"/>
	<result column="dev_location_city" property="devLocationCity"/>
	<result column="dev_location_country" property="devLocationCountry"/>
	<result column="dev_address" property="devAddress"/>
	<result column="dev_mac" property="devMac"/>
	<result column="memory_total_size" property="memoryTotalSize"/>
	<result column="disk_total_size" property="diskTotalSize"/>
	<result column="dev_status" property="devStatus"/>
	<result column="create_time" property="createTime"/>
	<result column="update_time" property="updateTime"/>
	<result column="run_date" property="runDate"/>
  </resultMap>
       
  <!-- TD_BS_DEVICE table all fields -->
  <sql id="Base_Column_List" >
	 id,dev_sn,dev_name,dev_hard_version,dev_soft_version,dev_mode,dev_type,dev_online_time,dev_location_province,dev_location_city,dev_location_country,dev_address,dev_mac,memory_total_size,disk_total_size,dev_status,create_time,update_time,run_date
  </sql>
   
  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
	      <if test="id != null and id != ''" >
        and id =  #{id}
	  </if>
	      <if test="devSn != null and devSn != ''" >
        and dev_sn =  #{devSn}
	  </if>
	      <if test="devName != null and devName != ''" >
        and dev_name =  #{devName}
	  </if>
	      <if test="devHardVersion != null and devHardVersion != ''" >
        and dev_hard_version =  #{devHardVersion}
	  </if>
	      <if test="devSoftVersion != null and devSoftVersion != ''" >
        and dev_soft_version =  #{devSoftVersion}
	  </if>
	      <if test="devMode != null and devMode != ''" >
        and dev_mode =  #{devMode}
	  </if>
	      <if test="devType != null and devType != ''" >
        and dev_type =  #{devType}
	  </if>
	      <if test="devOnlineTime != null and devOnlineTime != ''" >
        and dev_online_time =  #{devOnlineTime}
	  </if>
	      <if test="devLocationProvince != null and devLocationProvince != ''" >
        and dev_location_province =  #{devLocationProvince}
	  </if>
	      <if test="devLocationCity != null and devLocationCity != ''" >
        and dev_location_city =  #{devLocationCity}
	  </if>
	      <if test="devLocationCountry != null and devLocationCountry != ''" >
        and dev_location_country =  #{devLocationCountry}
	  </if>
	      <if test="devAddress != null and devAddress != ''" >
        and dev_address =  #{devAddress}
	  </if>
	      <if test="devMac != null and devMac != ''" >
        and dev_mac =  #{devMac}
	  </if>
	      <if test="memoryTotalSize != null and memoryTotalSize != ''" >
        and memory_total_size =  #{memoryTotalSize}
	  </if>
	      <if test="diskTotalSize != null and diskTotalSize != ''" >
        and disk_total_size =  #{diskTotalSize}
	  </if>
	      <if test="devStatus != null and devStatus != ''" >
        and dev_status =  #{devStatus}
	  </if>
	      <if test="createTime != null and createTime != ''" >
        and create_time =  #{createTime}
	  </if>
	      <if test="updateTime != null and updateTime != ''" >
        and update_time =  #{updateTime}
	  </if>
	      <if test="runDate != null and runDate != ''" >
        and run_date =  #{runDate}
	  </if>
    </trim>
  </sql>
   
  <!-- 插入记录 -->
  <insert id="insert" parameterType="Object" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	  SELECT LAST_INSERT_ID()
    </selectKey>
      insert into 
TD_BS_DEVICE(id,dev_sn,dev_name,dev_hard_version,dev_soft_version,dev_mode,dev_type,dev_online_time,dev_location_province,dev_location_city,dev_location_country,dev_address,dev_mac,memory_total_size,disk_total_size,dev_status,create_time,update_time,run_date)
 values(#{id},#{devSn},#{devName},#{devHardVersion},#{devSoftVersion},#{devMode},#{devType},#{devOnlineTime},#{devLocationProvince},#{devLocationCity},#{devLocationCountry},#{devAddress},#{devMac},#{memoryTotalSize},#{diskTotalSize},#{devStatus},now(),now(),#{runDate})
  </insert>

  <!-- 根据id，修改记录-->  
  <update id="updateByPrimaryKey" parameterType="Object" >
      update TD_BS_DEVICE set dev_sn=#{devSn},dev_name=#{devName},dev_hard_version=#{devHardVersion},dev_soft_version=#{devSoftVersion},dev_mode=#{devMode},dev_type=#{devType},dev_online_time=#{devOnlineTime},dev_location_province=#{devLocationProvince},dev_location_city=#{devLocationCity},dev_location_country=#{devLocationCountry},dev_address=#{devAddress},dev_mac=#{devMac},memory_total_size=#{memoryTotalSize},disk_total_size=#{diskTotalSize},dev_status=#{devStatus},update_time=now(),run_date=#{runDate} where id=#{id}
  </update>
 
  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="Object" >
      update TD_BS_DEVICE set 
		<if test="devSn != null  ">
		dev_sn=#{devSn},
	</if>
	<if test="devName != null  ">
		dev_name=#{devName},
	</if>
	<if test="devHardVersion != null  ">
		dev_hard_version=#{devHardVersion},
	</if>
	<if test="devSoftVersion != null  ">
		dev_soft_version=#{devSoftVersion},
	</if>
	<if test="devMode != null  ">
		dev_mode=#{devMode},
	</if>
	<if test="devType != null  ">
		dev_type=#{devType},
	</if>
	<if test="devOnlineTime != null  ">
		dev_online_time=#{devOnlineTime},
	</if>
	<if test="devLocationProvince != null  ">
		dev_location_province=#{devLocationProvince},
	</if>
	<if test="devLocationCity != null  ">
		dev_location_city=#{devLocationCity},
	</if>
	<if test="devLocationCountry != null  ">
		dev_location_country=#{devLocationCountry},
	</if>
	<if test="devAddress != null  ">
		dev_address=#{devAddress},
	</if>
	<if test="devMac != null  ">
		dev_mac=#{devMac},
	</if>
	<if test="memoryTotalSize != null  ">
		memory_total_size=#{memoryTotalSize},
	</if>
	<if test="diskTotalSize != null  ">
		disk_total_size=#{diskTotalSize},
	</if>
	<if test="devStatus != null  ">
		dev_status=#{devStatus},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	<if test="runDate != null  ">
		run_date=#{runDate},
	</if>
	update_time = now() 
	where id=#{id}
  </update>
 
  <!-- 根据id查询 绫致店铺设备关系 -->
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="Object">
      select <include refid="Base_Column_List" /> 
	 from TD_BS_DEVICE where id = #{id}
  </select>
  
  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
      delete from TD_BS_DEVICE where id = #{id}
  </delete>

  <!-- 绫致店铺设备关系 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from TD_BS_DEVICE 
	<include refid="Base_Where_Clause"/>
  </select>
  	
  <!-- 查询绫致店铺设备关系列表 -->
  <select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from TD_BS_DEVICE 
	<include refid="Base_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>
  
  <!-- 批量插入记录 add by liyinglei 2017-10-17 -->
  <insert id="batchInsert" parameterType="java.util.List">  
     insert into 
		TD_BS_DEVICE(dev_sn,dev_name,dev_hard_version,dev_soft_version,dev_mode,dev_type,
		dev_online_time,dev_location_province,dev_location_city,dev_location_country,dev_address,
		dev_mac,memory_total_size,disk_total_size,dev_status,create_time,update_time,run_date)
     values  
     <foreach collection="list" item="item" index="index" separator="," >  
         (#{item.devSn},#{item.devName},#{item.devHardVersion},#{item.devSoftVersion},#{item.devMode},#{item.devType},
         #{item.devOnlineTime},#{item.devLocationProvince},#{item.devLocationCity},#{item.devLocationCountry},#{item.devAddress},
         #{item.devMac},#{item.memoryTotalSize},#{item.diskTotalSize},#{item.devStatus},now(),now(),#{item.runDate})  
     </foreach>  
   </insert>
   
  <!-- 查询最近的列表  add by liyinglei 2017-10-19 -->
  <select id="queryListByRecent" resultMap="BaseResultMap"  parameterType="Object">
	SELECT t.* FROM TD_BS_DEVICE t WHERE 
		t.run_date = (SELECT MAX(t1.run_date) FROM TD_BS_DEVICE_RLT t1)
  </select>
  
  <!-- 按周期删除数据 add by liyinglei 2017-11-24 -->
  <delete id="deleteByRunDate" parameterType="Object">
      delete from TD_BS_DEVICE where run_date = #{runDate}
  </delete>
  
</mapper>   
