<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.LookalikeCrowdDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="td.enterprise.entity.LookalikeCrowd" >
	<result column="id" property="id"/>
	<result column="crowd_name" property="crowdName"/>
	<result column="exec_id" property="execId"/>
	<result column="predict_num" property="predictNum"/>
	<result column="predict_rate" property="predictRate"/>
	<result column="seed_type" property="seedType"/>
	<result column="seed_crowd_id" property="seedCrowdId"/>
	<result column="seed_crowd_name" property="seedCrowdName"/>
	<result column="seed_crowd_num" property="seedCrowdNum"/>
	<result column="seed_crowd_start_date" property="seedCrowdStartDate"/>
	<result column="seed_crowd_end_date" property="seedCrowdEndDate"/>
	<result column="is_exclude_seed_crowd" property="isExcludeSeedCrowd"/>
	<result column="status" property="status"/>
	<result column="calc_status" property="calcStatus"/>
	<result column="project_city_name" property="projectCityName"/>
	<result column="project_id" property="projectId"/>
	<result column="tenant_id" property="tenantId"/>
	<result column="update_data_time" property="updateDataTime"/>
	<result column="create_by" property="createBy"/>
	<result column="creator" property="creator"/>
	<result column="update_by" property="updateBy"/>
	<result column="create_time" property="createTime"/>
	<result column="update_time" property="updateTime"/>
  </resultMap>
       
  <!-- TD_LOOKALIKE_CROWD table all fields -->
  <sql id="Base_Column_List" >
	 id,crowd_name,exec_id,predict_num,predict_rate,seed_type,seed_crowd_id,seed_crowd_name,seed_crowd_num,seed_crowd_start_date,seed_crowd_end_date,is_exclude_seed_crowd,status,calc_status,project_city_name,project_id,tenant_id,update_data_time,create_by,creator,update_by,create_time,update_time
  </sql>
   
  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
	      <if test="id != null and id != ''" >
        and id =  #{id}
	  </if>
	   <if test="crowdName != null and crowdName != ''" >
        and crowd_name =  #{crowdName}
	  </if>
	  <if test="execId != null and execId != ''" >
        and exec_id =  #{execId}
	  </if>
	      <if test="predictNum != null and predictNum != ''" >
        and predict_num =  #{predictNum}
	  </if>
	      <if test="predictRate != null and predictRate != ''" >
        and predict_rate =  #{predictRate}
	  </if>
	      <if test="seedType != null and seedType != ''" >
        and seed_type =  #{seedType}
	  </if>
	      <if test="seedCrowdId != null and seedCrowdId != ''" >
        and seed_crowd_id =  #{seedCrowdId}
	  </if>
	      <if test="seedCrowdName != null and seedCrowdName != ''" >
        and seed_crowd_name =  #{seedCrowdName}
	  </if>
	      <if test="seedCrowdNum != null and seedCrowdNum != ''" >
        and seed_crowd_num =  #{seedCrowdNum}
	  </if>
	      <if test="seedCrowdStartDate != null and seedCrowdStartDate != ''" >
        and seed_crowd_start_date =  #{seedCrowdStartDate}
	  </if>
	      <if test="seedCrowdEndDate != null and seedCrowdEndDate != ''" >
        and seed_crowd_end_date =  #{seedCrowdEndDate}
	  </if>
	      <if test="isExcludeSeedCrowd != null and isExcludeSeedCrowd != ''" >
        and is_exclude_seed_crowd =  #{isExcludeSeedCrowd}
	  </if>
	      <if test="status != null and status != ''" >
        and status =  #{status}
	  </if>
	      <if test="calcStatus != null and calcStatus != ''" >
        and calc_status =  #{calcStatus}
	  </if>
	      <if test="projectCityName != null and projectCityName != ''" >
        and project_city_name =  #{projectCityName}
	  </if>
	      <if test="projectId != null and projectId != ''" >
        and project_id =  #{projectId}
	  </if>
	      <if test="tenantId != null and tenantId != ''" >
        and tenant_id =  #{tenantId}
	  </if>
	      <if test="updateDataTime != null and updateDataTime != ''" >
        and update_data_time =  #{updateDataTime}
	  </if>
	      <if test="createBy != null and createBy != ''" >
        and create_by =  #{createBy}
	  </if>
	      <if test="creator != null and creator != ''" >
        and creator =  #{creator}
	  </if>
	      <if test="updateBy != null and updateBy != ''" >
        and update_by =  #{updateBy}
	  </if>
	      <if test="createTime != null and createTime != ''" >
        and create_time =  #{createTime}
	  </if>
	      <if test="updateTime != null and updateTime != ''" >
        and update_time =  #{updateTime}
	  </if>
	  <if test="q != null and q != ''" >
      	and (crowd_name like CONCAT('%',#{q},'%') or seed_crowd_name like CONCAT('%',#{q},'%') )
	  </if>
	  
    </trim>
  </sql>
   
  <!-- 插入记录 -->
  <insert id="insert" parameterType="Object" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	  SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_LOOKALIKE_CROWD(id,crowd_name,exec_id,predict_num,predict_rate,seed_type,seed_crowd_id,seed_crowd_name,seed_crowd_num,seed_crowd_start_date,seed_crowd_end_date,is_exclude_seed_crowd,status,calc_status,project_city_name,project_id,tenant_id,update_data_time,create_by,creator,update_by,create_time,update_time)
 values(#{id},#{crowdName},#{execId},#{predictNum},#{predictRate},#{seedType},#{seedCrowdId},#{seedCrowdName},#{seedCrowdNum},#{seedCrowdStartDate},#{seedCrowdEndDate},#{isExcludeSeedCrowd},#{status},#{calcStatus},#{projectCityName},#{projectId},#{tenantId},#{updateDataTime},#{createBy},#{creator},#{updateBy},now(),now())
  </insert>

  <!-- 根据id，修改记录-->  
  <update id="updateByPrimaryKey" parameterType="Object" >
    update TD_LOOKALIKE_CROWD set crowd_name=#{crowdName},exec_id=#{execId},predict_num=#{predictNum},predict_rate=#{predictRate},seed_type=#{seedType},seed_crowd_id=#{seedCrowdId},seed_crowd_name=#{seedCrowdName},seed_crowd_num=#{seedCrowdNum},seed_crowd_start_date=#{seedCrowdStartDate},seed_crowd_end_date=#{seedCrowdEndDate},is_exclude_seed_crowd=#{isExcludeSeedCrowd},status=#{status},calc_status=#{calcStatus},project_city_name=#{projectCityName},project_id=#{projectId},tenant_id=#{tenantId},update_data_time=#{updateDataTime},create_by=#{createBy},creator=#{creator},update_by=#{updateBy},create_time=now(),update_time=now() where id=#{id}
  </update>
 
  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="Object" >
    update TD_LOOKALIKE_CROWD set 
	<trim  suffixOverrides="," >
	<if test="crowdName != null  ">
		crowd_name=#{crowdName},
	</if>
	<if test="execId != null  ">
		exec_id=#{execId},
	</if>
	<if test="predictNum != null  ">
		predict_num=#{predictNum},
	</if>
	<if test="predictRate != null  ">
		predict_rate=#{predictRate},
	</if>
	<if test="seedType != null  ">
		seed_type=#{seedType},
	</if>
	<if test="seedCrowdId != null  ">
		seed_crowd_id=#{seedCrowdId},
	</if>
	<if test="seedCrowdName != null  ">
		seed_crowd_name=#{seedCrowdName},
	</if>
	<if test="seedCrowdNum != null  ">
		seed_crowd_num=#{seedCrowdNum},
	</if>
	<if test="seedCrowdStartDate != null  ">
		seed_crowd_start_date=#{seedCrowdStartDate},
	</if>
	<if test="seedCrowdEndDate != null  ">
		seed_crowd_end_date=#{seedCrowdEndDate},
	</if>
	<if test="isExcludeSeedCrowd != null  ">
		is_exclude_seed_crowd=#{isExcludeSeedCrowd},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="calcStatus != null  ">
		calc_status=#{calcStatus},
	</if>
	<if test="projectCityName != null  ">
		project_city_name=#{projectCityName},
	</if>
	<if test="projectId != null  ">
		project_id=#{projectId},
	</if>
	<if test="tenantId != null  ">
		tenant_id=#{tenantId},
	</if>
	<if test="updateDataTime != null  ">
		update_data_time=#{updateDataTime},
	</if>
	<if test="createBy != null  ">
		create_by=#{createBy},
	</if>
	<if test="creator != null  ">
		creator=#{creator},
	</if>
	<if test="updateBy != null  ">
		update_by=#{updateBy},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	</trim> where id=#{id}
  </update>
 
  <!-- 根据id查询 相似人群 -->
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="Object">
    select <include refid="Base_Column_List" /> 
	 from TD_LOOKALIKE_CROWD where id = #{id}
  </select>
  
  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete 	 from TD_LOOKALIKE_CROWD where id = #{id}
  </delete>

  <!-- 相似人群 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from TD_LOOKALIKE_CROWD 
	<include refid="Base_Where_Clause"/>
  </select>
  	
  
  <!-- 查询相似人群列表 -->
  <select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from TD_LOOKALIKE_CROWD 
	<include refid="Base_Where_Clause"/>
	order by create_time desc
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>
  
  <sql id="Base_Column_List_WithOtherCrowd" >
	 id,crowd_name,exec_id,predict_num,predict_rate,seed_type,seed_crowd_id,seed_crowd_name,seed_crowd_num,status,calc_status,project_city_name,project_id,tenant_id,update_data_time,
  </sql>
   <!-- 查询条件 -->
  <sql id="Base_Where_Clause_WithOtherCrowd">
    where 1=1
    <trim suffixOverrides="," >
	      <if test="id != null and id != ''" >
        and id =  #{id}
	  </if>
	   <if test="crowdName != null and crowdName != ''" >
        and crowd_name =  #{crowdName}
	  </if>
	  <if test="execId != null and execId != ''" >
        and exec_id =  #{execId}
	  </if>
	      <if test="status != null and status != ''" >
        and status =  #{status}
	  </if>
	      <if test="calcStatus != null and calcStatus != ''" >
        and calc_status =  #{calcStatus}
	  </if>
	      <if test="projectId != null and projectId != ''" >
        and project_id =  #{projectId}
	  </if>
	      <if test="tenantId != null and tenantId != ''" >
        and tenant_id =  #{tenantId}
	  </if>
	      <if test="updateDataTime != null and updateDataTime != ''" >
        and update_data_time =  #{updateDataTime}
	  </if>
	      <if test="createBy != null and createBy != ''" >
        and create_by =  #{createBy}
	  </if>
	      <if test="creator != null and creator != ''" >
        and creator =  #{creator}
	  </if>
	      <if test="updateBy != null and updateBy != ''" >
        and update_by =  #{updateBy}
	  </if>
	      <if test="createTime != null and createTime != ''" >
        and create_time =  #{createTime}
	  </if>
	      <if test="updateTime != null and updateTime != ''" >
        and update_time =  #{updateTime}
	  </if>
	  <if test="q != null and q != ''" >
      	and (crowd_name like CONCAT('%',#{q},'%') )
	  </if>
	  
    </trim>
  </sql>
  
    <!-- 查询列表 -->
  <select id="queryByListWithOtherCrowd" resultMap="BaseResultMap"  parameterType="Object">
	select 
	id,
	crowd_name,
	project_id,
	calc_status,
	status,
	exec_id,
	create_time,
	'LookalikeCrowd' as fromTable,
	seed_crowd_name
	from TD_LOOKALIKE_CROWD 
	<include refid="Base_Where_Clause"/>
	union all
	select 
		id,
		crowd_name,
		project_id,
		calc_status,
		status,
		exec_id,
		create_time,
		'BehaviorCrowd' as fromTable,
		crowd_name as seedCrowdName
	from TD_BEHAVIOR_CROWD 
	<include refid="Base_Where_Clause_WithOtherCrowd"/>
	order by create_time desc
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>
  
    <!--  列表总数-->
  <select id="queryByCountWithOtherCrowd" resultType="java.lang.Integer"  parameterType="Object">
	select sum(count) 
	FROM
	(
	select 
		count(1) as count
		from TD_LOOKALIKE_CROWD 
		<include refid="Base_Where_Clause"/>
	union all
	select 
		count(1) as count
	from TD_BEHAVIOR_CROWD 
	<include refid="Base_Where_Clause_WithOtherCrowd"/>
	)
	a;
	
  </select>
</mapper>   
