<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.datacloud.dao.admin.AttachmentDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.datacloud.entity.admin.Attachment" >
	<result column="id" property="id"/>
	<result column="calc_code" property="calcCode"/>
	<result column="calc_type" property="calcType"/>
	<result column="calc_id" property="calcId"/>
	<result column="type" property="type"/>
	<result column="name" property="name"/>
	<result column="path" property="path"/>
	<result column="description" property="description"/>
	<result column="attr1" property="attr1"/>
	<result column="attr2" property="attr2"/>
	<result column="attr3" property="attr3"/>
	<result column="create_by" property="createBy"/>
	<result column="creator" property="creator"/>
	<result column="update_by" property="updateBy"/>
	<result column="create_time" property="createTime"/>
	<result column="update_time" property="updateTime"/>
	<result column="tenant_id" property="tenantId"/>
  </resultMap>
       
  <!-- TD_ATTACHMENT table all fields -->
  <sql id="Base_Column_List" >
	 id,calc_code,calc_type,calc_id,type,name,path,description,attr1,attr2,attr3,create_by,creator,update_by,create_time,update_time,tenant_id
  </sql>
   
  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
	      <if test="id != null and id != ''" >
        and id =  #{id}
	  </if>
	      <if test="calcCode != null and calcCode != ''" >
        and calc_code =  #{calcCode}
	  </if>
	      <if test="calcType != null and calcType != ''" >
        and calc_type =  #{calcType}
	  </if>
	      <if test="calcId != null and calcId != ''" >
        and calc_id =  #{calcId}
	  </if>
	      <if test="type != null and type != ''" >
        and type =  #{type}
	  </if>
	      <if test="name != null and name != ''" >
        and name =  #{name}
	  </if>
	      <if test="path != null and path != ''" >
        and path =  #{path}
	  </if>
	      <if test="description != null and description != ''" >
        and description =  #{description}
	  </if>
	      <if test="attr1 != null and attr1 != ''" >
        and attr1 =  #{attr1}
	  </if>
	      <if test="attr2 != null and attr2 != ''" >
        and attr2 =  #{attr2}
	  </if>
	      <if test="attr3 != null and attr3 != ''" >
        and attr3 =  #{attr3}
	  </if>
	      <if test="createBy != null and createBy != ''" >
        and create_by =  #{createBy}
	  </if>
	      <if test="creator != null and creator != ''" >
        and creator =  #{creator}
	  </if>
	      <if test="updateBy != null and updateBy != ''" >
        and update_by =  #{updateBy}
	  </if>
	      <if test="createTime != null and createTime != ''" >
        and create_time =  #{createTime}
	  </if>
	      <if test="updateTime != null and updateTime != ''" >
        and update_time =  #{updateTime}
	  </if>
	   <if test="tenantId != null and tenantId != ''" >
        and tenant_id =  #{tenantId}
	  </if>
    </trim>
  </sql>
   
  <!-- 插入记录 -->
  <insert id="insert" parameterType="Object" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	  SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_ATTACHMENT(id,calc_code,calc_type,calc_id,type,name,path,description,attr1,attr2,attr3,create_by,creator,update_by,create_time,update_time,tenant_id)
 values(#{id},#{calcCode},#{calcType},#{calcId},#{type},#{name},#{path},#{description},#{attr1},#{attr2},#{attr3},#{createBy},#{creator},#{updateBy},now(),now(),#{tenantId})
  </insert>

  <!-- 根据id，修改记录-->  
  <update id="updateByPrimaryKey" parameterType="Object" >
    update TD_ATTACHMENT set calc_code=#{calcCode},calc_type=#{calcType},calc_id=#{calcId},type=#{type},name=#{name},path=#{path},description=#{description},attr1=#{attr1},attr2=#{attr2},attr3=#{attr3},create_by=#{createBy},creator=#{creator},update_by=#{updateBy},create_time=now(),update_time=now(),tenant_id=#{tenantId} where id=#{id}
  </update>
 
  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="Object" >
    update TD_ATTACHMENT set 
	<trim  suffixOverrides="," >
	<if test="calcCode != null  ">
		calc_code=#{calcCode},
	</if>
	<if test="calcType != null  ">
		calc_type=#{calcType},
	</if>
	<if test="calcId != null  ">
		calc_id=#{calcId},
	</if>
	<if test="type != null  ">
		type=#{type},
	</if>
	<if test="name != null  ">
		name=#{name},
	</if>
	<if test="path != null  ">
		path=#{path},
	</if>
	<if test="description != null  ">
		description=#{description},
	</if>
	<if test="attr1 != null  ">
		attr1=#{attr1},
	</if>
	<if test="attr2 != null  ">
		attr2=#{attr2},
	</if>
	<if test="attr3 != null  ">
		attr3=#{attr3},
	</if>
	<if test="createBy != null  ">
		create_by=#{createBy},
	</if>
	<if test="creator != null  ">
		creator=#{creator},
	</if>
	<if test="updateBy != null  ">
		update_by=#{updateBy},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	<if test="tenantId != null  ">
		tenant_id=#{tenantId},
	</if>
	</trim> where id=#{id}
  </update>
 
  <!-- 根据id查询 附件 -->
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="Object">
    select <include refid="Base_Column_List" /> 
	 from TD_ATTACHMENT where id = #{id}
  </select>
  
  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete 	 from TD_ATTACHMENT where id = #{id}
  </delete>

  <!-- 附件 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from TD_ATTACHMENT 
	<include refid="Base_Where_Clause"/>
  </select>
  	
  <!-- 查询附件列表 -->
  <select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from TD_ATTACHMENT 
	<include refid="Base_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>
  
  <!-- 根据ClacId查询附件信息 -->
  <select id="getByCalcId" resultMap="BaseResultMap"  parameterType="String">
	select 
	<include refid="Base_Column_List"/>
	from TD_ATTACHMENT 
	where calc_id=#{calcId}
  </select>
  
  <delete id="deleteByExcludesTenantIds" parameterType="Object">
    delete from TD_ATTACHMENT where tenant_id not in
	<foreach collection="tenantIds" open="(" separator="," close=")" item="item">
		#{item}
	</foreach>
	AND tenant_id IS NOT NULL AND tenant_id != 'null'
  </delete>
  
</mapper>   
