<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.datacloud.dao.admin.EtlRuleAttributeDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.datacloud.entity.admin.EtlRuleAttribute" >
	<result column="id" property="id"/>
	<result column="rule_id" property="ruleId"/>
	<result column="code" property="code"/>
	<result column="name" property="name"/>
	<result column="value" property="value"/>
	<result column="description" property="description"/>
	<result column="create_by" property="createBy"/>
	<result column="creator" property="creator"/>
	<result column="update_by" property="updateBy"/>
	<result column="create_time" property="createTime"/>
	<result column="update_time" property="updateTime"/>
	<result column="tenant_id" property="tenantId"/>
  </resultMap>
       
  <!-- TD_ETL_RULE_ATTRIBUTE table all fields -->
  <sql id="Base_Column_List" >
	 id,rule_id,code,name,value,description,create_by,creator,update_by,create_time,update_time,tenant_id
  </sql>
   
  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
	      <if test="id != null and id != ''" >
        and id =  #{id}
	  </if>
	      <if test="ruleId != null and ruleId != ''" >
        and rule_id =  #{ruleId}
	  </if>
	      <if test="code != null and code != ''" >
        and code =  #{code}
	  </if>
	      <if test="name != null and name != ''" >
        and name =  #{name}
	  </if>
	      <if test="value != null and value != ''" >
        and value =  #{value}
	  </if>
	      <if test="description != null and description != ''" >
        and description =  #{description}
	  </if>
	      <if test="createBy != null and createBy != ''" >
        and create_by =  #{createBy}
	  </if>
	      <if test="creator != null and creator != ''" >
        and creator =  #{creator}
	  </if>
	      <if test="updateBy != null and updateBy != ''" >
        and update_by =  #{updateBy}
	  </if>
	      <if test="createTime != null and createTime != ''" >
        and create_time =  #{createTime}
	  </if>
	      <if test="updateTime != null and updateTime != ''" >
        and update_time =  #{updateTime}
	  </if>
	  <if test="tenantId != null and tenantId != ''" >
        and tenant_id =  #{tenantId}
	  </if>
    </trim>
  </sql>
   
  <!-- 插入记录 -->
  <insert id="insert" parameterType="Object" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	  SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_ETL_RULE_ATTRIBUTE(id,rule_id,code,name,value,description,create_by,creator,update_by,create_time,update_time,tenant_id)
 values(#{id},#{ruleId},#{code},#{name},#{value},#{description},#{createBy},#{creator},#{updateBy},now(),now(),#{tenantId})
  </insert>

  <!-- 根据id，修改记录-->  
  <update id="updateByPrimaryKey" parameterType="Object" >
    update TD_ETL_RULE_ATTRIBUTE set rule_id=#{ruleId},code=#{code},name=#{name},value=#{value},description=#{description},create_by=#{createBy},creator=#{creator},update_by=#{updateBy},create_time=now(),update_time=now(),tenant_id=#{tenantId}  where id=#{id}
  </update>
 
  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="Object" >
    update TD_ETL_RULE_ATTRIBUTE set 
	<trim  suffixOverrides="," >
	<if test="ruleId != null  ">
		rule_id=#{ruleId},
	</if>
	<if test="code != null  ">
		code=#{code},
	</if>
	<if test="name != null  ">
		name=#{name},
	</if>
	<if test="value != null  ">
		value=#{value},
	</if>
	<if test="description != null  ">
		description=#{description},
	</if>
	<if test="createBy != null  ">
		create_by=#{createBy},
	</if>
	<if test="creator != null  ">
		creator=#{creator},
	</if>
	<if test="updateBy != null  ">
		update_by=#{updateBy},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	<if test="tenantId != null  ">
		tenant_id=#{tenantId},
	</if>
	</trim> where id=#{id}
  </update>
 
  <!-- 根据id查询 ETL规则属性 -->
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="Object">
    select <include refid="Base_Column_List" /> 
	 from TD_ETL_RULE_ATTRIBUTE where id = #{id}
  </select>
  
  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete 	 from TD_ETL_RULE_ATTRIBUTE where id = #{id}
  </delete>

  <!-- ETL规则属性 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from TD_ETL_RULE_ATTRIBUTE 
	<include refid="Base_Where_Clause"/>
  </select>
  	
  <!-- 查询ETL规则属性列表 -->
  <select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from TD_ETL_RULE_ATTRIBUTE 
	<include refid="Base_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>
</mapper>   
