<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.datacloud.dao.admin.SequenceDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.datacloud.entity.admin.Sequence" >
	<result column="seq_name" property="seqName"/>
	<result column="current_value" property="currentValue"/>
	<result column="current_day" property="currentDay"/>
	<result column="increment" property="increment"/>
	<result column="remark" property="remark"/>
  </resultMap>
       
  <!-- TD_SEQUENCE table all fields -->
  <sql id="Base_Column_List" >
	 seq_name,current_value,current_day,increment,remark
  </sql>
   
  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
	      <if test="seqName != null and seqName != ''" >
        and seq_name =  #{seqName}
	  </if>
	      <if test="currentValue != null and currentValue != ''" >
        and current_value =  #{currentValue}
	  </if>
	      <if test="currentDay != null and currentDay != ''" >
        and current_day =  #{currentDay}
	  </if>
	      <if test="increment != null and increment != ''" >
        and increment =  #{increment}
	  </if>
	      <if test="remark != null and remark != ''" >
        and remark =  #{remark}
	  </if>
    </trim>
  </sql>
   
  <!-- 插入记录 -->
  <insert id="insert" parameterType="Object" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	  SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_SEQUENCE(seq_name,current_value,current_day,increment,remark)
 values(#{seqName},#{currentValue},#{currentDay},#{increment},#{remark})
  </insert>

  <!-- 根据id，修改记录-->  
  <update id="updateByPrimaryKey" parameterType="Object" >
    update TD_SEQUENCE set current_value=#{currentValue},current_day=#{currentDay},increment=#{increment},remark=#{remark} where seq_name=#{seqName}
  </update>
 
  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="Object" >
    update TD_SEQUENCE set 
	<trim  suffixOverrides="," >
	<if test="currentValue != null  ">
		current_value=#{currentValue},
	</if>
	<if test="currentDay != null  ">
		current_day=#{currentDay},
	</if>
	<if test="increment != null  ">
		increment=#{increment},
	</if>
	<if test="remark != null  ">
		remark=#{remark},
	</if>
	</trim> where seq_name=#{seqName}
  </update>
 
  <!-- 根据id查询 序列 -->
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="Object">
    select <include refid="Base_Column_List" /> 
	 from TD_SEQUENCE where seq_name = #{seqName}
  </select>
  
  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete 	 from TD_SEQUENCE where seq_name = #{seqName}
  </delete>

  <!-- 序列 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from TD_SEQUENCE 
	<include refid="Base_Where_Clause"/>
  </select>
  	
  <!-- 查询序列列表 -->
  <select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from TD_SEQUENCE 
	<include refid="Base_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>
  
  <select id="selectSeqCurrVal" resultType="java.lang.String" parameterType="com.talkingdata.datacloud.entity.admin.Sequence" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 27 09:24:25 CST 2013.
    -->
    select 
   		fun_seq_currval(#{seqName,jdbcType=VARCHAR})
  </select>
  
  <select id="selectSeqNextVal" resultType="java.lang.String" parameterType="com.talkingdata.datacloud.entity.admin.Sequence" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 27 09:24:25 CST 2013.
    -->
    select 
   		fun_seq_nextval(#{seqName,jdbcType=VARCHAR})
  </select>
  
  <select id="selectSeqSetVal" resultType="java.lang.String" parameterType="com.talkingdata.datacloud.entity.admin.Sequence" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 27 09:24:25 CST 2013.
    -->
    select 
   		fun_seq_setval(#{seqName,jdbcType=VARCHAR},  #{increment,jdbcType=INTEGER})
  </select>
</mapper>   
