<div class="clrfix carousel-app-manage" *ngIf="appList && appList.length > 0">
    <div class="clrfix carousel-panel">
    <!-- <div class="clrfix carousel-panel" [ngStyle]="{'height':isCollapse ? '81px' : 'auto' }"> -->
        <ul class="carousel-ul clrfix">
            <li class="operator" (click)="showAddModal('add');" *ngIf="showEdit">
                <p>
                        <span class="anticon anticon-plus-square" style="color: #96C5F7; font-size:40px;"></span>
                </p>
                <p>添加应用</p>
            </li>
            <li class="item" title="{{app.name}}" *ngFor="let app of appList" [ngClass]="{'active':app.id == curApp.id}">
                <div (click)="editApp(app);">
                    <p class="logo">
                        <img alt="图片"  src="{{app.icon || defaultAppIcon}}" />
                        <!-- {{app.icon}} -->
                    </p>
                    <p class="name">{{app.name}}</p>
                </div>
            </li>
        </ul>
        <div class="carousel-col">
            <a (click)="toggleCollapse()">
                <span *ngIf="isCollapse">展开</span><span *ngIf="!isCollapse">收起</span>
                <span class="anticon" [class.anticon-down]="isCollapse" [class.anticon-up]="!isCollapse"></span>
            </a>
        </div>
    </div>
    <div class="clrfix tree-panel">
        <div class="clrfix carousel-operator">
            <strong class="title">应用功能</strong>
            <div class="operator">
                <button nz-button [nzType]="'primary'" (click)="showAddModal('edit');" *ngIf="showEdit">
                    <span>编辑</span>
                </button>
            </div>
        </div>
        <checkbox-tree-dis [treeDatas]="resourceTreeDatas" [isSet]="isSetTreeDatas" (onBack)="getBackTreeDatas($event)"></checkbox-tree-dis>
    </div>

</div>
<div class="clrfix carousel-app-empty" *ngIf="!appList || appList.length == 0">
    <p><img alt="图片" src="./assets/images/app/app-empty.png" height="141" width="251"/></p>
    <p >
        <button nz-button [nzType]="'primary'"  [nzSize]="'large'" style="width: 100px;" (click)="showAddModal('add');">
            <span>配置</span>
        </button>
    </p>
</div>

<carousel-app-add-dialog [isShow]="isShowAddModal" [addType]="addType" (onClose)="hideAddModal($event)" [checkedList]="appList" [queryParams]="queryParams" (onSubmit)="onSubmitModal($event)"></carousel-app-add-dialog>
