.title{
    margin-bottom: 10px;
    height: 18px;
    p{
        float: left;
        font-family: PingFangSC-Medium;
        font-size: 12px;
        color: #17233D;
    }
}

.add span{
    color: #2d8cf0;
    cursor: pointer;
}

i{
    width: 15px;
    cursor: pointer;
}