.refolder-report{
    position: relative;
    top: 24px;
    margin: 0 24px 0 24px;
    overflow: hidden;
    background: #fff;
}
.refolder-btn{
    width:100%;
    padding: 13px 24px;
}
.refolder-btn reportfolder-detail-advanced-search{
    float: right;
}
.refolder-btn reportfolder-detail-operate{
    float: left;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
