::ng-deep {
    .report-move-list{
        .list{
            display: inline-block;
            white-space:nowrap;
            overflow: hidden;
            text-overflow:ellipsis !important;
        }
    }
    .report-move-search{
        margin-bottom: 10px;
        span{
            float:left;
            line-height: 32px;
        }
        .ant-input-affix-wrapper {
            width: 200px;
            float: right;
            line-height: 32px;
        }

    }
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}