::ng-deep .cover-ant-form-item-label .ant-form-item-required:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    line-height: 1;
    font-size: 14px;
    color: #ffffff;
}

::ng-deep .has-error .ant-select-selection {
    border-color: rgba(23, 35, 61, 0.15) !important;
}

::ng-deep .has-error .ant-input, .has-error .ant-input {
    border-color: rgba(23, 35, 61, 0.15) !important;
}

::ng-deep .has-error .ant-input, .has-error .ant-input:hover {
    border-color: rgba(23, 35, 61, 0.15) !important;
}