:host ::ng-deep .content-div {
    margin: 16px;

    &-table {
        background: #ffffff;
        margin-top: 16px;

        &-tit {
            height: 46px;
            line-height: 46px;
            padding: 0px 16px;
        }
    }
}