:host ::ng-deep .search-list {
  /*  border-top: 1px solid rgba(23, 35, 61, 0.10);*/
  background-color: #ffffff;

  .item {
    margin-right: 10px;
  }

  &-fitst {
    overflow: hidden;

    &-left {
      float: left;

      &-one {
        margin-right: 4px;
        display: inline-block;
      }

      &-bg {
        font-size: 12px;
        color: rgba(23, 35, 61, 0.75);
        background: rgba(23, 35, 61, 0.06);
        padding: 6px 12px 6px 12px;
        border-radius: 3px;
        line-height: 20px;
      }
    }

    &-right {
      float: right;
      font-size: 12px;
      color: #2d8cf0;
      cursor: pointer;

      span {
        margin: 0px 6px;
      }
    }
  }

  &-other {
    padding: 0 0 12px 0;

    &-left {
      &-one {
        margin-right: 4px;
        display: inline-block;

        .range {
          width: 100px;
          display: inline-block;
        }
      }

      &-bg {
        font-size: 12px;
        color: rgba(23, 35, 61, 0.75);
        background: rgba(23, 35, 61, 0.06);
        padding: 6px 12px 6px 12px;
        border-radius: 3px;
        line-height: 20px;
      }

      .line {
        border-left: 1px solid;
        border-left-color: rgba(23, 35, 61, 0.16);
        top: -12px;
        left: 31px;
        height: 12px;
        width: 16px;
        position: absolute;
      }
    }

    .add-button {
      float: left;
      line-height: 32px;

      i {
        color: #2d8cf0;
        vertical-align: sub;
        font-size: 18px;
        margin: 0 2px 0 0;
        float: left;
      }
    }

    .search-button {
      float: right;
      margin-right: 20px;

      button {
        background: #2d8cf0;
        color: #ffffff;
      }
    }
  }

  &-other-first {
    padding: 0;
  }

  &-one {
    padding: 12px 0px;
  }
}
