<div class="subcontractSdetails">
  <div class="_top">
    <common-date (dateChange)="dataChange($event)" [_date]="newDate"></common-date>
    <common-select
      [dicKey]="'_td_crowd'"
      [_name]="'人群筛选器'"
      (_selctChange)="selectchangge($event)"
      [selectData]="selectValue"
      [All]="false"
    >
    </common-select>
    <span class="_select">
      <span class="name">渠道</span>
      <nz-select
        nzShowSearch
        [nzAllowClear]="false"
        [nzServerSearch]="true"
        nzPlaceHolder="请选择筛选条件"
        [nzNotFoundContent]="'暂无数据'"
        [(ngModel)]="sdetailsSelectedValue"
        (nzOnSearch)="DetailsSearchChange($event)"
        (nzScrollToBottom)="scrollToBottom()"
        (nzOpenChange)="close($event)"
        (ngModelChange)="DetailsSearchValueChange(sdetailsSelectedValue)"
      >
        <span *ngIf="!_longRangeSearch">
          <nz-option
            *ngIf="channelSearch && !channelSearch.length && channelSearchloading"
            [nzDisabled]="true"
            [nzCustomContent]="true"
          >
            <em class="anticon anticon-loading anticon-spin"></em> Loading...
          </nz-option>
          <nz-option
            *ngFor="let option of channelSearch"
            [nzLabel]="option.label"
            [nzValue]="option.value"
            [nzCustomContent]="true"
          >
            <span title="{{ option.label }}">{{ option.label }}</span>
          </nz-option>
        </span>
        <span *ngIf="_longRangeSearch">
          <nz-option
            *ngFor="let option of listOfOptionSearch"
            [nzLabel]="option.label"
            [nzValue]="option.value"
            [nzCustomContent]="true"
          >
            <span title="{{ option.label }}">{{ option.label }}</span>
          </nz-option>
          <nz-option nzDisabled *ngIf="longRangeSearchLoading" nzCustomContent>
            <em class="anticon anticon-loading anticon-spin"></em> Loading...
          </nz-option>
        </span>
      </nz-select>
    </span>
  </div>
  <!-- 数据概览  -->
  <div class="dataoverview">
    <app-overview [rowCount]="6" [options]="overviewOptions" [loading]="overviewlosding"></app-overview>
  </div>
  <!-- 渠道趋势 -->
  <div class="_channelTrend">
    <div class="_trendHeader">
      <span>
        {{ tendency }}
      </span>
    </div>
    <div class="_trendCenterTabs">
      <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="tabsChange(selectedIndex)">
        <nz-tab *ngFor="let item of tabsLists" [nzTitle]="item.label"> </nz-tab>
      </nz-tabset>
    </div>
    <div class="_trendEcharts">
      <div *ngIf="echartsLoading" class="demo-chart">
        <app-loading-and-no-data [isLoading]="load" [isNoData]="!load"></app-loading-and-no-data>
      </div>
      <div *ngIf="!echartsLoading" echarts [options]="chartOption" class="demo-chart"></div>
    </div>
  </div>
  <!-- 渠道明细 -->
  <div class="_channeldetail">
    <div class="detailHeader">
      <span class="left">
        渠道明细
      </span>
      <span class="downloadDetails">
        <nz-popover [nzTitle]="'下载消息'" [nzPlacement]="'bottomRight'" [nzTrigger]="'click'">
          <span
            class="icon iconfont icon-download item"
            style="color:rgba(23,35,61,0.55);cursor: pointer;"
            (click)="downloadDataDitch()"
            nz-popover
          ></span>
          <ng-template #nzTemplate>
            <div>
              导出任务创建成功，请稍后到
              <a (click)="goPage('/download-data')" style="margin:0 10px;">数据下载</a>页面下载您需要的附件。
            </div>
          </ng-template>
        </nz-popover>
      </span>
      <!-- <span class="search">
        <nz-input-group [nzPrefix]="suffixIconSearch" nzSize="small">
          <input type="text" nz-input placeholder="输入关键字搜索" [(ngModel)]="_searchText" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search" style="cursor: pointer;padding-top: 3px" (click)="searchData(_searchText)"></i>
        </ng-template>
      </span> -->
    </div>
    <div class="_trendEtable">
      <nz-table
        #basicTable
        [nzData]="dataSet"
        [nzLoading]="loading"
        [(nzPageSize)]="pageSize"
        [nzPageSizeOptions]="[10, 20, 50, 100]"
        nzShowSizeChanger
        [nzNoResult]="'暂无数据'"
        [nzFrontPagination]="true"
        (nzPageIndexChange)="PageChange()"
        (nzPageSizeChange)="PageChange(true)"
        [(nzPageIndex)]="pageIndex"
        nzShowSizeChanger="true"
      >
        <thead>
          <tr>
            <th *ngFor="let data of tableHeaders">
              <span title="{{ data.label }}">{{ data.label }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td>
              <span title="{{ data.date }}">{{ data.date }}</span>
            </td>
            <td>
              <span title="{{ data.newAdd }}">{{ data.newAdd }}</span>
            </td>
            <td>
              <span title="{{ data.active }}">{{ data.active }}</span>
            </td>
            <td>
              <span title="{{ data.launchAvg }}">{{ data.launchAvg }}</span>
            </td>
            <td>
              <span title="{{ data.durationAvg }}">{{ data.durationAvg }}</span>
            </td>
            <td>
              <span title="{{ data.durationPer }}">{{ data.durationPer }}</span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- 渠道留存率 -->
  <div class="_channelretention">
    <div class="detailHeader">
      <span class="left">
        渠道留存率
      </span>
      <span class="downloadDetails">
        <nz-popover [nzTitle]="'下载消息'" [nzPlacement]="'bottomRight'" [nzTrigger]="'click'">
          <span
            class="icon iconfont icon-download item"
            style="color:rgba(23,35,61,0.55);;cursor: pointer;"
            (click)="downloadData()"
            nz-popover
          ></span>
          <ng-template #nzTemplate>
            <div>
              导出任务创建成功，请稍后到
              <a (click)="goPage('/download-data')" style="margin:0 10px;">数据下载</a>页面下载您需要的附件。
            </div>
          </ng-template>
        </nz-popover>
        <nz-popover [nzTitle]="'指标说明'" [nzPlacement]="'right'" [nzTrigger]="'hover'">
          <span class="icon iconfont icon-info1" nz-popover style="color:rgba(23,35,61,0.55);cursor: pointer;"></span>
          <ng-template #nzTemplate>
            <ul class="des-ul">
              <li class="clrfix clrfixDetail" *ngFor="let item of retentiontootip">
                <label>{{ item.label }}</label>
                <div class="des desDetail">
                  {{ item.conter }}
                </div>
              </li>
            </ul>
          </ng-template>
        </nz-popover>
      </span>
      <span class="search">
        <nz-radio-group [(ngModel)]="channelValue" (ngModelChange)="channelValueChange($event)">
          <label nz-radio-button nzValue="_td_firstUse">新用户</label>
          <label nz-radio-button nzValue="_td_launch">活跃用户</label>
        </nz-radio-group>
      </span>
    </div>
    <app-retention [retention]="_retentionTable" [_retentionloading]="retentionloading"></app-retention>
  </div>
</div>
