.report-detail-data {
    min-height: 100%;
    padding: 20px;
}
.item-config{
    margin-bottom: 10px;
}
.item-config .config-content{
    padding-left: 16px;
}
.item-label{
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #464C5B;
    line-height: 32px;
}
.ant-radio-wrapper {
    margin-bottom: 10px;
}
.add-button{
    width: 90%;
    text-align: left;
}

.setting-box {
    height: 100%;
    width: 260px;
    position: absolute;
    right: -260px;
    top: 0px;
    z-index: 50;
}

:host ::ng-deep .report-detail-data{
    .ant-select {
        width: 100%;
    }
    .ant-select-selection, .ant-select-selection, .ant-input {
        background: none !important;
        border: none !important;
        border-bottom: 1px solid #ddd !important;
        width: 100% !important;
      }
      .ant-select-focused .ant-select-selection,.ant-select-selection:focus,.ant-select-selection:active {
        box-shadow: none !important;
      }

}