<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.datacloud.visual.dao.report.ReportDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.datacloud.visual.entity.report.Report" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="description" property="description" />
    <result column="background_color" property="backgroundColor" />
    <result column="background_image" property="backgroundImage" />
    <result column="format_and_theme" property="formatAndTheme" />
    <result column="status" property="status" />
    <result column="tenant_id" property="tenantId" />
    <result column="creator" property="creator" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="updater" property="updater" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
    <result column="publish_time" property="publishTime" />
    <result column="offline_time" property="offlineTime" />
  </resultMap>

  <!-- TD_DC_VISUAL_REPORT table all fields -->
  <sql id="Base_Column_List" >
     `id`, `name`, `description`, `background_color`, `background_image`, `format_and_theme`, `status`, `tenant_id`, `creator`, `create_by`, `create_time`, `updater`, `update_by`, `update_time`, `publish_time`, `offline_time`
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null and idOperator != 'in'" >
        and `id` ${idOperator} #{id}
      </if>
      <if test="id != null and idOperator == 'in'" >
        and `id` ${idOperator} (#{id})
      </if>
      <if test="name != null" >
        and `name` ${nameOperator} #{name}
      </if>
      <if test="description != null" >
        and `description` ${descriptionOperator} #{description}
      </if>
      <if test="backgroundColor != null" >
        and `background_color` ${backgroundColorOperator} #{backgroundColor}
      </if>
      <if test="backgroundImage != null" >
        and `background_image` ${backgroundImageOperator} #{backgroundImage}
      </if>
      <if test="formatAndTheme != null" >
        and `format_and_theme` ${formatAndThemeOperator} #{formatAndTheme}
      </if>
      <if test="status != null" >
        and `status` ${statusOperator} #{status}
      </if>
      <if test="tenantId != null" >
        and `tenant_id` ${tenantIdOperator} #{tenantId}
      </if>
      <if test="creator != null" >
        and `creator` ${creatorOperator} #{creator}
      </if>
      <if test="createBy != null" >
        and `create_by` ${createByOperator} #{createBy}
      </if>
      <if test="createTime != null" >
        and `create_time` ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and `create_time` &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and `create_time` &lt;= #{createTime2}
      </if>
      <if test="updater != null" >
        and `updater` ${updaterOperator} #{updater}
      </if>
      <if test="updateBy != null" >
        and `update_by` ${updateByOperator} #{updateBy}
      </if>
      <if test="updateTime != null" >
        and `update_time` ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and `update_time` &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and `update_time` &lt;= #{updateTime2}
      </if>
      <if test="publishTime != null" >
        and `publish_time` ${publishTimeOperator} #{publishTime}
      </if>
      <if test="publishTime1 != null" >
        and `publish_time` &gt;= #{publishTime1}
      </if>
      <if test="publishTime2 != null" >
        and `publish_time` &lt;= #{publishTime2}
      </if>
      <if test="offlineTime != null" >
        and `offline_time` ${offlineTimeOperator} #{offlineTime}
      </if>
      <if test="offlineTime1 != null" >
        and `offline_time` &gt;= #{offlineTime1}
      </if>
      <if test="offlineTime2 != null" >
        and `offline_time` &lt;= #{offlineTime2}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.talkingdata.datacloud.visual.entity.report.Report" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_DC_VISUAL_REPORT(<include refid="Base_Column_List" />)
    values (#{id}, #{name}, #{description}, #{backgroundColor}, #{backgroundImage}, #{formatAndTheme}, #{status}, #{tenantId}, #{creator}, #{createBy}, #{createTime}, #{updater}, #{updateBy}, #{updateTime}, #{publishTime}, #{offlineTime})
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.talkingdata.datacloud.visual.entity.report.Report" >
    update TD_DC_VISUAL_REPORT
       set `name` = #{name},
           `description` = #{description},
           `background_color` = #{backgroundColor},
           `background_image` = #{backgroundImage},
           `format_and_theme` = #{formatAndTheme},
           `status` = #{status},
           `tenant_id` = #{tenantId},
           `creator` = #{creator},
           `create_by` = #{createBy},
           `create_time` = #{createTime},
           `updater` = #{updater},
           `update_by` = #{updateBy},
           `update_time` = #{updateTime},
           `publish_time` = #{publishTime},
           `offline_time` = #{offlineTime}
     where `id` = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.talkingdata.datacloud.visual.entity.report.Report" >
    update TD_DC_VISUAL_REPORT
    <set >
      <if test="name != null" >
        `name` = #{name},
      </if>
      <if test="description != null" >
        `description` = #{description},
      </if>
      <if test="backgroundColor != null" >
        `background_color` = #{backgroundColor},
      </if>
      <if test="backgroundImage != null" >
        `background_image` = #{backgroundImage},
      </if>
      <if test="formatAndTheme != null" >
        `format_and_theme` = #{formatAndTheme},
      </if>
      <if test="status != null" >
        `status` = #{status},
      </if>
      <if test="tenantId != null" >
        `tenant_id` = #{tenantId},
      </if>
      <if test="creator != null" >
        `creator` = #{creator},
      </if>
      <if test="createBy != null" >
        `create_by` = #{createBy},
      </if>
      <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
      <if test="updater != null" >
        `updater` = #{updater},
      </if>
      <if test="updateBy != null" >
        `update_by` = #{updateBy},
      </if>
      <if test="updateTime != null" >
        `update_time` = #{updateTime},
      </if>
      <if test="publishTime != null" >
        `publish_time` = #{publishTime},
      </if>
      <if test="offlineTime != null" >
        `offline_time` = #{offlineTime},
      </if>
    </set>
     where `id` = #{id}
  </update>

  <!-- 根据id查询 TD_DC_VISUAL_REPORT -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> 
      from TD_DC_VISUAL_REPORT
     where `id` = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TD_DC_VISUAL_REPORT
     where `id` = #{value}

  </delete>

  <!-- TD_DC_VISUAL_REPORT 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select count(1) from TD_DC_VISUAL_REPORT
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TD_DC_VISUAL_REPORT列表 -->
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select <include refid="Base_Column_List"/>
      from TD_DC_VISUAL_REPORT
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>

  <!-- 查询数据源关联TD_DC_VISUAL_REPORT列表 -->
  <select id="queryByDataSourceId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List"/>
    from `TD_DC_VISUAL_REPORT` where `id` in (select distinct C.`report_id` from `TD_DC_VISUAL_DATA_SOURCE` A,`TD_DC_VISUAL_CHART` B,`TD_DC_VISUAL_REPORT_PAGE_CHART_REL` C
    where A.`id`=B.`data_source_id` AND B.`id`=C.`chart_id` AND A.`id`=#{value})
  </select>
</mapper>
