<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.datacloud.visual.dao.report.ReportPageChartRelDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.datacloud.visual.entity.report.ReportPageChartRel" >
    <id column="id" property="id" />
    <result column="report_id" property="reportId" />
    <result column="page_id" property="pageId" />
    <result column="chart_id" property="chartId" />
  </resultMap>

  <!-- TD_DC_VISUAL_REPORT_PAGE_CHART_REL table all fields -->
  <sql id="Base_Column_List" >
     `id`, `report_id`, `page_id`, `chart_id`
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and `id` ${idOperator} #{id}
      </if>
      <if test="reportId != null" >
        and `report_id` ${reportIdOperator} #{reportId}
      </if>
      <if test="pageId != null" >
        and `page_id` ${pageIdOperator} #{pageId}
      </if>
      <if test="chartId != null" >
        and `chart_id` ${chartIdOperator} #{chartId}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.talkingdata.datacloud.visual.entity.report.ReportPageChartRel" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_DC_VISUAL_REPORT_PAGE_CHART_REL(<include refid="Base_Column_List" />)
    values (#{id}, #{reportId}, #{pageId}, #{chartId})
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.talkingdata.datacloud.visual.entity.report.ReportPageChartRel" >
    update TD_DC_VISUAL_REPORT_PAGE_CHART_REL
       set `report_id` = #{reportId},
           `page_id` = #{pageId},
           `chart_id` = #{chartId}
     where `id` = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.talkingdata.datacloud.visual.entity.report.ReportPageChartRel" >
    update TD_DC_VISUAL_REPORT_PAGE_CHART_REL
    <set >
      <if test="reportId != null" >
        `report_id` = #{reportId},
      </if>
      <if test="pageId != null" >
        `page_id` = #{pageId},
      </if>
      <if test="chartId != null" >
        `chart_id` = #{chartId},
      </if>
    </set>
     where `id` = #{id}
  </update>

  <!-- 根据id查询 TD_DC_VISUAL_REPORT_PAGE_CHART_REL -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> 
      from TD_DC_VISUAL_REPORT_PAGE_CHART_REL
     where `id` = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TD_DC_VISUAL_REPORT_PAGE_CHART_REL
     where `id` = #{value}

  </delete>

  <!-- TD_DC_VISUAL_REPORT_PAGE_CHART_REL 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select count(1) from TD_DC_VISUAL_REPORT_PAGE_CHART_REL
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TD_DC_VISUAL_REPORT_PAGE_CHART_REL列表 -->
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select <include refid="Base_Column_List"/>
      from TD_DC_VISUAL_REPORT_PAGE_CHART_REL
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>

  <!-- 删除记录 -->
  <delete id="deleteRecordNoPageAndChart">
    delete from TD_DC_VISUAL_REPORT_PAGE_CHART_REL where page_id not in (select id from TD_DC_VISUAL_PAGE) or chart_id not in (select id from TD_DC_VISUAL_CHART)
  </delete>


</mapper>
