
:host ::ng-deep .ant-card-body {
  padding: 48px;

  .ant-form-item-label {
    label {
      font-family: PingFangSC-Semibold;
      font-size: 14px;
      color: rgba(29,36,54,0.80);
    }

    text-align: left;
  }

  .ant-input {
    height: 36px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(28,36,56,0.56);
  }

  .confirm {
    width: 240px;
    height: 36px;
  }

  .reset {
    width: 100px;
    height: 36px;
  }

  .ant-checkbox-group label {
    span {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: rgba(28,36,56,0.80);
    }
  }
}