.table-custom-filter .item {
  float: left;
  margin-left: 15px;
}

.table-custom-filter .radio-group {
  margin-top: 2px;
  color: #17233d;
  font-size: 12px;
  margin-right: 5px;
}

.table-custom-filter .radio-group label {
  padding: 0 17px;
}

.table-custom-filter .iconfont {
  font-size: 15px;
  cursor: pointer;
  color: #17233d;
  height: 15px;
  margin-top: 4px;
  opacity: 0.55;
}

.des-ul {
  width: 356px;
  padding: 0;
  margin: 0;
}

.des-ul li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.15);
  padding: 5px 0;
}

.des-ul li:last-child {
  border-bottom: none;
}

.des-ul label {
  float: left;
  width: 70px;
  text-align: left;
  color: #fff;
}

.des-ul .des {
  padding-left: 70px;
}
