@import '../../../../../node_modules/ng-zorro-antd/src/ng-zorro-antd.less';

.ant-input {
    font-size: 12px;
    color: rgba(23,35,61,0.55);
}

::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
}

::ng-deep textarea {
    outline: none;
    margin-top: 13px;
}

::ng-deep .shunt-panel-name {
    font-size: 12px;
    color: rgba(23, 35, 61, 0.75);
    background: #FFFFFF;
    border: 1px solid #D7DDE4;
    border-radius: 4px;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 10px;
    width: 100%;
}

::ng-deep .shunt-panel-describe {
    height: 100px;
}
