<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.datacloud.dao.report.SnipeChartDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.datacloud.entity.report.SnipeChart" >
    <id column="id" property="id" />
    <result column="chart_uuid" property="chartUuid" />
    <result column="dataset_id" property="datasetId" />
    <result column="datasource_id" property="datasourceId" />
    <result column="chart_type" property="chartType" />
    <result column="chart_name" property="chartName" />
    <result column="filter" property="filter" />
    <result column="x_ids" property="xIds" />
    <result column="y_ids" property="yIds" />
    <result column="style" property="style" />
    <result column="creator" property="creator" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="updater" property="updater" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  <!-- TD_DC_SNIPE_CHART table all fields -->
  <sql id="Base_Column_List" >
     `id`, `chart_uuid`, `dataset_id`,`datasource_id`, `chart_type`, `chart_name`, `filter`, `x_ids`, `y_ids`, `style`, `creator`, `create_by`, `create_time`, `updater`, `update_by`, `update_time`
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and `id` ${idOperator} #{id}
      </if>
      <if test="chartUuid != null" >
        and `chart_uuid` ${chartUuidOperator} #{chartUuid}
      </if>
      <if test="datasetId != null" >
        and `dataset_id` ${datasetIdOperator} #{datasetId}
      </if>
      <if test="datasourceId != null" >
        and `datasource_id` ${datasourceIdOperator} #{datasourceId}
      </if>
      <if test="chartType != null" >
        and `chart_type` ${chartTypeOperator} #{chartType}
      </if>
      <if test="chartName != null" >
        and `chart_name` ${chartNameOperator} #{chartName}
      </if>
      <if test="filter != null" >
        and `filter` ${filterOperator} #{filter}
      </if>
      <if test="xIds != null" >
        and `x_ids` ${xIdsOperator} #{xIds}
      </if>
      <if test="yIds != null" >
        and `y_ids` ${yIdsOperator} #{yIds}
      </if>
      <if test="style != null" >
        and `style` ${styleOperator} #{style}
      </if>
      <if test="creator != null" >
        and `creator` ${creatorOperator} #{creator}
      </if>
      <if test="createBy != null" >
        and `create_by` ${createByOperator} #{createBy}
      </if>
      <if test="createTime != null" >
        and `create_time` ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and `create_time` &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and `create_time` &lt;= #{createTime2}
      </if>
      <if test="updater != null" >
        and `updater` ${updaterOperator} #{updater}
      </if>
      <if test="updateBy != null" >
        and `update_by` ${updateByOperator} #{updateBy}
      </if>
      <if test="updateTime != null" >
        and `update_time` ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and `update_time` &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and `update_time` &lt;= #{updateTime2}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.talkingdata.datacloud.entity.report.SnipeChart" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_DC_SNIPE_CHART(<include refid="Base_Column_List" />)
    values (#{id}, #{chartUuid}, #{datasetId},#{datasourceId}, #{chartType}, #{chartName}, #{filter}, #{xIds}, #{yIds}, #{style}, #{creator}, #{createBy}, #{createTime}, #{updater}, #{updateBy}, #{updateTime})
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.talkingdata.datacloud.entity.report.SnipeChart" >
    update TD_DC_SNIPE_CHART
       set `chart_uuid` = #{chartUuid},
           `dataset_id` = #{datasetId},
           `datasource_id` = #{datasourceId},
           `chart_type` = #{chartType},
           `chart_name` = #{chartName},
           `filter` = #{filter},
           `x_ids` = #{xIds},
           `y_ids` = #{yIds},
           `style` = #{style},
           `creator` = #{creator},
           `create_by` = #{createBy},
           `create_time` = #{createTime},
           `updater` = #{updater},
           `update_by` = #{updateBy},
           `update_time` = #{updateTime}
     where `id` = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.talkingdata.datacloud.entity.report.SnipeChart" >
    update TD_DC_SNIPE_CHART
    <set >
      <if test="chartUuid != null" >
        `chart_uuid` = #{chartUuid},
      </if>
      <if test="datasetId != null" >
        `dataset_id` = #{datasetId},
      </if>
      <if test="datasourceId != null" >
        `datasource_id` = #{datasourceId},
      </if>
      <if test="chartType != null" >
        `chart_type` = #{chartType},
      </if>
      <if test="chartName != null" >
        `chart_name` = #{chartName},
      </if>
      <if test="filter != null" >
        `filter` = #{filter},
      </if>
      <if test="xIds != null" >
        `x_ids` = #{xIds},
      </if>
      <if test="yIds != null" >
        `y_ids` = #{yIds},
      </if>
      <if test="style != null" >
        `style` = #{style},
      </if>
      <if test="creator != null" >
        `creator` = #{creator},
      </if>
      <if test="createBy != null" >
        `create_by` = #{createBy},
      </if>
      <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
      <if test="updater != null" >
        `updater` = #{updater},
      </if>
      <if test="updateBy != null" >
        `update_by` = #{updateBy},
      </if>
      <if test="updateTime != null" >
        `update_time` = #{updateTime},
      </if>
    </set>
     where `id` = #{id}
  </update>

  <!-- 根据id查询 TD_DC_SNIPE_CHART -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> 
      from TD_DC_SNIPE_CHART
     where `id` = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TD_DC_SNIPE_CHART
     where `id` = #{value}

  </delete>

  <!-- TD_DC_SNIPE_CHART 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select count(1) from TD_DC_SNIPE_CHART
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TD_DC_SNIPE_CHART列表 -->
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.talkingdata.datacloud.base.page.BasePage">
    select <include refid="Base_Column_List"/>
      from TD_DC_SNIPE_CHART
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>

</mapper>
