<nz-modal [nzWidth]="800" [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
    <ng-template #modalTitle>
        <span>授权角色</span>
    </ng-template>
    <ng-template #modalContent>
        <div class="ac_right_wap" style="overflow: hidden;">
            <div class="ac_right">
                <!-- <nz-input [nzType]="'search'" [nzPlaceHolder]="'请输入名称'" [(ngModel)]="search" (nzOnSearch)="onSearch($event)">
                  </nz-input> -->
                <!-- <nz-input-group nzSuffixIcon="anticon anticon-search" [nzSearch]="true">
                    <input type="text" nz-input placeHolder="请输入名称"   [(ngModel)]="search" (ngModelChange)="onSearch($event);">
                </nz-input-group> -->
                <nz-input-group nzSearch [nzSuffix]="suffixIconButton" style="width: 180px;float: right;margin-bottom: 20px;">
                    <input type="text" nz-input placeholder="请输入名称" (keyup)="onSearch($event, 'keyup')" [(ngModel)]="search">
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <i class="anticon anticon-search" (click)="onSearch(search, 'click')"></i>
                </ng-template>
            </div>
        </div>
        <add-orgroles-table [reload]="isReloadRoleTable" [queryParams]="orgrolesTableFieldParams" [refresh]="refreshUgRoleTableStatus"
            [organization]="organization" (onCheckAddRole)="onCheckAddUgRoles($event)"></add-orgroles-table>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button [nzType]="'default'" (click)="handleCancel($event)">
            取 消
        </button>

        <button nz-button [nzType]="'primary'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
            确 定
        </button>
    </ng-template>
</nz-modal>