.app-advanced-trans-funnel-add-step {
  background: rgba(241, 242, 244, 1);
  padding: 20px 20px 60px 20px;
  margin: 0;
  //border: 1px solid #DCDEE2;
}

.app-advanced-trans-funnel-add-step > li {
  margin-bottom: 20px;
}

.app-advanced-trans-funnel-add-step > li > dl {
  background: #fff;
  border-bottom: 1px solid #dcdee2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.app-advanced-trans-funnel-add-step > li > dl > dt {
  border-bottom: 1px solid #dcdee2;
  background: rgba(248, 248, 249, 1);
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  position: relative;
  font-size: 12px;
  color: #17233d;
}

.app-advanced-trans-funnel-add-step > li > dl > dt .icon-clear {
  position: absolute;
  right: 20px;
  top: 0px;
  color: #17233d;
  cursor: pointer;
}

.app-advanced-trans-funnel-add-step > li > dl > dd {
  padding: 20px;
  position: relative;
}

.app-advanced-trans-funnel-add-step > li > dl > dd .step-line {
  position: absolute;
  height: 25px;
  width: 1px;
  background-color: #d8d8d8;
  bottom: -31px;
  left: 50%;
}

.app-advanced-trans-funnel-add-step > li > dl > dd .step-line .icon-xinjian {
  font-size: 32px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -16px;
  cursor: pointer;
  color: #2d8cf0;
}

.app-advanced-trans-funnel-add-step > li > dl > dd .item {
  float: left;
  margin-right: 10px;
  line-height: 30px;
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
}

.app-advanced-trans-funnel-add-step > li > dl > dd .item.label {
  background: rgba(23, 35, 61, 0.06);
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #eee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.app-advanced-trans-funnel-add-step > li > dl > dd .item.event-type {
  min-width: 180px;
}

.app-advanced-trans-funnel-add-step > li > dl > dd .item.condtion-type {
  min-width: 180px;
}

.app-advanced-trans-funnel-add-step > li > dl > dd .item.condtion-operator {
  min-width: 180px;
}

.app-advanced-trans-funnel-add-step > li > dl > dd .item.condition-value {
  min-width: 180px;
  max-width: 50%;
}

.app-advanced-trans-funnel-add-step > li > dl > dd ul.step-condtion {
  margin: 10px 0 0 80px;
  padding: 0;
  float: left;
  max-width: 90%;
}

.app-advanced-trans-funnel-add-step > li > dl > dd ul.step-condtion > li {
  margin-bottom: 10px;
  position: relative;
}

.app-advanced-trans-funnel-add-step > li > dl > dd .condition-add {
  margin: 0px 0 0 80px;
  color: #2d8cf0;
}

.app-advanced-trans-funnel-add-step > li > dl > dd .condition-add span {
  cursor: pointer;
}

.app-advanced-trans-funnel-add-step > li .condition-del {
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -16px;
}

.app-advanced-trans-funnel-add-step > li .condition-del .icon-fremove_circle_outli {
  font-size: 22px;
  cursor: pointer;
  color: rgba(23, 35, 61, 0.5);
}

.icon-shijian {
  color: #abe7a2;
}

.hide {
  display: none;
}
