/*RFMFilter css*/
.stage .rfmFilter{
    padding: 20px 0;
}

.stage .rfmFilter_list{
    background: #FFFFFF;
    border: 1px solid #DEDFE3;
    border-radius: 22.5px;
    height: 32px;
    margin-right:16px;
    padding: 0 16px;
    float: left;
    width: 140px;
    position: relative;
}

.stage .rfmFilter_list_title{
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #404560;
    letter-spacing: -0px;
    line-height: 32px;
    cursor: pointer;
}

.stage .rfmFilter_list_title:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8a8f9d;
    position: absolute;
    right: 15px;
    top: 13px;
}

.stage .rfmFilter_list_layer{
    background: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 36px;
    padding:5px 0;
    display: none;
}

.stage .rfmFilter_list_layer ul li{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #404560;
    line-height: 32px;
    cursor: pointer;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    transition: all linear .3s;
    padding:0 16px;
}

.stage .rfmFilter_list_layer ul li:hover,
.stage ul li.rfmFilter_list_choose{
    background: rgba(28,36,56,0.03);
    color: #43A3FB;
}

.stage .pieBar{
    margin: 20px 24px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #404560;
    letter-spacing: 0;
    line-height: 16px;
}

.stage .pieBar b{
    width: 4px;
    height: 16px;
    background: #BBBDC6;
    float: left;
    margin-right:9px;
}

.stage .pieBar_list{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.stage .pieBar_all{
    width: 100%;
    left: 0;
    top: 110px;
    text-align: center;
    z-index: 2;
    position: absolute;
}

.stage .pieBar_all h3{
    font-family: Roboto-Regular;
    font-size: 24px;
    color: #464C5B;
    line-height: 37px;
}

.stage .pieBar_all h4{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #818596;
}

.stage .pieBar_con{
    width: 50%;
    height:calc(100% - 56px);
    float: left;
    position: relative;
}

.stage .pieBar_pie_list{
    width: 140px;
    padding-top: 80px;
}

.stage .pieBar_pie_list ul li{
    line-height: 30px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(28,36,56,0.80);
}

.stage .pieBar_pie_list ul li b{
    width: 10px;
    height: 10px;
    float: left;
    background: #43A3FB;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: 10px;
}

.stage .pieBar_pie_list ul li:nth-child(2) b{
    background: #96D02F;
}

.stage .pieBar_pie_list ul li:nth-child(3) b{
    background: #F9D24A;
}

.stage .pieBar_pie_list ul li:nth-child(4) b{
    background: #985FDE;
}

.stage .pieBar_pie_list ul li span{
    float: right;
    width: 40px;
    text-align: left;
}

.stage .pieBar_saveCrowdBtn{
    background: #43A3FB;
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 27px;
    margin-top: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 24px;
    top: -45px;
}

.stage .pieBarModalContent{
    width: 400px!important;
    border: 0 none!important;
}

.stage .pieBar-30{
    width: 75px;
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #404560;
    letter-spacing: 0;
    font-weight: bold;
}

.stage .pieBar-70{
    width: 275px;
    color: #404560;
    font-family: HelveticaNeue;
}

.stage .pieBarInput{
    background: #FFFFFF;
    border: 1px solid #DEDFE3;
    border-radius: 4px;
    height: 32px;
    width: 100%;
    padding: 0 10px;
}

.stage .pieBar-list-data{
    padding: 5px 0;
}

.stage .pieBar-list-data ul li{
    width: 112px;
    height: 24px;
    margin: 8px 16px 8px 0;
    border-radius: 2px;
    color: #404560;
    text-align: center;
    float: left;
    line-height: 24px;
    background: #E8E9EC;
    cursor: pointer;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    transition: all linear .3s;
}

.stage .pieBar-list-data ul li:hover{
    color: #43A3FB;
}

.stage .pieBar-list-data ul li.pieBarChoose{
    background: #43A3FB;
    color: #fff;
}

.stage .tableModal.pieBarModal .tableModalBody > div{
    height: 40px!important;
    line-height: 40px!important;
}

.stage .pieBarErrorTips{
    font-size: 12px;
    color: #f00;
    font-family: PingFangSC-Semibold;
    line-height: 24px;
}

.stage input.pieBarErrorBorder{
    border-color: #f00;
}

.stage .pieBar-70 label{
    font-family: PingFangSC-Semibold;
}
