/*chart-select-line*/

.chart-selectline {
    position: relative;
    margin-left: 12px;
    line-height: 42px;
    padding-right: 60px;
    
}

.chart-selectline-title {
    color: #666f7b;
    font-size: 13px;
    position: relative;
    padding-right: 20px;
    cursor: pointer;
}

.chart-selectline-tab span {
    height: 24px;
    width: 56px;
    background: #FFFFFF;
    border: 1px solid #DEDFE3;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #404560;
    line-height: 24px;
    display: inline-block;
    text-align: center;
}

.chart-selectline-tab span:first-child {
    border-radius: 4px 0 0 4px;
    border-right: 0;
}

.chart-selectline-tab span:last-child {
    border-radius: 0 4px 4px 0;
}

.chart-selectline-tab .selected {
    background: #43A3FB;
    color: #fff;
}

.chart-selectline-title:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8a8f9d;
    position: absolute;
    right: 0px;
    top: 19px;
}

.chart-selectline-list {
    position: absolute;
    left: -5px;
    top: 32px;
    z-index: 2;
    display: none;
    background: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 4px;
    padding: 6px 10px;
    background: #fff;
    cursor: pointer;
    height: 140px;
    overflow-y: auto;
}

.chart-selectline-list ul,
.component_top_select_list ul {
    border-bottom: 1px solid #E8E9EC;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.chart-selectline-list ul:last-child,
.component_top_select_list ul:last-child {
    border-bottom: 0 none;
}

.chart-selectline-list ul li,
.component_top_select_list ul li {
    line-height: 16px;
    cursor: pointer;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    transition: all linear .3s;
    font-size: 12px;
    padding: 4px 0;
}

.chart-selectline-list ul li:hover,
.component_top_select_list ul li:hover {
    color: #4797ed;
}

.lineWap h3 {
    height: 40px;
    line-height: 40px;
    padding: 0px 30px;
    font-weight: bold;
}