<div class="text-content">
        <nz-card [nzBordered]="true" style="margin-bottom:15px;" nzTitle="基本信息">
                    
                    <add-tenants-licence-form [needSubmit] = "isNeedSubmitAddAppFormData" [licence]="licence" (onSubmit)="submitAddAppForm($event)" (selectChanged)="selectDataChanged($event)"></add-tenants-licence-form>
        </nz-card>

        <div>
            <tlicences-attribute-table [queryParams] = "licencesTableFieldParams" [licenceId]="licenceId" [_dataSet]="_dataSet" (onSubmit)="submitTbleData($event)"></tlicences-attribute-table>
        </div>
        
        <div class="clrfix">
           
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
                    确 定
                </button>
            
                <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancle($event)" [nzLoading]="isConfirmLoading">
                    取 消
                </button>
           
        </div>
</div>


<check-licence-dialog *ngIf="licence" [isShow]="isShowLicenceModal"  [_licencedata]="_licencedata" (onClose)="hideCheckedModal($event)"></check-licence-dialog>
