:host /deep/ .ui-dialog{
	width:526px;
	height:347px;
	padding:28px;
}
:host /deep/ .ui-dialog .ui-dialog-content{
	padding:0;
}
.header{
	padding-bottom:10px;
}
.header div.l{
	position: relative;
}
.header div.l .fa-search{
	position: absolute;
	left:6px;
	top:6px;
	font-size:14px;
	color:#b8bfc8;
}
.header div.l .fa-times-circle{
	position: absolute;
	right:112px;
	top:6px;
	color:#dde2eb;
	font-size: 17px;
}
.header div.l .span{
	margin-left:12px;
	color:#959ca5;
}
.header div.r{
	margin-top:6px;
	color:#5ba0ff;
	cursor: pointer;
}
:host /deep/ .ui-dialog .header input{
	width:230px;
	border:1px solid #dfe7f2;
	text-indent: 1.5em;
}
.panel {
    width: 468px;
    height: 190px;
    border: 1px solid #dfe7f2;
    overflow-y: scroll;
    padding:20px;
}

.panel .panel-body .select-content .ui-g-4{
   width:33%;
   margin-bottom:20px;
}

.panel .panel-body .select-content .checked {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
}
.sub-box {
    margin: 32px 0;
}
.sub-devide {
    color: #2d3038;
    margin-right: 15px;
}
.btn-handel{
	margin:13px 0 13px 0;
}
:host /deep/ input.text-indent{
	text-indent: 1em;
}
.sub-text{
	width:238px;
	height:30px;
	border:1px solid #dee6ed;
	border-radius: 4px;
	display: inline-block;
	line-height: 30px;
	cursor: pointer;
}
.sub-text span{
	padding-left: 9px;
}