.anticon-question-circle-o{
    font-size: 14px;
    color: rgba(23,35,61,0.55);
}

.content {
    .pointer {
        cursor: pointer;
    }
    .pipe-item {
        margin-bottom: 16px;
    }
    .item-label {
        font-size: 12px;
        color: #17233D;
        letter-spacing: 0;
        text-align: left;
        line-height: 32px;
        font-weight: bold;
        float: left;
        margin-left: 24px;
        width: 49px;
        position: relative;
        &>.require {
            position: absolute;
            left: -8px;
            color: #ED3F14;
            font-size: 14px;
            top: 2px;
        }
        .anticon {
            color: rgba(23,35,61,0.55);
            font-weight: normal;
        }
    }
    .title-item {
        margin-bottom: 24px;
        .item-label {
            margin-left: 32px;
            line-height: 12px;
        }
    }
    .item-input {
        float: left;
        margin-left: 16px;
        width: 275px;
        position: relative;
        input {
            width: 100%;
            height: 32px;
            border: 1px solid #DCDEE2;
            border-radius: 4px;
            padding: 11px;
            outline: none;
        }
    }
    .item-textarea {
        float: left;
        margin-left: 16px;
        width: 275px;
        height: 56px;
        textarea {
            width: 100%;
            height: 100%;
            border: 1px solid #DCDEE2;
            border-radius: 4px;
            padding: 5px 11px;
            outline: none;
        }
    }
    .base-desc {
        margin: 16px 0;
        padding-bottom: 8px;
        border-bottom: 1px solid #DCDEE2;
    }
    .dropdown-trigger {
        position: absolute;
        display: inline-block;
        top: 7px;
        right: 8px;
    }
    .dropdown {
        margin-top: 5px;
        width: 275px;
        max-height: 200px;
        display: block;
        z-index: 1000;
        visibility: visible;
        top: 29px;
        right: 0px;
        opacity: 1;
        border-color: #dfe7f2;
        background-color: #ffffff;
        border: 1px solid #c7c7c7;
        border-radius: 5px;
        position: absolute;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        overflow-y: auto;
        ul {
            padding: 0;
            margin: 0;
            li {
                margin: 1px 0;
                border: 0 none;
                border-radius: 0;
                font-weight: normal;
                text-align: left;
                cursor: pointer;
                position: relative;
                &:hover {
                    background-color: #e5e5e5;
                }
                span.info {
                    padding: 5px 10px;
                    display: inline-block;
                    vertical-align: text-top;
                }
                span.iconfont {
                    position: absolute;
                    right: 10px;
                    top: 4px;
                }
                i {
                    vertical-align: middle;
                    line-height: 28px;
                    float: right;
                    margin-right: 8px;
                }
            }
        }
    }
    .item-text {
        font-size: 12px;
        color: rgba(23,35,61,0.75);
        letter-spacing: 0;
        text-align: left;
        line-height: 32px;
        float: left;
        margin-left: 24px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        &>.require {
            position: absolute;
            left: -8px;
            color: #ED3F14;
            font-size: 14px;
            top: 2px;
        }
        input {
            width: 40px;
            height: 32px;
            margin: 0px 5px;
            outline: none;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            list-style: none;
            position: relative;
            display: inline-block;
            padding: 4px 11px;
            font-size: 14px;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.65);
            background-color: #fff;
            background-image: none;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            -webkit-transition: all .3s;
            transition: all .3s;
        }
    }
    .target-platform {
        margin-left: 15px;
        float: left;
        .icon-platform {
            width: 112px;
            height: 33px;
            display: block;
            float: left;
            cursor: pointer;
            &.android {
                margin-right: 16px;
                background: url('../../../../../assets/images/common/plateform/icon-android.svg') center no-repeat;
                &.active {
                    background: url('../../../../../assets/images/common/plateform/icon-android-active.svg') center no-repeat;
                }
            }
            &.ios {
                margin-right: 16px;
                background: url('../../../../../assets/images/common/plateform/icon-ios.svg') center no-repeat;
                &.active {
                    background: url('../../../../../assets/images/common/plateform/icon-ios-active.svg') center no-repeat;
                }
            }
        }
    }
    .app-content {
        border-bottom: 1px solid #DCDEE2;
        margin-bottom: 20px;
        .insert-variable{
            width: 340px;
            height: 32px;
            line-height: 32px;
            box-sizing: border-box;
            background: #F8F8F9;
            border: 1px solid #DCDEE2;
            padding: 0 10px;
            border-bottom: none;
        }
        .item-content {
            float: left;
            margin-left: 10px;
            line-height: 18px;
        }
    }
    .params-content {
        .pipe-item {
            .param-list {
                padding: 0 16px 0 24px;
                .item-key {
                    padding: 7px 12px;
                    background: rgba(23,35,61,0.06);
                    border: 1px solid rgba(23,35,61,0.10);
                    margin-bottom: 8px;
                    input {
                        margin-right: 10px;
                        margin-left: 4px;
                    }
                }
            }
            .config-bn {
                padding: 0 24px;
                .radio-group-ios {
                    .radio-group-button {
                        width: 113px;
                        height: 32px;
                        text-align: center;
                        line-height: 32px;
                        border-radius: 2px;
                        border: 1px solid rgba(23,35,61,0.25);
                        display: inline-block;
                        cursor: pointer;
                        user-select: none;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        &.select {
                            border-color: #2D8CF0;
                            color: #2D8CF0;
                        }
                    }
                }
                .radio-group {
                    .android-button {
                        width: 72px;
                        height: 32px;
                        text-align: center;
                        line-height: 32px;
                        border-radius: 2px;
                        border: 1px solid rgba(23,35,61,0.25);
                        display: inline-block;
                        cursor: pointer;
                        user-select: none;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        &.select {
                            border-color: #2D8CF0;
                            color: #2D8CF0;
                        }
                    }
                }
            }
        }
    }
    .target-platform {
        float: left;
        margin-left: 16px;
        width: 275px;

        .label-tabs {
            overflow: hidden;
            margin: 0px;
            padding: 0px;
        
            li {
                float: left;
                height: 32px;
                line-height: 32px;
                width: 72px;
                font-size: 12px;
                color: #495060;
                border: 1px solid #DEDFE3;
                text-align: center;
                cursor: pointer;
                -webkit-transition:all 0.5s ease 0s; 
                transition:all 0.5s ease 0s; 
                -o-transition:all 0.5s ease 0s;
            }
        
            .item-active {
                -webkit-transition:all 0.5s ease 0s; 
                transition:all 0.5s ease 0s; 
                -o-transition:all 0.5s ease 0s;
                background: #2D8CF0;
                color: #fff;
                border: 1px solid #2D8CF0;
            }
        
            li:first-child {
                border-radius: 5px 0px 0px 5px;
                border-right: 0px;
            }
        
            li:last-child {
                border-radius: 0px 5px 5px 0px;
                border-left: 0px;
            }
        }
    }
    .app-push-time {
        margin: 24px 0px;
    }
    .left-distance {
        margin-left: 24px;
    }
}
input[type="text"] {
    -webkit-appearance: none;
}

.config-bn .ant-radio-group {
    font-size: 12px;
    .ant-radio-button-wrapper {
        border-radius: 2px;
        margin-right: 16px;
    }
    .ant-radio-button-wrapper-checked{
        background: #fff;
        color: #2d8cf0;
    }
}
.checkbox-text {
    font-size: 12px;
    color: rgba(23,35,61,0.75);
    line-height: 20px;
}

input:disabled, textarea:disabled {
    color: rgb(84, 84, 84);
    cursor: not-allowed;
    background-color: #f5f5f5 !important;
}

.blue-text {
    font-size: 12px;
    color: #2D8CF0;
}

::ng-deep .ant-checkbox-disabled + span {
    color: rgba(0, 0, 0, 0.65);
    cursor: not-allowed;
}

::ng-deep .ant-dropdown-menu-item {
    font-size: 12px;
}