.locator {
    position: fixed;
    z-index: 4;
}

h2 {
    margin: -90px 0 0;
    padding-top: 90px;
    z-index: 1;
}

#link {
    cursor: pointer;
}

.file_top {
    background: #2d3362;
    line-height: 36px;
    color: #679fef;
    text-align: right;
    font-size: 12px;
    width: 100%;
}

.file_top em {
    font-style: normal;
}

.file_top a {
    color: #8289bf;
}

.file_top em a {
    padding: 0 12px;
}

.file_header {
    width: 100%;
    height: 56px;
    background: #1F3159 100%;
    padding: 15px 1.5%;
    font-size: 14px;
    color: #fff;
    //top: 36px;
}

.file_header a {
    color: #fff;
}

.file_header b {
    width: 29px;
    height: 27px;
    display: inline-block;
    background-position: -192px -111px;
    margin-right: 15px;
    vertical-align: middle;
}

.file_header_search {
    position: absolute;
    right: 1.5%;
    top: 12px;
    background: #5966b0;
    border-radius: 4px;
    height: 32px;
    width: 260px;
    padding-left: 35px;
}

.file_header_search b {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-position: -504px -159px;
}

.file_header_search input {
    border: 0 none;
    width: 100%;
    font-size: 14px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    background: none;
    font-family: "微软雅黑";
    background: #5966b0;
    padding: 0;
}

#content {
    min-height: 100%;
    /*padding: 56px 255px 427px 285px; */
    padding: 56px 320px 32px 176px;
    position: relative;
}

.clearfix {
    zoom: 1;
}

.clearfix {
    display: block;
}

.left_tree {
    /*width: 240px;*/
    width: 120px;
    height: 100%;
    background: #fafafa;
    /* padding: 0 0 9999em; */
    /*margin: 0 0 0 -285px; */
    margin: 0 0 0 -176px;
    border-right: 1px solid #dbdbdb;
    float: left;
    position: absolute;
}

.post .title {
    font-size: 24px;
    padding: 35px 0;
    color: #757575;
}

.post_content {
    font-size: 14px;
    color: #666666;
    padding-bottom: 40px;
    line-height: 27px;
}

.post table {
    margin: 0 0 1em 0;
}

.cnblogs-markdown {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #4d4d4d;
    overflow: hidden;
    font-family: "微软雅黑", "microsoft yahei", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    word-wrap: break-word;
}

.cnblogs-markdown * {
    box-sizing: border-box;
}

.cnblogs-markdown h1, .cnblogs-markdown h2, .cnblogs-markdown h3, .cnblogs-markdown h4, .cnblogs-markdown h5, .cnblogs-markdown h6 {
    display: block;
    width: 100%;
    clear: both;
}

.cnblogs-markdown h1, .cnblogs-markdown h2, .cnblogs-markdown h3 {
    font-weight: bold;
}

.cnblogs-markdown h2 {
    font-size: 19px;
    border-bottom: 1px solid #dddddd;
    font-weight: normal;
    color: #5188ec;
    padding-bottom: 10px;
    margin: -60px 0 25px 0;
}

.cnblogs-markdown>h2:first-child {
    margin-top: -80px !important;
}

.cnblogs-markdown h3 {
    font-size: 17px;
    color: #212121;
    margin: 20px 0;
}

.cnblogs-markdown h4, .cnblogs-markdown h5, .cnblogs-markdown h6 {
    color: #212121;
}

.cnblogs-markdown h4 {
    font-size: 16px;
}

.cnblogs-markdown pre {
    overflow: auto;
}

.cnblogs-markdown code, .cnblogs-markdown kbd, .cnblogs-markdown pre {
    font-size: 12px;
}

.cnblogs-markdown pre {
    margin-top: 0;
    margin-bottom: 0;
}

.cnblogs-markdown pre {
    word-wrap: normal;
    background-color: #f7f7f7;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 15px 0;
    line-height: 25px;
}

.cnblogs-markdown pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.cnblogs-markdown pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: 25px;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.cnblogs-markdown table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cnblogs-markdown table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.cnblogs-markdown table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.cnblogs-markdown table th, .cnblogs-markdown table td {
    padding: 8px 13px;
    border: 1px solid #ddd;
    font-size: 13px;
}

.right_tree {
    width: 270px;
    position: fixed;
    right: 0;
    top: 140px;
}

.right_tree ul {
    border-left: 3px solid #5487f0;
}

.right_tree ul li {
    font-size: 13px;
    line-height: 21px;
    color: #757575;
    cursor: pointer;
    padding: 2px 0 2px 15px;
}

.right_tree ul li a {
    color: #757575;
}