<div class="report-detail-data">
    <div class="item-config">
        <label class="item-label">CUBE</label>
        <div class="config-content">
            <cm-select>
                <nz-select [nzSize]="'large'" name="cube" [nzPlaceHolder]="'请选择'" style="width:90%;" [(ngModel)]="selectedCube" nzShowSearch (ngModelChange)="changeCube(selectedCube)">
                    <nz-option *ngFor="let select of cubeList" [nzLabel]="select.label" [nzValue]="select.value">
                        <ng-template #nzOptionTemplate>
                            <span title="{{select.label}}">{{select.label}}</span>
                        </ng-template>
                    </nz-option>
                </nz-select>
            </cm-select>
        </div>
    </div>
    <div class="item-config">
        <label class="item-label">维度</label>
        <div class="config-content">
            <cm-select *ngFor="let dimension of selectedDimensions;let i = index;">
                <nz-select [nzSize]="'large'" name="dimensions" [(ngModel)]="dimension.value" (ngModelChange)="changeDimension(dimension.value, 'funnel')" [nzPlaceHolder]="'请选择'" style="width:90%;margin-bottom:10px;" nzShowSearch>
                    <nz-option *ngFor="let select of dimensionList" [nzLabel]="select.label" [nzValue]="select.value">
                        <ng-template #nzOptionTemplate>
                            <span title="{{select.label}}">{{select.label}}</span>
                        </ng-template>
                    </nz-option>
                </nz-select>
            </cm-select>
        </div>
        <div class="config-content">
            <funnel-popout *ngIf="selectedCube && selectedDimensions[0].value" [cube]="selectedCube" [query]="selectedDimensions[0].value" (onFunnelConfig)="changeFunnel($event)"></funnel-popout>
        </div>
    </div>
    <div class="item-config">
        <label class="item-label">指标</label>
        <div class="config-content">
            <cm-select *ngFor="let metrics of selectedMetrics;let i = index;">
                <nz-select [nzSize]="'large'" name="metrics" [(ngModel)]="metrics.value" (ngModelChange)="changeMetrics(metrics.value, 'funnel')" [nzPlaceHolder]="'请选择'" style="width:90%;margin-bottom:10px;">
                    <nz-option *ngFor="let select of metricsList" [nzLabel]="select.label" [nzValue]="select.value">
                        <ng-template #nzOptionTemplate>
                            <span title="{{select.label}}">{{select.label}}</span>
                        </ng-template>
                    </nz-option>
                </nz-select>
            </cm-select>
        </div>
    </div>
    <div class="item-config">
        <!-- <label class="item-label">日期范围</label>
        <div class="config-content">
            <cm-select>
                <nz-select [nzSize]="'large'" name="date" [(ngModel)]="selectedDate" (ngModelChange)="changeDate(selectedDate)" [nzPlaceHolder]="'日期范围维度'" style="width:90%;margin-bottom:10px;" nzAllowClear>
                    <nz-option *ngFor="let select of dateDimensionsList" [nzLabel]="select.label" [nzValue]="select.value"></nz-option>
                </nz-select>
            </cm-select>
            <nz-radio-group [(ngModel)]="dateType" style="display:block;" *ngIf="selectedDate" (ngModelChange)="changeDateType(dateType)">
                <label nz-radio [nzValue]="'default'">
                    <span>默认（最近28天，不含今天）</span>
                </label>
                <label nz-radio [nzValue]="'custom'">
                    <span>自定义</span>
                </label>
            </nz-radio-group>
            <cm-datepicker *ngIf="selectedDate && dateType=='custom'">
                <ng-template>
                    <nz-rangepicker [(ngModel)]="dateRange" (ngModelChange)="changeDateRange(dateRange)" [nzSize]="'large'"></nz-rangepicker>
                </ng-template>
            </cm-datepicker>
        </div> -->
        <app-date-range [list]="dateDimensionsList" [dataConfig]="dataConfig" (change)="dateRangeChange($event)"></app-date-range>
    </div>
    <!-- 0.1隐藏  -->
    <div class="item-config" *ngIf="selectedCube">
        <cm-report-filter [cube]="selectedCube" (onFilterConfig)="changeFilter($event)"></cm-report-filter>
    </div>
</div>