:host ::ng-deep .common-card {
  margin: 24px 0 0;
  border-radius: 4px;

  .ant-card-head {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ant-card-head-title {
      font-size: 16px;
    }
  }

  .down {
    font-size: 16px;
    color: #80848f;
  }
}