:host ::ng-deep .main{
  width: 1200px;
  background: #fff;
  min-height: 500px;
  margin-top: 26px;

  .ant-card-body {
    padding: 48px;
  }

  .ant-input {
    height: 36px;
  }

  .ant-form-item{
    margin-bottom: 32px;
  }

  .ant-form-item-control{
    width: 300px;       
  }

  .ant-form-item-label label{
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: rgba(29,36,54,0.80);
  }

  .crowd-attr-wap {
    display: -webkit-flex;
    justify-content: space-between;
    height: 336px;
    width: 96%;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #DDDEE1;
    border-radius: 4px;
    margin-bottom: 40px;

    .crowd-attr {
      width: 25%;
      height: 336px;
      border-right: 1px solid #DDDEE1;
      overflow-y: auto;

      ul li {
        padding: 0px 15px;
        height: 40px;
        line-height: 40px;
        display: flex; 

        & > span {
          flex: 1;
        }
      }

      ul .bg-color {
        background: #F8F8F9;
      }

      ul li:hover {
          background: #F8F8F9;
      }

      .next-level {
          float: right;
          line-height: 40px;
      } 
    }

    .crowd-attr-special {
      border-right: 0px;
      overflow: hidden;

      li {
        width: 80%;
        height: 30px;
        line-height: 36px;
        background: #F2F2F3;
        border-radius: 18px;
        margin: 10px auto;
      }

      .crowd-attr-ul-special {
        height: 280px;
        overflow-y: auto;

        & > li {
          justify-content: space-between;
        }

        li p {
          float: left;
        }

        li .next-level {
          float: right;
          line-height: 36px;
          display: flex;
          align-items: center;
        }
      }

      .border-bottom {
        height: 1px;
        width: 70%;
        margin: 0px auto;
        background: #DDDEE1;
        border-radius: 1px;
      }

      b {
        color: #108ee9;
      }

      span {
        margin: 18px auto 0px;
        display: block;
        text-align: center;
      }
    }
  }

  .ant-btn-primary {
    width:240px;
    height:36px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 14px;
  }

  .ant-btn-default {
    width:200px;
    height:36px;
    border:none;
  }
}
