
:host ::ng-deep .dayWeekMonthstyle{
    margin:20px;
    .ant-checkbox-wrapper {
        display: block !important;
        margin-left: 0 !important;
        margin-top: 6px;
    }
    .checkbox{
        margin-left: 20px;
    }
}