
    :host /deep/ .content th {
        padding-top: 13px;
        padding-bottom: 13px;
        color: #17233d;
    }

    :host /deep/ .content td {
        padding-top: 13px;
        padding-bottom: 13px;
        color: #656d7f;
    }

    :host /deep/ .content nz-pagination {
        display: block;
        height: 50px;
        padding-right: 8px;
        padding-top: 9px;
        text-align: right;
    }



    /* .base-info, .content */

    .base-info .item {
        height: 32px;
        padding-top: 10px;
        font-size: 12px;
        line-height: 12px;
    }

    .base-info .item .name {
        color: #808694;
    }

    .base-info .item .value {
        color: #484d40;
    }

    .content {
        margin-top: 16px;
    }
