.label_font {
    font-weight: bold;
}

:host ::ng-deep .special-label {
    width: 80px;
    text-align: left;
    margin-right: 15px;
    padding-left:0;
    margin-right:0;
}

:host ::ng-deep .ant-table-title {
    padding: 16px 20px !important;
}

:host ::ng-deep .text-content .ant-card-body {
    padding: 14px 0px !important;
}

:host ::ng-deep .ant-form-item-label {
    text-align: left;
    vertical-align: middle;
    /*line-height: 32px;*/
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* :host ::ng-deep .ant-form-item-control {
    line-height: 31.9999px;
    position: relative;
    zoom: 1;
} */

:host ::ng-deep .ant-form-item {
    font-size: 13px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.65);
    vertical-align: top;
    margin: 0 24px;

}

:host ::ng-deep .ant-form-item-label label {
    color: rgba(0, 0, 0, 0.85);
}

:host ::ng-deep .ant-advanced-search-form {
    padding-top: 0px !important;
}

:host ::ng-deep .text-content .ant-card-body {
    padding: 0px 0px !important;
    border-bottom: none;
}
