.report-detail-data {
    min-height: 100%;
    padding: 20px;
}
.item-config{
    margin-bottom: 10px;
}
.item-config .config-content{
    padding-left: 16px;
    margin: 12px 0;
}
.item-label{
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #464C5B;
    line-height: 32px;
}
.checkgitem{
    width: 100%;
    display: block;
    margin: 12px 0 0 17px;
    
}
.ant-radio-wrapper {
    margin-bottom: 10px;
}
.add-button{
    width: 90%;
    text-align: left;
}
:host ::ng-deep .report-detail-data{
    .ant-select {
        width: 100%;
    }
    .ant-select-selection, .ant-select-selection,.input-text .ant-input {
        background: none !important;
        border: none !important;
        border-bottom: 1px solid #ddd !important;
        width: 100% !important;
      }
      .ant-select-focused .ant-select-selection,.ant-select-selection:focus,.ant-select-selection:active {
        box-shadow: none !important;
      }

}