.metadata-detail-info{
  background: #fff;
  padding: 24px;
  .metadata-detail-info-detail{
    padding-left: 24px;
    margin-top: 20px;
    .table{
      width: 70%;
      margin: auto;
      .left{
        text-align:right;
      }
      .right{
        text-indent:25px
      }
    }
  }
}
.ant-form-item {
  margin-bottom: 0; 
}

.name{
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #17233D;
  line-height: 24px;
  margin-left: 24px;
}

.oprate{
   text-align: right;
   position: absolute; 
   top: 0;
}

.ant-form-item-label{
  text-align: left;
  font-family: PingFangSC-Medium;
  max-width: 78px;
}

::ng-deep{
  .metadata-detail-info{
    .text-content .ant-form-item-control{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .ant-form-item-control{
      overflow: hidden;
      white-space:nowrap;
      overflow: hidden;
      width: 100% !important;
      text-overflow:ellipsis !important;
    }
  }
}