<main>
    <div class="retention-filter-box">
        <div class="retention-filter">
            <div class="filter-object">
                <span>考察对象</span>
                <div class="object-item">
                    <cm-datepicker>
                        <ng-template>
                            <nz-rangepicker [(ngModel)]="_dateRange" [nzFormat]="'YYYY/MM/DD'"></nz-rangepicker>
                        </ng-template>
                    </cm-datepicker>
                </div>
                <div class="retention-text">期间的</div>
                <div class="object-item">
                    <cm-select>
                        <nz-select [nzSize]="'large'" name="visitor" [nzPlaceHolder]="'请选择'" [(ngModel)]="visitor" nzShowSearch>
                            <nz-option *ngFor="let visitor of visitors" [nzLabel]="visitor.label" [nzValue]="visitor.value"></nz-option>
                        </nz-select>
                    </cm-select>
                </div>
            </div>
            <div class="filter-behavior">
                <span>留存行为</span>
                <div class="retention-text">在之后的使用中</div>
                <div class="behavior-item">
                    <cm-select>
                        <nz-select [nzSize]="'large'" name="behavior" [nzPlaceHolder]="'请选择'" [(ngModel)]="behavior" nzShowSearch>
                            <nz-option *ngFor="let behavior of behaviors" [nzLabel]="behavior.label" [nzValue]="behavior.value"></nz-option>
                        </nz-select>
                    </cm-select>
                </div>
                <div class="retention-text">记为留存访客</div>
            </div>
        </div>
        <div class="filter-update">
            <div class="update">
                <i class="anticon anticon-retweet"></i>
                <span>刷新数据</span>
            </div>
        </div>
    </div>
</main>