main {
    width: 100%;
    height: 100%;
}
.retention-filter-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.retention-filter{
    width: 85%;
    border-right: 1px solid #ddd;
}
.filter-update{
    width:15%;
    display: flex;
    justify-content: center;
}
.filter-update .update{
    padding: 10px;
    background: #2d8cf0;
    color: #fff;
    border-radius: 18px;
    width:90px;
}
.retention-til{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.filter-object,.filter-behavior{
    display:flex;
    width:100%;
    align-items:center;
    margin-bottom: 10px; 
}
.filter-object span ,.filter-behavior span{
    margin-right: 16px;
}
.object-item,.behavior-item{
    display:flex;
    align-items: center; 
    min-width:100px;
}
.object-item:hover,.behavior-item:hover{
    cursor: pointer;
}
.update:hover{
    cursor: pointer;
}
.retention-text{
    padding: 6px;
    background: #ddd;
    margin:0 12px;
    border-radius:4px;
}
.filter-behavior>div:nth-child(1){
    margin-left: 0;
}