<div class="picturecon">
    <div class="properties clearfix">
        <div class="adaption parpadng" style="width: 100%;">
            <div class="gender_tit">{{constants.caption_app_prefer_coverage}}</div>
            <div class="trend">
                <div class="use_chart radar_chart" style="height: 370px;"></div>
            </div>
        </div>

        <div class="adaption parpadng" style="width: 100%;">
            <div class="gender_tit">{{constants.caption_app_prefer_lifting}}</div>
            <div class="trend">
                <div class="chart_pt_app_preference" style="height: 400px"></div>
            </div>
        </div>
    </div>

    <div class="properties clearfix" ng-if="status == 'compare_double'">
        <div class="adaption parpadng" style="width: 100%;">
            <div class="gender_tit">{{constants.caption_app_prefer_coverage}}</div>
            <div class="trend">
                <div class="use_chart radar_chart" style="height: 370px;"></div>
            </div>
        </div>

        <div class="adaption parpadng" style="width: 100%;">
            <div class="gender_tit">{{constants.caption_app_prefer_lifting}}</div>
            <div class="trend">
                <div class="chart_pt_app_preference" style="height: 400px"></div>
            </div>
        </div>
    </div>
</div>