.item-content-time {
  margin: 16px 0;
}

.fileName {
  width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}

.item-description {
  font-size: 12px;
  line-height: 20px;
  color: #9ca0ac;
}

.clear-file {
  cursor: pointer;
  margin-left: 10px;
  color: #5ba0ff;
  float: left;
}

:host ::ng-deep .ant-calendar-picker-input {
  width: 224px;
}

/* .form nz-upload */

:host ::ng-deep nz-upload {
  display: block;
  // margin-bottom: 12px;
}

:host ::ng-deep nz-upload .ant-btn.ng-star-inserted {
  border: none;
  border-radius: 32px;
  color: #ffffff;
  background-color: #2d8cf0;
}

:host ::ng-deep .ant-form-explain {
  color: #f00;
}

:host ::ng-deep .ant-form-item-required:after {
  vertical-align: sub;
  margin-left: 5px;
}
