<main>
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>投放渠道</nz-form-label>
      <nz-form-control [nzSpan]="11">
        <nz-select
          name="channelCode"
          [(ngModel)]="segment.channelCode"
          (ngModelChange)="changeChannelCode($event)"
          nzShowSearch
          nzPlaceHolder="请选择推广渠道"
          [nzDisabled]="segmentDataService.isUpdate === 0"
        >
          <nz-option *ngFor="let option of channelConfig" [nzLabel]="option.name" [nzValue]="option.code"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="vm.channelCodeError">请选择投放渠道</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>发件人</nz-form-label>
      <nz-form-control [nzSpan]="11">
        <nz-select
          name="fromAddress"
          [(ngModel)]="segment.fromAddress"
          (ngModelChange)="initError()"
          nzShowSearch
          nzPlaceHolder="请选择发件人"
          [nzDisabled]="segmentDataService.isUpdate === 0"
        >
          <nz-option
            *ngFor="let option of senderList"
            nzLabel="{{ option.note + '<' + option.email + '>' }}"
            [nzValue]="option.email"
          ></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="vm.fromAddressError">请选择发件人</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>邮件主题</nz-form-label>
      <nz-form-control [nzSpan]="11">
        <input
          nz-input
          name="title"
          [(ngModel)]="segment.title"
          (change)="initError()"
          placeholder="请输入邮件主题"
          [disabled]="segmentDataService.isUpdate === 0"
        />
        <nz-form-explain *ngIf="vm.titleError">{{ vm.titleErrorInfo }}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>邮件内容</nz-form-label>
      <nz-form-control [nzSpan]="11">
        <nz-upload
          *ngIf="!segment.fileName"
          nzAction="/marketing-api/file/upload?type=edm"
          [nzShowUploadList]="false"
          [nzBeforeUpload]="beforeUpload"
          nzAccept=".html"
          [nzName]="'uploadFiles'"
          [nzBeforeUpload]="beforeUpload"
          (nzChange)="handleChange($event)"
          [nzDisabled]="segmentDataService.isUpdate === 0"
        >
          <button nz-button>
            <span class="ant-compat anticon anticon-upload"></span>
            <span>上传HTML</span>
          </button>
        </nz-upload>
        <span *ngIf="segment.fileName" class="fileName" title="{{ segment.fileName }}">{{ segment.fileName }}</span>
        <span *ngIf="segment.fileName && segmentDataService.isUpdate !== 0" class="clear-file" (click)="clearFile()"
          >清除</span
        >
        <div *ngIf="!segment.fileName" class="item-description">
          上传HTML文件限制大小为10M
        </div>
        <nz-form-explain *ngIf="vm.fileNameError">请上传邮件内容</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired nzPlaceHolder>投放时间</nz-form-label>
      <nz-form-control [nzSpan]="11">
        <nz-radio-group name="triggerType" [(ngModel)]="segment.triggerType">
          <label style="font-size: 12px;" nz-radio-button nzValue="1" [nzDisabled]="segmentDataService.isUpdate === 0"
            >立即发送</label
          >
          <label style="font-size: 12px;" nz-radio-button nzValue="2" [nzDisabled]="segmentDataService.isUpdate === 0"
            >定时发送</label
          >
        </nz-radio-group>
        <div class="item-content-time" *ngIf="segment.triggerType == 2">
          <nz-date-picker
            name="time"
            [(ngModel)]="sendTime"
            [nzDisabledDate]="disabledDate"
            nzAllowClear="false"
            (ngModelChange)="buildSendTime($event)"
            [nzSize]="size"
            style="width: 224px;"
            nzPlaceHolder="请选择日期"
            [nzDisabled]="segmentDataService.isUpdate === 0"
          ></nz-date-picker>
          <nz-select
            name="hour"
            [(ngModel)]="selectedHour"
            (ngModelChange)="buildSendTime($event)"
            style="width: 80px; margin-left: 8px;"
            nzPlaceHolder="小时"
            [nzDisabled]="segmentDataService.isUpdate === 0"
          >
            <nz-option *ngFor="let option of hourList" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
          <nz-select
            name="minute"
            [(ngModel)]="selectedMinute"
            (ngModelChange)="buildSendTime($event)"
            style="width: 80px; margin-left: 8px;"
            nzPlaceHolder="分钟"
            [nzDisabled]="segmentDataService.isUpdate === 0"
          >
            <nz-option *ngFor="let option of minuteList" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
        </div>
        <nz-form-explain *ngIf="vm.timeError">{{ vm.timeErrorInfo }}</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</main>
