:host ::ng-deep .data {
  width: 240px;
  height: 32px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;

  nz-range-picker {
    nz-picker {
      .ant-input {
        border: none !important;
      }
    }
  }
}
