.clrfix {
    zoom: 1;
  }
.clrfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
  }

  .metadataStep2Info{
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(23,35,61,0.25);
    border-radius: 2px;
    margin-top: 24px;
    &:first{
        margin: 0;
    }
  }

  .metadataStep2InfoTitle {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #17233D;
    line-height: 22px;
    padding: 13px 24px;
    text-align: left;
    border-bottom: 1px solid rgba(23,35,61,0.10);
    .head{
        display: inline-block;
        margin-right: 14px;
    }
    i {
        color: rgba(23,35,61,0.55);
    }
    .text{
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: rgba(23,35,61,0.75);
        line-height: 20px;
        margin-left: 7px;
        a{
            font-family: PingFangSC-Medium;
            font-size: 12px;
            color: #2D8CF0;
        }
    }
  }


.metadataStep2Text {
    .clrfix;
    padding: 6px 24px 0 24px;
    background: #fff;
    line-height: 20px;
    font-size: 12px;
    [nz-form-item]{
        display: inline-block;
        float: left;
        margin-bottom: 12px!important;
        // margin-right: 56px;
        &:last-child{
            margin-right:31px!important;
        }
        [nz-form-label]{
            display: inline-block;
            label{
                font-family: PingFangSC-Medium;
                font-size: 12px;
                color: #17233D!important;
            }
        }

        [nz-form-control]{
            display: inline-block;
            // width: 200px;
            text-align: left;
        }
        [nz-form-text]{
            display: inline-block;
            padding: 0;
            margin: 0 56px 0 8px;
            text-align: left;
            vertical-align: middle;
        }

    }

}

// .metadataStep2Form{
//     padding: 24px 24px 0 24px;
//     [nz-form-label]{
//         width: 110px;
//         label{
//             font-family: PingFangSC-Medium;
//             font-size: 12px;
//             color: #17233D!important;
//         }
//     }

//     [nz-form-control]{
//         width: 400px;
//         text-align: left;
//     }
// }