<div class="tablestyle">
    <layout [layoutData]="_layoutLayout" (provinceOut)="setLayoutData($event)" [cmHeightAuto]="true" [cmAlign]="'level'"></layout>
    <ul class="center">
        <div class="piecenter">
            <p style="margin-bottom:8px">颜色</p>
            <div class="section">
                <li style="margin:12px 0 0 0">
                    <div class="captioncontent">
                        <div class="captiontop">表头背景</div>
                        <div class="captionbottom">
                            <color-picker-style [height]="16" width="70" [colors]="_cmPresetColors" [cmcolor]="tableColor.bg" [cmType]="'hex'" (provinceOut)="tableColor.bg = $event;OptionChange()"></color-picker-style>
                            <!-- <cm-color-picker [cmType]="'board'" [cmcolor]="tableColor.bg" [cmPresetColors]="_cmPresetColors" [cmPosition]="_cmPosition" (cmcolorchange)="tableColor.bg = $event;OptionChange();" [cmPositionOffset]="_cmPositionOffset"></cm-color-picker> -->
                        </div>
                        <div class="captiontop">奇数行</div>
                        <div class="captionbottom">
                            <color-picker-style [height]="16" width="70" [colors]="_cmPresetColors" [cmcolor]="tableColor.odd" [cmType]="'hex'" (provinceOut)="tableColor.odd = $event;OptionChange()"></color-picker-style>
                            <!-- <cm-color-picker [cmType]="'board'" [cmcolor]="tableColor.odd" [cmPresetColors]="_cmPresetColors" [cmPosition]="_cmPosition"
                                (cmcolorchange)="tableColor.odd = $event;OptionChange();" [cmPositionOffset]="_cmPositionOffset"></cm-color-picker> -->
                        </div>
                    </div>
                    <div class="captioncontent" style="margin-left:2%;">
                        <div class="captiontop">边框</div>
                        <div class="captionbottom">
                            <color-picker-style [height]="16" width="70" [colors]="_cmPresetColors" [cmcolor]="tableColor.style" [cmType]="'hex'" (provinceOut)="tableColor.style = $event;OptionChange()"></color-picker-style>
                            <!-- <cm-color-picker [cmType]="'board'" [cmcolor]="tableColor.style" [cmPresetColors]="_cmPresetColors" [cmPosition]="_cmPosition"
                                (cmcolorchange)="tableColor.style = $event;OptionChange();" [cmPositionOffset]="_cmPositionOffset"></cm-color-picker> -->
                        </div>
                        <div class="captiontop">偶数行</div>
                        <div class="captionbottom">
                            <color-picker-style [height]="16" width="70" [colors]="_cmPresetColors" [cmcolor]="tableColor.even" [cmType]="'hex'" (provinceOut)="tableColor.even = $event;OptionChange()"></color-picker-style>
                            <!-- <cm-color-picker [cmType]="'board'" [cmcolor]="tableColor.even" [cmPresetColors]="_cmPresetColors" [cmPosition]="_cmPosition"
                                (cmcolorchange)="tableColor.even = $event;OptionChange();" [cmPositionOffset]="_cmPositionOffset"></cm-color-picker> -->
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </ul>
    <ul class="center">
        <div class="piecenter">
            <p style="margin-bottom:8px">表头</p>
            <div class="section">
                <li>
                    <div class="type-size">
                        <div>
                            <p>标签颜色</p>
                            <span style="line-height: 40px;padding-top:10px;display: block;height: 33px;width: 100%;">
                                <color-picker-style [height]="16" width="70" [colors]="_cmPresetColors" [cmcolor]="tableName.color" [cmType]="'hex'" (provinceOut)="tableName.color = $event;OptionChange()"></color-picker-style>
                                <!-- <cm-color-picker [cmType]="'board'" [cmcolor]="tableName.color" [cmPresetColors]="_cmPresetColors" [cmPosition]="_cmPosition"
                                    (cmcolorchange)="tableName.color = $event;OptionChange();" [cmPositionOffset]="_cmPositionOffset"></cm-color-picker> -->
                            </span>
                        </div>
                    </div>
                    <div class="type-face type-face-map">
                        <p>标签大小</p>
                        <cm-select style="width:100%">
                            <nz-select [(ngModel)]="tableName.fontSize" [nzPlaceHolder]="'请选择字号'" nzAllowClear (ngModelChange)="OptionChange($event)">
                                <nz-option *ngFor="let option of fontSizeOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled"></nz-option>
                            </nz-select>
                        </cm-select>
                    </div>
                </li>
                <!-- <li class="percentage" style="position: relative;text-align: right;">
                    <i style="position: absolute;top:43%;left:0"><i class="icon iconfont icon-ziti4"></i></i>
                    <cm-select>
                        <nz-select [(ngModel)]="tableName.fontFamily" [nzPlaceHolder]="'请选择字体'" nzAllowClear (ngModelChange)="OptionChange($event)">
                            <nz-option *ngFor="let option of typefaces" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                            </nz-option>
                        </nz-select>
                    </cm-select>
                </li> -->
                <li class="layout">
                    <cm-radio>
                        <nz-radio-group [(ngModel)]="tableName.textAlign" [nzSize]="'large'" (ngModelChange)="OptionChange($event)">
                            <label nz-radio-button [nzValue]="'left'">
                                <span>
                                    <i class="icon iconfont icon-format_align_left"></i>
                                </span>
                            </label>
                            <label nz-radio-button [nzValue]="'center'">
                                <span>
                                    <i class="icon iconfont icon-format_align_center"></i>
                                </span>
                            </label>
                            <label nz-radio-button [nzValue]="'right'">
                                <span>
                                    <i class="icon iconfont icon-format_align_right"></i>
                                </span>
                            </label>
                        </nz-radio-group>
                    </cm-radio>
                </li>
            </div>
        </div>
    </ul>
    <ul class="center">
        <div class="piecenter">
            <p style="margin-bottom:8px">内容</p>
            <div class="section">
                <li>
                    <div class="type-size">
                        <div>
                            <p>标签颜色</p>
                            <span style="padding-top:10px;line-height: 40px;display: block;height: 33px;width: 100%;">
                                <color-picker-style [height]="16" width="70" [colors]="_cmPresetColors" [cmcolor]="tableValue.color" [cmType]="'hex'" (provinceOut)="tableValue.color = $event;OptionChange()"></color-picker-style>
                                <!-- <cm-color-picker [cmType]="'board'" [cmcolor]="tableValue.color" [cmPresetColors]="_cmPresetColors" [cmPosition]="_cmPosition"
                                    (cmcolorchange)="tableValue.color = $event;OptionChange();" [cmPositionOffset]="_cmPositionOffset"></cm-color-picker> -->
                            </span>
                        </div>
                    </div>
                    <div class="type-face type-face-map">
                        <p>标签大小</p>
                        <cm-select style="width:100%">
                            <nz-select [(ngModel)]="tableValue.fontSize" [nzPlaceHolder]="'请选择字号'" nzAllowClear (ngModelChange)="OptionChange($event)">
                                <nz-option *ngFor="let option of fontSizeOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled"></nz-option>
                            </nz-select>
                        </cm-select>
                    </div>
                </li>
                <!-- <li class="percentage" style="position: relative;text-align: right;">
                    <i style="position: absolute;top:43%;left:0"><i class="icon iconfont icon-ziti4"></i></i>
                    <cm-select>
                        <nz-select [(ngModel)]="tableValue.fontFamily" [nzPlaceHolder]="'请选择字体'" nzAllowClear (ngModelChange)="OptionChange($event)">
                            <nz-option *ngFor="let option of typefaces" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                            </nz-option>
                        </nz-select>
                    </cm-select>
                </li> -->
                <li class="layout">
                    <cm-radio>

                        <nz-radio-group [nzSize]="'large'" [(ngModel)]="tableValue.textAlign" (ngModelChange)="OptionChange($event)">
                            <label nz-radio-button [nzValue]="'left'">
                                <span>
                                    <i class="icon iconfont icon-format_align_left"></i>
                                </span>
                            </label>
                            <label nz-radio-button [nzValue]="'center'">
                                <span>
                                    <i class="icon iconfont icon-format_align_center"></i>
                                </span>
                            </label>
                            <label nz-radio-button [nzValue]="'right'">
                                <span>
                                    <i class="icon iconfont icon-format_align_right"></i>
                                </span>
                            </label>
                        </nz-radio-group>
                    </cm-radio>
                </li>
                <!-- <li style="margin:12px 0" class="">
                    <div style=" font-family: PingFangSC-Regular;font-size: 12px;color: rgba(23, 35, 61, 0.55);line-height: 20px;height: 20px;">
                        小数精度
                    </div>
                    <cm-select>
                        <nz-select [(ngModel)]="tableValue.decimals" [nzPlaceHolder]="'请选择小数精度'" nzAllowClear (ngModelChange)="OptionChange($event)">
                            <nz-option *ngFor="let option of decimalss" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
                            </nz-option>
                        </nz-select>
                    </cm-select>
                </li> -->
            </div>
        </div>
    </ul>
    <ul class="center">
        <div class="piecenter">
            <p style="margin-bottom:8px">其他</p>
            <div class="section">
                <li style="margin:10px 0">
                    <cm-checkbox>
                        <label nz-checkbox [(ngModel)]="rests.paging" (ngModelChange)="OptionChange($event)">
                            <span>显示分页</span>
                        </label>
                    </cm-checkbox>
                </li>
                <div *ngIf="rests.paging">
                    <li style="margin-bottom:10px">
                        <cm-checkbox>
                            <label nz-checkbox [(ngModel)]="rests.row" (ngModelChange)="OptionChange($event)">
                                <span>显示每页显示条数</span>
                            </label>
                        </cm-checkbox>
                    </li>
                    <li>
                        <cm-checkbox>
                            <label nz-checkbox [(ngModel)]="rests.amount" (ngModelChange)="OptionChange($event)">
                                <span>显示总数

                                </span>
                            </label>
                        </cm-checkbox>
                    </li>
                </div>

            </div>
        </div>
    </ul>
</div>