<main>
  <!-- 规则定义 -->
  <div class="rule-div">
    <div class="title">
      规则定义
      <label *ngIf="ruleDefinitionList.length < 10" class="button" (click)="addRule($event)"
        ><span class="ant-compat anticon anticon-plus" style="margin-right: 8px;"></span>添加规则</label
      >
    </div>
    <div class="form-item">
      <div class="item" *ngFor="let rule of ruleDefinitionList; let i = index">
        <nz-select *ngIf="i != 0" ngModel="&&" class="relationship">
          <!-- <nz-option *ngFor="let item of industryDicNoAll" [nzLabel]="item.label" [nzValue]="item.value"></nz-option> -->
          <nz-option nzLabel="并且" nzValue="&&"></nz-option>
          <nz-option nzLabel="或者" nzValue="||"></nz-option>
        </nz-select>
        <label class="tag-div">{{ codeToString(i) }}</label>
        <!-- <label class="tag-div">A</label> -->
        <label class="label">目标</label>
        <nz-select
          style="width: 140px;"
          nzShowSearch
          nzPlaceHolder="请选择营销活动"
          (ngModelChange)="changeIndustry($event)"
        >
          <nz-option *ngFor="let item of industryDicNoAll" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
        <nz-select
          style="width: 200px; margin-left: 8px;"
          nzShowSearch
          nzPlaceHolder="请选择效果指标"
          (ngModelChange)="changeIndustry($event)"
        >
          <nz-option *ngFor="let item of industryDicNoAll" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>

        <label class="label">时间</label>
        <nz-range-picker style="width: 228px;"></nz-range-picker>

        <label class="label">目标</label>
        <nz-select
          style="width: 60px; margin-right: 8px;"
          nzShowSearch
          nzPlaceHolder="--"
          (ngModelChange)="changeIndustry($event)"
        >
          <nz-option *ngFor="let item of industryDicNoAll" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
        </nz-select>
        <input nz-input style="width: 60px;" placeholder="阀值" (ngModelChange)="changeName($event)" />
        <span
          class="ant-compat anticon anticon-close clear-button"
          *ngIf="ruleDefinitionList.length > 1"
          (click)="deleteRule(rule, i)"
        ></span>
      </div>
    </div>
  </div>
</main>
