<div class="modal" id="changePasswordDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" ng-drag-dialog="true">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{constants.label_user}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal clrfix mb-15" name="formHorizontal">
                    <div class="control-group">
                        <label class="control-label">{{constants.label_login_email}}：</label>
                        <div class="controls">
                            <div>{{user.email}}</div>
                        </div>
                    </div>

                    <div class="control-group" style="margin-top:10px;">
                        <label class="control-label"><span class="required">*</span>{{constants.label_old_password}}：</label>
                        <div class="controls">
                            <input placeholder="{{constants.prompt_user_oldPsd}}" ng-minlength="6" ng-maxlength="32" maxlength="32" ng-class="{'input-error':!formHorizontal.oldPassword.$valid && formHorizontal.oldPassword.$dirty}" class="form-control" type="password" ng-model="changeUser.oldPassword"
                                   name="oldPassword" required/>
                            <div class="form-error-msg" ng-show="!formHorizontal.oldPassword.$valid && formHorizontal.oldPassword.$dirty">{{constants.prompt_user_passwordLength}}</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><span class="required">*</span>{{constants.label_new_password}}：</label>
                        <div class="controls">
                            <input ng-keyup="checkNewPasswordValid();" placeholder="{{constants.prompt_user_newPsd}}" ng-minlength="6" ng-maxlength="32" maxlength="32" ng-class="{'input-error':!formHorizontal.newPassword.$valid && formHorizontal.newPassword.$dirty}" class="form-control"
                                   ng-model="changeUser.newPassword" type="password" name="newPassword" required>
                            <div class="form-error-msg" ng-show="!formHorizontal.newPassword.$valid && formHorizontal.newPassword.$dirty">{{constants.prompt_user_passwordLength}}</div>
                            <div class="form-error-msg" ng-show="!(!formHorizontal.newPassword.$valid && formHorizontal.newPassword.$dirty) && newPasswordIsSame">{{constants.prompt_user_passwordError1}}</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><span class="required">*</span>{{constants.label_true_password}}：</label>
                        <div class="controls">
                            <input ng-keyup="checkRepasswordValid();" placeholder="{{constants.prompt_user_truePsd}}" ng-minlength="6" ng-maxlength="32" maxlength="32" ng-class="{'input-error':repasswordIsError || (!formHorizontal.repassword.$valid && formHorizontal.repassword.$dirty)}" class="form-control"
                                   ng-model="changeUser.repassword" type="password" name="repassword" required>
                            <div class="form-error-msg" ng-show="!formHorizontal.repassword.$valid && formHorizontal.repassword.$dirty">{{constants.prompt_user_passwordLength}}</div>
                            <div class="form-error-msg" ng-show="!(!formHorizontal.repassword.$valid && formHorizontal.repassword.$dirty) && repasswordIsError">{{constants.prompt_user_passwordError2}}</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updatePassword(formHorizontal)">{{constants.label_save}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{constants.label_cancel}}</button>
            </div>
        </div>
    </div>
</div>