<form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label" nzRequired>
      <label for="name">应用名称</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24">

      <input nz-input [nzSize]="'large'" formControlName="name" id="name">

      <ng-container *ngIf="getFormControl('name').dirty && getFormControl('name').errors">
        <nz-form-explain style="color:red;" >
          <span *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">请输入应用名称</span>
          <span *ngIf="getFormControl('name').errors.maxlength">输入的应用名称过长</span>
          <span *ngIf="getFormControl('name').dirty && getFormControl('name').errors && getFormControl('name').errors.nameRepeat">应用名称已存在</span>
          <span *ngIf="getFormControl('name').errors.pattern">开头结尾不能有空格</span>
        </nz-form-explain>
      </ng-container>

    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label" nzRequired>
      <label for="code" nzRequired>应用编码</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24">

      <input nz-input [nzSize]="'large'" formControlName="code" id="code">

      <ng-container *ngIf="getFormControl('code').dirty && getFormControl('code').errors">
        <nz-form-explain style="color:red;" >
          <span *ngIf="getFormControl('code').errors.required">请输入应用编码</span>
            <span *ngIf="getFormControl('code').errors.maxlength">输入的应用编码过长</span>
              <!-- <span *ngIf="!getFormControl('code').errors.maxlength&&!getFormControl('code').errors.codeRepeat"> -->
              <span *ngIf="getFormControl('code').errors.pattern">应用编码只能由字母、数字或_组成</span>
                <!-- </span> -->
                <span *ngIf="getFormControl('code').errors.codeRepeat">应用编码已存在</span>
                  <!-- <span *ngIf="getFormControl('code').errors.cnameRepeat">应用编码和应用名称不能重复</div> -->
        </nz-form-explain>
      </ng-container>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label" nzRequired>
      <label for="version" nzRequired>应用版本</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24">

      <input nz-input [nzSize]="'large'" formControlName="version" id="version">

      <ng-container *ngIf="getFormControl('version').dirty && getFormControl('version').errors">
        <nz-form-explain style="color:red;" >
          <span *ngIf="getFormControl('version').errors.required">请输入应用版本</span>
            <span *ngIf="getFormControl('version').errors.maxlength">输入的应用版本过长</span>
        </nz-form-explain>
      </ng-container>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label" nzRequired>
      <label for="status" nzRequired class="special-label-before">状态</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24">

      <!-- 
                     <nz-switch [formControlName]="'status'" [(ngModel)]="status">
                         <span checked>启用</span>
                         <span unchecked>禁用</span>
                     </nz-switch>
                 -->
      <label nz-checkbox [formControlName]="'status'" [(ngModel)]="status">
        <span>启用</span>
      </label>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label" nzRequired>
      <label for="token">系统令牌</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24" class="zw-border">

      <input class="tokens" nz-input style="border-color: #fff;" [nzSize]="'large'" [(ngModel)]="token" formControlName="token"
        id="token" readonly>

      <!-- {{token}} -->
      <!-- <span *ngIf="getFormControl('token').dirty&&getFormControl('token').hasError('required')">请输入令牌</span> -->
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label" nzRequired>
      <label for="type">应用类型</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24">

      <nz-radio-group [(ngModel)]="type" [formControlName]="'type'">
        <label nz-radio-button [nzValue]="'1'">
          <span>主应用</span>
        </label>
        <label nz-radio-button [nzValue]="'2'">
          <span>增值包</span>
        </label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row *ngIf="type == '2'">
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label">
      <label for="additionalAppId" nzRequired>依赖的主应用</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24">
      <select-search-apps [select]="additionalAppIdSelect" (selectOptions)="additionalAppIdSelectOptions($event)"
        [ismultiple]="ismultiple" (onSelect)="selectSearchAdditionalAppId($event,'additionalAppId')"></select-search-apps>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label" nzRequired>
      <label for="uri">URL</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24">

      <input nz-input [nzSize]="'large'" formControlName="uri" id="uri">
      <nz-form-explain style="color:red;" >
        <span *ngIf="getFormControl('uri').dirty&&getFormControl('uri').hasError('required')">请输入URL</span>
        <span *ngIf="getFormControl('uri').dirty&&getFormControl('uri').hasError('maxlength')">输入的URL过长</span>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label">
      <label for="provider" nzRequired class="special-label-before">服务商</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24">

      <input nz-input [nzSize]="'large'" formControlName="provider" id="provider">
      <nz-form-explain style="color:red;" >
        <span *ngIf="getFormControl('provider').dirty&&getFormControl('provider').hasError('required')">请输入服务商</span>
        <span *ngIf="getFormControl('provider').dirty&&getFormControl('provider').hasError('maxlength')">输入的服务商过长</span>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row *ngIf="type == '1'">
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label" nzRequired>
      <label for="appIcon">应用小图标</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24" style="position: relative">
      <upload-images size [uploadParam]="appIconFile" [size]="50" (onUpload)="onUploadAppIconFile($event);" (onRemove)="onRemoveAppIconFile($event);"
        (onError)="onErrorAppIconFile($event);"></upload-images>
      <nz-form-control nz-col [nzSm]="24" [nzXs]="24" *ngIf="errorFlag==true && !imageErrorFlag">
        <span style="color: red">请上传应用小图标</span>
      </nz-form-control>
      <div style="display:block;color:#D1D1D9;font-size: 12px;line-height: 20px">
        <p>推荐：90 * 90大小，只支持jpg/png格式图片，透明底色，文件最大不超过50k</p>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row *ngIf="type == '1'">
    <nz-form-label nz-col [nzSm]="24" [nzXs]="24" class="special-label" nzRequired>
      <label for="appIcon">应用大图标</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24" style="position: relative">
      <upload-images [uploadParam]="appIconFileMax" [size]="100" (onUpload)="onUploadAppIconFileMax($event);"
        (onRemove)="onRemoveAppIconFileMax($event);" (onError)="onErrorAppIconFileMax($event);" class="pictermax"></upload-images>
      <nz-form-control nz-col [nzSm]="14" [nzXs]="24" *ngIf="errorFlagMax==true && !imageErrorFlagMax" style="width:100%">
        <span style="color: red">请上传应用大图标</span>
      </nz-form-control>
      <div style="display:block;color:#D1D1D9;font-size: 12px;line-height: 20px">
        <p>推荐：176 * 56大小，只支持jpg/png格式图片，透明底色，文件最大不超过100k</p>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="3" [nzXs]="24" class="special-label" nzRequired>
      <label for="desc">应用简介</label>
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzXs]="24">

      <textarea nz-input [nzSize]="'large'" formControlName="desc" id="desc"></textarea>
      <nz-form-explain style="color:red;" >
        <span *ngIf="getFormControl('desc').dirty&&getFormControl('desc').hasError('required')">请输入应用简介</span>
        <span *ngIf="getFormControl('desc').dirty&&getFormControl('desc').hasError('maxlength')">输入的应用简介过长</span>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

</form>
