.hide {
  display: none;
}

.placeHolderStyle {
  color: #cccccc !important;
}

.label-1 {
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
  text-align: left;
  line-height: 12px;
}

.value-1 {
  font-size: 12px;
  color: #17233d;
  text-align: left;
  line-height: 12px;
  font-weight: bolder;
}

.value-2 {
  font-size: 12px;
  color: #17233d;
  text-align: left;
  line-height: 12px;
}

.label-2 {
  font-size: 12px;
  color: #17233d;
  text-align: left;
  line-height: 16px;
  font-weight: bolder;
}

.label-3 {
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
  line-height: 20px;
}

.table-plan .td {
  background: rgba(23, 35, 61, 0.06);
  border: #ffffff 20px solid;
  width: 50%;
  //padding: 20px;
}

.table-plan-td {
  background: rgba(23, 35, 61, 0.06);
  border: #ffffff 20px solid;
  width: 50%;
}

.panel-content .float-item:nth-child(2) {
  margin-left: 20px;
}

.panel-content .float-item:nth-child(3) {
  margin-top: 20px;
}

.panel-content .float-item:nth-child(4) {
  margin-left: 20px;
  margin-top: 20px;
}

.float-item {
  float: left;
  background: rgba(23, 35, 61, 0.06);
  height: 48px;
  //width: -moz-calc(50% - 10px);
  //width: -webkit-calc(50% - 10px);
  width: calc(~'50% - 10px');
  padding: 0 20px;
}

.float-item /deep/ .ant-input-number-input-wrap {
  font-size: 12px;
}

.float-item-2 {
  background: rgba(23, 35, 61, 0.06);
  height: 48px;
  width: 100%;
  padding: 0 20px;
}

.float-item-2:not(:nth-child(1)) {
  margin-top: 20px;
}

.label-4 {
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
  line-height: 20px;
  margin-right: 10px;
}

.value-4 {
  font-size: 12px;
  color: #17233d;
  line-height: 20px;
  font-weight: bolder;
}

.value-5 {
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
  line-height: 20px;
}

.activities-title {
  padding: 10px 20px;
  font-weight: bolder;
  height: 47px;
  line-height: 27px;
  color: #17233d;
  font-size: 14px;
}

.activities-content {
  border-top: #dcdee2 1px solid;
  padding: 0;
  font-size: 12px;
}

.input-group input {
  font-size: 14px;
}

.date-picker /deep/ .ant-calendar-picker-input {
  width: 170px;
}

.date-picker /deep/ .ant-calendar-picker-icon {
  display: none;
}

.inline-block {
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.activities-add-item {
  border: none;
  color: #2d8cf0;
  font-size: 20px;
}

.pipeline-label-1 {
  font-size: 14px;
  color: #17233d;
  line-height: 22px;
  font-weight: bolder;
}

.pipeline-label-2 {
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
  line-height: 20px;
}

.pipeline-label-3 {
  font-size: 12px;
  color: rgba(23, 35, 61, 0.75);
  line-height: 20px;
}

.pipeline-label-4 {
  font-size: 12px;
  color: #17233d;
  text-align: left;
  line-height: 12px;
  font-weight: bolder;
  width: 120px;
  display: inline-block;
  margin-right: 20px;

  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pipline-equity-item {
  height: 20px;
  margin-top: 21px;
}

.pipline-equity-item:nth-child(1) {
  margin-top: 6px;
}

.pipeline-status-label {
  border-radius: 10px;
  padding: 2px 10px;
  color: #ffffff;
}

.pipeline-image {
  width: 474px;
  //background: url('../../../assets/images/pipeline.png') no-repeat;
  background-color: rgba(241, 242, 244, 1);
  background-size: 100% 100%;
}

.pipe-state-1 {
  background: #ffbd6e;
}

.pipe-state-2 {
  background: rgba(241, 200, 84, 1);
}

.pipe-state-3 {
  background: #db425a;
}

.pipe-state-4 {
  background: rgba(23, 35, 61, 0.25);
}

.pipe-state-5 {
  background: #2d8cf0;
}

.pipe-state-6 {
  background: rgba(23, 35, 61, 0.25);
}

.pipe-state-7 {
  background: #56d08b;
}

.pipe-state-8 {
  background: #cccccc;
}

.disable {
  color: #cccccc;
}

.global-view {
  width: 76px;
  /* height: 24px; */
  /* float: left; */
  display: inline-block;
  border: #cccccc 1px solid;
  border-radius: 3px;
  padding: 2px 10px;
  background: #efefef;
}
