<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.AppTypesDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.AppTypes">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="type" property="type"/>
        <result column="type_en" property="typeEn"/>
        <result column="tagRef" property="tagRef"/>
        <result column="seq" property="seq"/>
        <result column="create_time" property="createTime"/>
        <result column="updater" property="updater"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- TD_APP_TYPES table all fields -->
    <sql id="Base_Column_List">
        id,parent_id,type,type_en,tagRef,seq,create_time,updater,update_by,update_time
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="parentId != null and parentId != ''">
                and parent_id = #{parentId}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="typeEn != null and typeEn != ''">
                and type_en = #{typeEn}
            </if>
            <if test="tagRef != null and tagRef != ''">
                and tagRef = #{tagRef}
            </if>
            <if test="seq != null and seq != ''">
                and seq = #{seq}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into TD_APP_TYPES(id,parent_id,type,type_en,tagRef,seq,create_time,updater,update_by,update_time)
        values(#{id},#{parentId},#{type},#{typeEn},#{tagRef},#{seq},now(),#{updater},#{updateBy},now())
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_APP_TYPES set
        parent_id=#{parentId},type=#{type},type_en=#{typeEn},tagRef=#{tagRef},seq=#{seq},create_time=now(),updater=#{updater},update_by=#{updateBy},update_time=now()
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_APP_TYPES set
        <trim suffixOverrides=",">
            <if test="parentId != null  ">
                parent_id=#{parentId},
            </if>
            <if test="type != null  ">
                type=#{type},
            </if>
            <if test="typeEn != null  ">
                type_en=#{typeEn},
            </if>
            <if test="tagRef != null  ">
                tagRef=#{tagRef},
            </if>
            <if test="seq != null  ">
                seq=#{seq},
            </if>
            <if test="createTime != null  ">
                create_time=#{createTime},
            </if>
            <if test="updater != null  ">
                updater=#{updater},
            </if>
            <if test="updateBy != null  ">
                update_by=#{updateBy},
            </if>
            <if test="updateTime != null  ">
                update_time=#{updateTime},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 APP分类表 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_APP_TYPES where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_APP_TYPES where id = #{id}
    </delete>

    <!-- APP分类表 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_APP_TYPES
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询APP分类表列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_APP_TYPES
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <!-- 删除所有记录 -->
    <delete id="cleanData" parameterType="Object">
        delete from TD_APP_TYPES
    </delete>
</mapper>
