<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.CustomLabelNameDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.CustomLabelName">
        <result column="id" property="id"/>
        <result column="label" property="label"/>
        <result column="name" property="name"/>
        <result column="project_id" property="projectId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="create_by" property="createBy"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- TD_CUSTOM_LABEL_NAME table all fields -->
    <sql id="Base_Column_List">
        id,label,name,project_id,tenant_id,version,status,type,create_by,creator,create_time,update_by,updater,update_time
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="label != null and label != ''">
                and label = #{label}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        TD_CUSTOM_LABEL_NAME(id,label,name,project_id,tenant_id,version,status,type,create_by,creator,create_time,update_by,updater,update_time)
        values(#{id},#{label},#{name},#{projectId},#{tenantId},#{version},#{status},#{type},#{createBy},#{creator},now(),#{updateBy},#{updater},now())
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_CUSTOM_LABEL_NAME set
        label=#{label},name=#{name},project_id=#{projectId},tenant_id=#{tenantId},version=#{version},status=#{status},type=#{type},create_by=#{createBy},creator=#{creator},create_time=now(),update_by=#{updateBy},updater=#{updater},update_time=now()
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_CUSTOM_LABEL_NAME set
        <trim suffixOverrides=",">
            <if test="label != null  ">
                label=#{label},
            </if>
            <if test="name != null  ">
                name=#{name},
            </if>
            <if test="projectId != null  ">
                project_id=#{projectId},
            </if>
            <if test="tenantId != null  ">
                tenant_id=#{tenantId},
            </if>
            <if test="version != null  ">
                version=#{version},
            </if>
            <if test="status != null  ">
                status=#{status},
            </if>
            <if test="type != null  ">
                type=#{type},
            </if>
            <if test="createBy != null  ">
                create_by=#{createBy},
            </if>
            <if test="creator != null  ">
                creator=#{creator},
            </if>
            <if test="createTime != null  ">
                create_time=#{createTime},
            </if>
            <if test="updateBy != null  ">
                update_by=#{updateBy},
            </if>
            <if test="updater != null  ">
                updater=#{updater},
            </if>
            <if test="updateTime != null  ">
                update_time=#{updateTime},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 用户自定义标签名 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_CUSTOM_LABEL_NAME where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_CUSTOM_LABEL_NAME where id = #{id}
    </delete>

    <!-- 用户自定义标签名 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_CUSTOM_LABEL_NAME
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询用户自定义标签名列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_CUSTOM_LABEL_NAME
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>
</mapper>
