<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.DmkTagsDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.DmkTags">
        <result column="id" property="id"/>
        <result column="mac" property="mac"/>
        <result column="tdid" property="tdid"/>
        <result column="weight" property="weight"/>
        <result column="name" property="name"/>
        <result column="label" property="label"/>
        <result column="tag_type" property="tagType"/>
        <result column="sync_date" property="syncDate"/>
        <result column="dmk_code" property="dmkCode"/>
        <result column="dmk_msg" property="dmkMsg"/>
        <result column="dmk_seq" property="dmkSeq"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- TD_DMK_TAGS table all fields -->
    <sql id="Base_Column_List">
        id,mac,tdid,weight,name,label,tag_type,sync_date,dmk_code,dmk_msg,dmk_seq,create_time
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="mac != null and mac != ''">
                and mac = #{mac}
            </if>
            <if test="tdid != null and tdid != ''">
                and tdid = #{tdid}
            </if>
            <if test="weight != null and weight != ''">
                and weight = #{weight}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="label != null and label != ''">
                and label = #{label}
            </if>
            <if test="tagType != null and tagType != ''">
                and tag_type = #{tagType}
            </if>
            <if test="syncDate != null and syncDate != ''">
                and sync_date = #{syncDate}
            </if>
            <if test="dmkCode != null and dmkCode != ''">
                and dmk_code = #{dmkCode}
            </if>
            <if test="dmkMsg != null and dmkMsg != ''">
                and dmk_msg = #{dmkMsg}
            </if>
            <if test="dmkSeq != null and dmkSeq != ''">
                and dmk_seq = #{dmkSeq}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into TD_DMK_TAGS(id,mac,tdid,weight,name,label,tag_type,sync_date,dmk_code,dmk_msg,dmk_seq,create_time)
        values(#{id},#{mac},#{tdid},#{weight},#{name},#{label},#{tagType},#{syncDate},#{dmkCode},#{dmkMsg},#{dmkSeq},now())
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_DMK_TAGS set
        mac=#{mac},tdid=#{tdid},weight=#{weight},name=#{name},label=#{label},tag_type=#{tagType},sync_date=#{syncDate},dmk_code=#{dmkCode},dmk_msg=#{dmkMsg},dmk_seq=#{dmkSeq},create_time=now()
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_DMK_TAGS set
        <trim suffixOverrides=",">
            <if test="mac != null  ">
                mac=#{mac},
            </if>
            <if test="tdid != null  ">
                tdid=#{tdid},
            </if>
            <if test="weight != null  ">
                weight=#{weight},
            </if>
            <if test="name != null  ">
                name=#{name},
            </if>
            <if test="label != null  ">
                label=#{label},
            </if>
            <if test="tagType != null  ">
                tag_type=#{tagType},
            </if>
            <if test="syncDate != null  ">
                sync_date=#{syncDate},
            </if>
            <if test="dmkCode != null  ">
                dmk_code=#{dmkCode},
            </if>
            <if test="dmkMsg != null  ">
                dmk_msg=#{dmkMsg},
            </if>
            <if test="dmkSeq != null  ">
                dmk_seq=#{dmkSeq},
            </if>
            <if test="createTime != null  ">
                create_time=#{createTime},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 TAGS同步记录 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_DMK_TAGS where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_DMK_TAGS where id = #{id}
    </delete>

    <!-- TAGS同步记录 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_DMK_TAGS
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询TAGS同步记录列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_DMK_TAGS
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>
</mapper>
