<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.MetaDataDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.MetaData">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="project_id" property="projectId"/>
        <result column="room_id" property="roomId"/>
        <result column="data_type" property="dataType"/>
        <result column="data_value" property="dataValue"/>
        <result column="create_by" property="createBy"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- TD_META_DATA table all fields -->
    <sql id="Base_Column_List">
        id,tenant_id,project_id,room_id,data_type,data_value,create_by,creator,create_time,update_by,updater,update_time
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="roomId != null and roomId != ''">
                and room_id = #{roomId}
            </if>
            <if test="dataType != null and dataType != ''">
                and data_type = #{dataType}
            </if>
            <if test="dataValue != null and dataValue != ''">
                and data_value = #{dataValue}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        TD_META_DATA(id,tenant_id,project_id,room_id,data_type,data_value,create_by,creator,create_time,update_by,updater,update_time)
        values(#{id},#{tenantId},#{projectId},#{roomId},#{dataType},#{dataValue},#{createBy},#{creator},now(),#{updateBy},#{updater},now())
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_META_DATA set
        tenant_id=#{tenantId},project_id=#{projectId},room_id=#{roomId},data_type=#{dataType},data_value=#{dataValue},create_by=#{createBy},creator=#{creator},create_time=now(),update_by=#{updateBy},updater=#{updater},update_time=now()
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_META_DATA set
        <trim suffixOverrides=",">
            <if test="tenantId != null  ">
                tenant_id=#{tenantId},
            </if>
            <if test="projectId != null  ">
                project_id=#{projectId},
            </if>
            <if test="roomId != null  ">
                room_id=#{roomId},
            </if>
            <if test="dataType != null  ">
                data_type=#{dataType},
            </if>
            <if test="dataValue != null  ">
                data_value=#{dataValue},
            </if>
            <if test="createBy != null  ">
                create_by=#{createBy},
            </if>
            <if test="creator != null  ">
                creator=#{creator},
            </if>
            <if test="createTime != null  ">
                create_time=#{createTime},
            </if>
            <if test="updateBy != null  ">
                update_by=#{updateBy},
            </if>
            <if test="updater != null  ">
                updater=#{updater},
            </if>
            <if test="updateTime != null  ">
                update_time=#{updateTime},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 元数据信息表 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_META_DATA where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_META_DATA where id = #{id}
    </delete>

    <!-- 元数据信息表 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_META_DATA
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询元数据信息表列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_META_DATA
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

</mapper>
