<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.ProjectAttachmentDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.ProjectAttachment">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="data" property="data"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="creator" property="creator"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="attr1" property="attr1"/>
        <result column="attr2" property="attr2"/>
        <result column="attr3" property="attr3"/>
        <result column="attr4" property="attr4"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- TD_ATTACHMENT table all fields -->
    <sql id="Base_Column_List">
        id,type,name,data,tenant_id,creator,create_by,create_time,attr1,attr2,attr3,attr4,status
    </sql>

    <sql id="Last_Column_List">
        id,type,name,data,tenant_id,creator,create_by,attr1,attr2,attr3,attr4,status
    </sql>
    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="data != null and data != ''">
                and data = #{data}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null and attr2 != ''">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null and attr3 != ''">
                and attr3 = #{attr3}
            </if>
            <if test="attr4 != null and attr4 != ''">
                and attr4 = #{attr4}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        TD_ATTACHMENT(id,type,name,data,tenant_id,creator,create_by,create_time,attr1,attr2,attr3,attr4,status)
        values(#{id},#{type},#{name},#{data},#{tenantId},#{creator},#{createBy},now(),#{attr1},#{attr2},#{attr3},#{attr4},#{status})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_ATTACHMENT set
        type=#{type},name=#{name},data=#{data},tenant_id=#{tenantId},creator=#{creator},create_by=#{createBy},create_time=now(),attr1=#{attr1},attr2=#{attr2},attr3=#{attr3},attr4=#{attr4},status=#{status}
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_ATTACHMENT set
        <trim suffixOverrides=",">
            <if test="type != null  ">
                type=#{type},
            </if>
            <if test="name != null  ">
                name=#{name},
            </if>
            <if test="data != null  ">
                data=#{data},
            </if>
            <if test="tenantId != null  ">
                tenant_id=#{tenantId},
            </if>
            <if test="creator != null  ">
                creator=#{creator},
            </if>
            <if test="createBy != null  ">
                create_by=#{createBy},
            </if>
            <if test="createTime != null  ">
                create_time=#{createTime},
            </if>
            <if test="attr1 != null  ">
                attr1=#{attr1},
            </if>
            <if test="attr2 != null  ">
                attr2=#{attr2},
            </if>
            <if test="attr3 != null  ">
                attr3=#{attr3},
            </if>
            <if test="attr4 != null  ">
                attr4=#{attr4},
            </if>
            <if test="status != null  ">
                status=#{status},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 附件 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_ATTACHMENT where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_ATTACHMENT where id = #{id}
    </delete>

    <!-- 附件 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_ATTACHMENT
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询附件列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_ATTACHMENT
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <!-- 查询附件列表 -->
    <select id="getLastByProjectIdAndType" resultMap="BaseResultMap" parameterType="Object">
        select
        max(create_time),
        <include refid="Last_Column_List"/>
        from TD_ATTACHMENT
        <include refid="Base_Where_Clause"/>
        group by
        <include refid="Last_Column_List"/>
        order by id desc
        limit 1
    </select>
</mapper>
