<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.ProjectAppTypesDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.ProjectAppTypes">
        <result column="id" property="id"/>
        <result column="type_id" property="typeId"/>
        <result column="type_name" property="typeName"/>
        <result column="project_id" property="projectId"/>
        <result column="order_no" property="orderNo"/>
        <result column="create_time" property="createTime"/>
        <result column="updater" property="updater"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- TD_PROJECT_APP_TYPES table all fields -->
    <sql id="Base_Column_List">
        id,type_id,type_name,project_id,order_no,create_time,updater,update_by,update_time
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="typeId != null and typeId != ''">
                and type_id = #{typeId}
            </if>
            <if test="typeName != null and typeName != ''">
                and type_name = #{typeName}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and order_no = #{orderNo}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        TD_PROJECT_APP_TYPES(id,type_id,type_name,project_id,order_no,create_time,updater,update_by,update_time)
        values(#{id},#{typeId},#{typeName},#{projectId},#{orderNo},now(),#{updater},#{updateBy},now())
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_PROJECT_APP_TYPES set
        type_id=#{typeId},type_name=#{typeName},project_id=#{projectId},order_no=#{orderNo},create_time=now(),updater=#{updater},update_by=#{updateBy},update_time=now()
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_PROJECT_APP_TYPES set
        <trim suffixOverrides=",">
            <if test="typeId != null  ">
                type_id=#{typeId},
            </if>
            <if test="typeName != null  ">
                type_name=#{typeName},
            </if>
            <if test="projectId != null  ">
                project_id=#{projectId},
            </if>
            <if test="orderNo != null  ">
                order_no=#{orderNo},
            </if>
            <if test="createTime != null  ">
                create_time=#{createTime},
            </if>
            <if test="updater != null  ">
                updater=#{updater},
            </if>
            <if test="updateBy != null  ">
                update_by=#{updateBy},
            </if>
            <if test="updateTime != null  ">
                update_time=#{updateTime},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 项目APP分类表 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_PROJECT_APP_TYPES where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_PROJECT_APP_TYPES where id = #{id}
    </delete>

    <!-- 项目APP分类表 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_PROJECT_APP_TYPES
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询项目APP分类表列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_PROJECT_APP_TYPES
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>
</mapper>
