<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.RelevancyAnalysissDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="td.enterprise.entity.RelevancyAnalysiss" >
	<result column="id" property="id"/>
	<result column="tenant_id" property="tenantId"/>
	<result column="project_id" property="projectId"/>
	<result column="analysiss_name" property="analysissName"/>
	<result column="analysiss_crowd_id" property="analysissCrowdId"/>
	<result column="analysiss_crowd_name" property="analysissCrowdName"/>
	<result column="analysiss_project_ids" property="analysissProjectIds"/>
	<result column="status" property="status"/>
	<result column="create_by" property="createBy"/>
	<result column="creator" property="creator"/>
	<result column="create_time" property="createTime"/>
	<result column="update_by" property="updateBy"/>
	<result column="updater" property="updater"/>
	<result column="update_time" property="updateTime"/>
  </resultMap>
       
  <!-- TD_RELEVANCY_ANALYSISS table all fields -->
  <sql id="Base_Column_List" >
	 id,tenant_id,project_id,analysiss_name,analysiss_crowd_id,analysiss_crowd_name,analysiss_project_ids,status,create_by,creator,create_time,update_by,updater,update_time
  </sql>
   
  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
	      <if test="id != null and id != ''" >
        and id =  #{id}
	  </if>
	      <if test="tenantId != null and tenantId != ''" >
        and tenant_id =  #{tenantId}
	  </if>
	      <if test="projectId != null and projectId != ''" >
        and project_id =  #{projectId}
	  </if>
	      <if test="analysissName != null and analysissName != ''" >
        and analysiss_name =  #{analysissName}
	  </if>
	      <if test="analysissCrowdId != null and analysissCrowdId != ''" >
        and analysiss_crowd_id =  #{analysissCrowdId}
	  </if>
	      <if test="analysissCrowdName != null and analysissCrowdName != ''" >
        and analysiss_crowd_name =  #{analysissCrowdName}
	  </if>
	      <if test="analysissProjectIds != null and analysissProjectIds != ''" >
        and analysiss_project_ids =  #{analysissProjectIds}
	  </if>
	      <if test="status != null and status != ''" >
        and status =  #{status}
	  </if>
	      <if test="createBy != null and createBy != ''" >
        and create_by =  #{createBy}
	  </if>
	      <if test="creator != null and creator != ''" >
        and creator =  #{creator}
	  </if>
	      <if test="createTime != null and createTime != ''" >
        and create_time =  #{createTime}
	  </if>
	      <if test="updateBy != null and updateBy != ''" >
        and update_by =  #{updateBy}
	  </if>
	      <if test="updater != null and updater != ''" >
        and updater =  #{updater}
	  </if>
	      <if test="updateTime != null and updateTime != ''" >
        and update_time =  #{updateTime}
	  </if>
	  <if test="q != null and q != ''">
		  and analysiss_name like CONCAT('%','${q}','%' )
	  </if>
    </trim>
  </sql>
   
  <!-- 插入记录 -->
  <insert id="insert" parameterType="Object" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	  SELECT LAST_INSERT_ID()
    </selectKey>
      insert into 
TD_RELEVANCY_ANALYSISS(id,tenant_id,project_id,analysiss_name,analysiss_crowd_id,analysiss_crowd_name,analysiss_project_ids,status,create_by,creator,create_time,update_by,updater,update_time)
 values(#{id},#{tenantId},#{projectId},#{analysissName},#{analysissCrowdId},#{analysissCrowdName},#{analysissProjectIds},#{status},#{createBy},#{creator},now(),#{updateBy},#{updater},now())
  </insert>

  <!-- 根据id，修改记录-->  
  <update id="updateByPrimaryKey" parameterType="Object" >
      update TD_RELEVANCY_ANALYSISS set tenant_id=#{tenantId},project_id=#{projectId},analysiss_name=#{analysissName},analysiss_crowd_id=#{analysissCrowdId},analysiss_crowd_name=#{analysissCrowdName},analysiss_project_ids=#{analysissProjectIds},status=#{status},create_by=#{createBy},creator=#{creator},update_by=#{updateBy},updater=#{updater},update_time=now() where id=#{id}
  </update>
 
  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="Object" >
      update TD_RELEVANCY_ANALYSISS set 
		<if test="tenantId != null  ">
		tenant_id=#{tenantId},
	</if>
	<if test="projectId != null  ">
		project_id=#{projectId},
	</if>
	<if test="analysissName != null  ">
		analysiss_name=#{analysissName},
	</if>
	<if test="analysissCrowdId != null  ">
		analysiss_crowd_id=#{analysissCrowdId},
	</if>
	<if test="analysissCrowdName != null  ">
		analysiss_crowd_name=#{analysissCrowdName},
	</if>
	<if test="analysissProjectIds != null  ">
		analysiss_project_ids=#{analysissProjectIds},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="createBy != null  ">
		create_by=#{createBy},
	</if>
	<if test="creator != null  ">
		creator=#{creator},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateBy != null  ">
		update_by=#{updateBy},
	</if>
	<if test="updater != null  ">
		updater=#{updater},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	update_time = now() 
	where id=#{id}
  </update>
 
  <!-- 根据id查询 路径分析表 -->
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="Object">
      select <include refid="Base_Column_List" /> 
	 from TD_RELEVANCY_ANALYSISS where id = #{id}
  </select>
  
  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
      delete from TD_RELEVANCY_ANALYSISS where id = #{id}
  </delete>

  <!-- 路径分析表 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from TD_RELEVANCY_ANALYSISS 
	<include refid="Base_Where_Clause"/>
  </select>
  	
  <!-- 查询路径分析表列表 -->
  <select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from TD_RELEVANCY_ANALYSISS 
	<include refid="Base_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>
</mapper>   
