<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.SyncHiveOffsetDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.SyncHiveOffset">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="project_id" property="projectId"/>
        <result column="run_date" property="runDate"/>
        <result column="sync_date" property="syncDate"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- TD_SYNC_HIVE_OFFSET table all fields -->
    <sql id="Base_Column_List">
        id,tenant_id,project_id,run_date,sync_date,create_time,update_time
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="runDate != null and runDate != ''">
                and run_date = #{runDate}
            </if>
            <if test="syncDate != null and syncDate != ''">
                and sync_date = #{syncDate}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into TD_SYNC_HIVE_OFFSET(id,tenant_id,project_id,run_date,sync_date,create_time,update_time)
        values(#{id},#{tenantId},#{projectId},#{runDate},#{syncDate},now(),now())
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_SYNC_HIVE_OFFSET set
        tenant_id=#{tenantId},project_id=#{projectId},run_date=#{runDate},sync_date=#{syncDate},create_time=now(),update_time=now()
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_SYNC_HIVE_OFFSET set
        <trim suffixOverrides=",">
            <if test="tenantId != null  ">
                tenant_id=#{tenantId},
            </if>
            <if test="projectId != null  ">
                project_id=#{projectId},
            </if>
            <if test="runDate != null  ">
                run_date=#{runDate},
            </if>
            <if test="syncDate != null  ">
                sync_date=#{syncDate},
            </if>
            <if test="createTime != null  ">
                create_time=#{createTime},
            </if>
            <if test="updateTime != null  ">
                update_time=#{updateTime},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 租户项目同步offset到hive 表中记录 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_SYNC_HIVE_OFFSET where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_SYNC_HIVE_OFFSET where id = #{id}
    </delete>

    <!-- 租户项目同步offset到hive 表中记录 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_SYNC_HIVE_OFFSET
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询租户项目同步offset到hive 表中记录列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_SYNC_HIVE_OFFSET
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>
</mapper>
