<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.TenantTopAreaLookalikeCountDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.TenantTopAreaLookalikeCount">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="project_id" property="projectId"/>
        <result column="crowd_id" property="crowdId"/>
        <result column="run_date" property="runDate"/>
        <result column="area_type" property="areaType"/>
        <result column="metric_value" property="metricValue"/>
        <result column="cycle_statistics" property="cycleStatistics"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="area_name" property="areaName"/>
        <result column="task_id" property="taskId"/>
    </resultMap>

    <!-- TD_TENANT_TOP_AREA_LOOKALIKE_COUNT table all fields -->
    <sql id="Base_Column_List">
        id,tenant_id,project_id,crowd_id,run_date,area_type,metric_value,cycle_statistics,start_date,end_date,area_name,task_id
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="crowdId != null and crowdId != ''">
                and crowd_id = #{crowdId}
            </if>
            <if test="runDate != null and runDate != ''">
                and run_date = #{runDate}
            </if>
            <if test="areaType != null and areaType != ''">
                and area_type = #{areaType}
            </if>
            <if test="metricValue != null and metricValue != ''">
                and metric_value = #{metricValue}
            </if>
            <if test="cycleStatistics != null and cycleStatistics != ''">
                and cycle_statistics = #{cycleStatistics}
            </if>
            <if test="startDate != null and startDate != ''">
                and start_date = #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and end_date = #{endDate}
            </if>
            <if test="areaName != null and areaName != ''">
                and area_name = #{areaName}
            </if>
            <if test="taskId != null and taskId != ''">
                and task_id = #{taskId}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        TD_TENANT_TOP_AREA_LOOKALIKE_COUNT(id,tenant_id,project_id,crowd_id,run_date,area_type,metric_value,cycle_statistics,start_date,end_date,area_name,task_id)
        values(#{id},#{tenantId},#{projectId},#{crowdId},#{runDate},#{areaType},#{metricValue},#{cycleStatistics},#{startDate},#{endDate},#{areaName},#{taskId})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_TENANT_TOP_AREA_LOOKALIKE_COUNT set
        tenant_id=#{tenantId},project_id=#{projectId},crowd_id=#{crowdId},run_date=#{runDate},area_type=#{areaType},metric_value=#{metricValue},cycle_statistics=#{cycleStatistics},start_date=#{startDate},end_date=#{endDate},area_name=#{areaName},task_id=#{taskId}
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_TENANT_TOP_AREA_LOOKALIKE_COUNT set
        <trim suffixOverrides=",">
            <if test="tenantId != null  ">
                tenant_id=#{tenantId},
            </if>
            <if test="projectId != null  ">
                project_id=#{projectId},
            </if>
            <if test="crowdId != null  ">
                crowd_id=#{crowdId},
            </if>
            <if test="runDate != null  ">
                run_date=#{runDate},
            </if>
            <if test="areaType != null  ">
                area_type=#{areaType},
            </if>
            <if test="metricValue != null  ">
                metric_value=#{metricValue},
            </if>
            <if test="cycleStatistics != null  ">
                cycle_statistics=#{cycleStatistics},
            </if>
            <if test="startDate != null  ">
                start_date=#{startDate},
            </if>
            <if test="endDate != null  ">
                end_date=#{endDate},
            </if>
            <if test="areaName != null  ">
                area_name=#{areaName},
            </if>
            <if test="taskId != null  ">
                task_id=#{taskId},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 潜客挖掘TOP区域 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_TENANT_TOP_AREA_LOOKALIKE_COUNT where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_TENANT_TOP_AREA_LOOKALIKE_COUNT where id = #{id}
    </delete>

    <!-- 潜客挖掘TOP区域 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_TENANT_TOP_AREA_LOOKALIKE_COUNT
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询潜客挖掘TOP区域列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_TENANT_TOP_AREA_LOOKALIKE_COUNT
        <include refid="Base_Where_Clause"/>
        order by metric_value desc
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>
</mapper>
