<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.TenantDeviceCountDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.TenantDeviceCount">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="project_id" property="projectId"/>
        <result column="crowd_id" property="crowdId"/>
        <result column="run_date" property="runDate"/>
        <result column="device_attr_type" property="deviceAttrType"/>
        <result column="device_attr_name" property="deviceAttrName"/>
        <result column="metric_value" property="metricValue"/>
        <result column="cycle_statistics" property="cycleStatistics"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
    </resultMap>

    <!-- TD_TENANT_DEVICE_COUNT table all fields -->
    <sql id="Base_Column_List">
        id,tenant_id,project_id,crowd_id,run_date,device_attr_type,device_attr_name,metric_value,cycle_statistics,start_date,end_date
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="crowdId != null and crowdId != ''">
                and crowd_id = #{crowdId}
            </if>
            <if test="runDate != null and runDate != ''">
                and run_date = #{runDate}
            </if>
            <if test="deviceAttrType != null and deviceAttrType != ''">
                and device_attr_type = #{deviceAttrType}
            </if>
            <if test="deviceAttrName != null and deviceAttrName != ''">
                and device_attr_name = #{deviceAttrName}
            </if>
            <if test="metricValue != null and metricValue != ''">
                and metric_value = #{metricValue}
            </if>
            <if test="cycleStatistics != null and cycleStatistics != ''">
                and cycle_statistics = #{cycleStatistics}
            </if>
            <if test="startDate != null and startDate != ''">
                and start_date = #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and end_date = #{endDate}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        TD_TENANT_DEVICE_COUNT(id,tenant_id,project_id,crowd_id,run_date,device_attr_type,device_attr_name,metric_value,cycle_statistics,start_date,end_date)
        values(#{id},#{tenantId},#{projectId},#{crowdId},#{runDate},#{deviceAttrType},#{deviceAttrName},#{metricValue},#{cycleStatistics},#{startDate},#{endDate})
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO TD_TENANT_DEVICE_COUNT
        (
        tenant_id,
        project_id,
        crowd_id,
        run_date,
        device_attr_type,
        device_attr_name,
        cycle_statistics,
        start_date,
        end_date,
        metric_value
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.tenantId},
            #{item.projectId},
            #{item.crowdId},
            #{item.runDate},
            #{item.deviceAttrType},
            #{item.deviceAttrName},
            #{item.cycleStatistics},
            #{item.startDate},
            #{item.endDate},
            #{item.metricValue}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE metric_value = VALUES(metric_value)
    </insert>


    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_TENANT_DEVICE_COUNT set
        tenant_id=#{tenantId},project_id=#{projectId},crowd_id=#{crowdId},run_date=#{runDate},device_attr_type=#{deviceAttrType},device_attr_name=#{deviceAttrName},metric_value=#{metricValue},cycle_statistics=#{cycleStatistics},start_date=#{startDate},end_date=#{endDate}
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_TENANT_DEVICE_COUNT set
        <trim suffixOverrides=",">
            <if test="tenantId != null  ">
                tenant_id=#{tenantId},
            </if>
            <if test="projectId != null  ">
                project_id=#{projectId},
            </if>
            <if test="crowdId != null  ">
                crowd_id=#{crowdId},
            </if>
            <if test="runDate != null  ">
                run_date=#{runDate},
            </if>
            <if test="deviceAttrType != null  ">
                device_attr_type=#{deviceAttrType},
            </if>
            <if test="deviceAttrName != null  ">
                device_attr_name=#{deviceAttrName},
            </if>
            <if test="metricValue != null  ">
                metric_value=#{metricValue},
            </if>
            <if test="cycleStatistics != null  ">
                cycle_statistics=#{cycleStatistics},
            </if>
            <if test="startDate != null  ">
                start_date=#{startDate},
            </if>
            <if test="endDate != null  ">
                end_date=#{endDate},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 人群标签 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_TENANT_DEVICE_COUNT where id = #{id}
    </select>

    <!-- 根据code查询 人群标签 -->
    <select id="selectByCodesIn" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from TD_TENANT_DEVICE_COUNT
        WHERE device_attr_name != '-1'
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        <if test="projectId != null and projectId != ''">
            and project_id = #{projectId}
        </if>
        <if test="crowdId != null and crowdId != ''">
            and crowd_id = #{crowdId}
        </if>
        <if test="cycleStatistics != null and cycleStatistics != ''">
            and cycle_statistics = #{cycleStatistics}
        </if>
        <if test="startDate != null and startDate != ''">
            and start_date = #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and end_date = #{endDate}
        </if>
        <if test="runDate != null and runDate != ''">
            and run_date = #{runDate}
        </if>
        <if test="deviceAttrType != null  ">
            and device_attr_type=#{deviceAttrType}
        </if>
        <if test="list != null  ">
            and device_attr_name in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


    </select>

    <!-- 根据code查询 人群标签 ,倒推数据-->
    <select id="selectLatestDataByCodesIn" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from TD_TENANT_DEVICE_COUNT
        WHERE 1=1
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        <if test="projectId != null and projectId != ''">
            and project_id = #{projectId}
        </if>
        <if test="crowdId != null and crowdId != ''">
            and crowd_id = #{crowdId}
        </if>
        <if test="cycleStatistics != null and cycleStatistics != ''">
            and cycle_statistics = #{cycleStatistics}
        </if>
        <if test="deviceAttrType != null  ">
            and device_attr_type=#{deviceAttrType}
        </if>
        <if test="runDate != null and runDate != ''">
            <![CDATA[ AND run_date <= #{runDate}]]>
        </if>
        <if test="list != null  ">
            and device_attr_name in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by run_date desc
        limit 1;
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_TENANT_DEVICE_COUNT where id = #{id}
    </delete>
    <!-- 删除记录 -->
    <delete id="deleteByParams" parameterType="Object">
        delete from TD_TENANT_DEVICE_COUNT where tenant_id=#{tenantId} and project_id=#{projectId} and
        crowd_id=#{crowdId} and run_date=#{runDate} and cycle_statistics=#{cycleStatistics} and start_date=#{startDate}
        and end_date=#{endDate}
    </delete>

    <!-- 人群标签 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_TENANT_DEVICE_COUNT
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询人群标签列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_TENANT_DEVICE_COUNT
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <select id="queryChildrenSum" resultMap="BaseResultMap" parameterType="Object">
        SELECT s.tenant_id, s.crowd_id, s.device_attr_type, s.device_attr_name, s.cycle_statistics, s.start_date,
        s.end_date, SUM(IFNULL(s.metric_value,0)) AS metric_value
        FROM TD_TENANT_DEVICE_COUNT s WHERE s.project_id IN (
        SELECT r.project_id FROM TD_PROJECT_RELATION r
        WHERE r.project_parent_id = #{projectId})
        AND s.run_date = #{runDate}
        GROUP BY s.tenant_id, s.crowd_id, s.device_attr_type, s.device_attr_name, s.cycle_statistics, s.start_date,
        s.end_date
    </select>

    <delete id="batchDeleteByProjectAndDate" parameterType="Object">
        delete from TD_TENANT_DEVICE_COUNT where project_id = #{projectId} and run_date = #{runDate}
    </delete>

    <insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        TD_TENANT_DEVICE_COUNT(tenant_id,project_id,crowd_id,run_date,device_attr_type,device_attr_name,metric_value,cycle_statistics,start_date,end_date)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.tenantId},#{item.projectId},#{item.crowdId},#{item.runDate},#{item.deviceAttrType},#{item.deviceAttrName},#{item.metricValue},#{item.cycleStatistics},#{item.startDate},#{item.endDate})
        </foreach>
    </insert>

    <insert id="batchSelectAndInsert" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO TD_TENANT_DEVICE_COUNT(tenant_id, project_id, crowd_id, run_date, device_attr_type,
        device_attr_name, metric_value, cycle_statistics, start_date, end_date)
        SELECT t.tenant_id, d.project_id, c.crowd_id, t.run_date, t.device_attr_type, t.device_attr_name,
        t.metric_value, t.cycle_statistics, t.start_date, t.end_date
        FROM
        (SELECT s.tenant_id, s.type, s.run_date, s.device_attr_type, s.device_attr_name, s.cycle_statistics,
        s.start_date, s.end_date, SUM(IFNULL(s.metric_value,0)) AS metric_value
        FROM
        (SELECT DISTINCT tb.tenant_id, cd.type, tb.run_date, tb.device_attr_type, tb.device_attr_name,
        tb.cycle_statistics, tb.start_date, tb.end_date, tb.metric_value, tb.project_id
        FROM TD_TENANT_DEVICE_COUNT tb
        JOIN TD_CROWD cd
        ON tb.project_id = cd.attr1
        AND tb.crowd_id = cd.id
        WHERE tb.project_id IN (
        SELECT r.project_id FROM TD_PROJECT_RELATION r
        WHERE r.project_parent_id = #{projectId})
        AND tb.run_date = #{runDate}
        )s
        GROUP BY s.tenant_id, s.type, s.run_date, s.device_attr_type, s.device_attr_name, s.cycle_statistics,
        s.start_date, s.end_date
        )t,
        (SELECT DISTINCT project_parent_id AS project_id FROM TD_PROJECT_RELATION WHERE project_parent_id = #{projectId}
        )d,
        (SELECT DISTINCT id AS crowd_id, type, attr1 FROM TD_CROWD
        )c
        WHERE c.attr1 = d.project_id
        AND c.type = t.type
    </insert>
</mapper>
