<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.enterprise.dao.WifiPixTagCountDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="td.enterprise.entity.WifiPixTagCount">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="project_id" property="projectId"/>
        <result column="corwd_id" property="corwdId"/>
        <result column="type" property="type"/>
        <result column="business_name" property="businessName"/>
        <result column="run_date" property="runDate"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="metric_value" property="metricValue"/>
        <result column="cycle_statistics" property="cycleStatistics"/>
    </resultMap>


    <!-- TD_WIFI_PIX_TAG_COUNT table all fields -->
    <sql id="Base_Column_List">
        id,tenant_id,project_id,corwd_id,type,business_name,run_date,start_date,end_date,metric_value,cycle_statistics
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and tenant_id = #{tenantId}
            </if>
            <if test="projectId != null and projectId != ''">
                and project_id = #{projectId}
            </if>
            <if test="corwdId != null">
                and corwd_id = #{corwdId}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="businessName != null and businessName != ''">
                and business_name = #{businessName}
            </if>
            <if test="runDate != null and runDate != ''">
                and run_date = #{runDate}
            </if>
            <if test="startDate != null and startDate != ''">
                and start_date = #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and end_date = #{endDate}
            </if>
            <if test="metricValue != null and metricValue != ''">
                and metric_value = #{metricValue}
            </if>
            <if test="cycleStatistics != null and cycleStatistics != ''">
                and cycle_statistics = #{cycleStatistics}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        TD_WIFI_PIX_TAG_COUNT(id,tenant_id,project_id,corwd_id,type,business_name,run_date,start_date,end_date,metric_value,cycle_statistics)
        values(#{id},#{tenantId},#{projectId},#{corwdId},#{type},#{businessName},#{runDate},#{startDate},#{endDate},#{metricValue},#{cycleStatistics})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="Object">
        update TD_WIFI_PIX_TAG_COUNT set
        tenant_id=#{tenantId},project_id=#{projectId},corwd_id=#{corwdId},type=#{type},business_name=#{businessName},run_date=#{runDate},start_date=#{startDate},end_date=#{endDate},metric_value=#{metricValue},cycle_statistics=#{cycleStatistics}
        where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="Object">
        update TD_WIFI_PIX_TAG_COUNT set
        <trim suffixOverrides=",">
            <if test="tenantId != null  ">
                tenant_id=#{tenantId},
            </if>
            <if test="projectId != null  ">
                project_id=#{projectId},
            </if>
            <if test="corwdId != null  ">
                corwd_id=#{corwdId},
            </if>
            <if test="type != null  ">
                type=#{type},
            </if>
            <if test="businessName != null  ">
                business_name=#{businessName},
            </if>
            <if test="runDate != null  ">
                run_date=#{runDate},
            </if>
            <if test="startDate != null  ">
                start_date=#{startDate},
            </if>
            <if test="endDate != null  ">
                end_date=#{endDate},
            </if>
            <if test="metricValue != null  ">
                metric_value=#{metricValue},
            </if>
            <if test="cycle_statistics != null">
                cycle_statistics = #{cycleStatistics},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 wifiPix标签统计 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_WIFI_PIX_TAG_COUNT where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="Object">
        delete from TD_WIFI_PIX_TAG_COUNT where id = #{id}
    </delete>

    <!-- wifiPix标签统计 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from TD_WIFI_PIX_TAG_COUNT
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询wifiPix标签统计列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_WIFI_PIX_TAG_COUNT
        <include refid="Base_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

    <!-- 通过calcCode查询附件信息 -->
    <select id="queryExists" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_WIFI_PIX_TAG_COUNT
        where tenant_id=#{tenantId}
        and project_id=#{projectId}
        and corwd_id=#{corwdId}
        and type=#{type}
        and business_name=#{businessName}
        and cycle_statistics=#{cycleStatistics}
        and start_date = #{startDate}
        and end_date =#{endDate}
        and run_date =#{runDate}
    </select>

    <!-- 根据wifiPix标签数据，查询 客群常去地点 列表 -->
    <select id="queryOften2Go" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from TD_WIFI_PIX_TAG_COUNT
        where 1=1
        <if test="projectId !=null and projectId !=''">
            and project_id = #{projectId}
        </if>
        <if test="crowdId !=null">
            and corwd_id = #{crowdId}
        </if>
        <if test="startDate != null and startDate != ''">
            and start_date = #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and end_date = #{endDate}
        </if>
        <if test="type !=null and type !=''">
            and type = #{type}
        </if>
        <if test="cycleStatistics !=null and cycleStatistics !=''">
            and cycle_statistics = #{cycleStatistics}
        </if>

        order by metric_value desc

        <if test=" listLimit !=null ">
            limit #{listLimit}
        </if>
    </select>


    <!-- queryLatestRow -->
    <select id="queryLatestRow" resultMap="BaseResultMap" parameterType="Object">
        select * from TD_WIFI_PIX_TAG_COUNT t
        <where>
            1=1
            <if test="tenantId !=null and tenantId !=''">
                and t.tenant_id = #{tenantId}
            </if>
            <if test="projectId !=null and projectId !=''">
                and t.project_id = #{projectId}
            </if>
            <if test="corwdId !=null">
                and t.corwd_id = #{corwdId}
            </if>
            <if test=" cycleStatistics != null and cycleStatistics != '' ">
                AND t.cycle_statistics = #{cycleStatistics}
            </if>
            <if test=" type != null and type != '' ">
                AND t.type = #{type}
            </if>
            <if test=" runDate != null and runDate != '' ">
                <![CDATA[ AND t.run_date <= #{runDate}]]>
            </if>
        </where>
        order by run_date desc limit 1;
    </select>

    <select id="queryChildrenSum" resultMap="BaseResultMap" parameterType="Object">
        SELECT s.tenant_id, s.corwd_id, s.type, s.business_name, s.cycle_statistics, s.start_date, s.end_date,
        SUM(IFNULL(s.metric_value,0)) AS metric_value
        FROM TD_WIFI_PIX_TAG_COUNT s WHERE s.project_id IN (
        SELECT r.project_id FROM TD_PROJECT_RELATION r
        WHERE r.project_parent_id = #{projectId})
        AND s.run_date = #{runDate}
        GROUP BY s.tenant_id, s.corwd_id, s.type, s.business_name, s.cycle_statistics, s.start_date, s.end_date
    </select>

    <delete id="batchDeleteByProjectAndDate" parameterType="Object">
        delete from TD_WIFI_PIX_TAG_COUNT where project_id = #{projectId} and run_date = #{runDate}
    </delete>

    <insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        TD_WIFI_PIX_TAG_COUNT(tenant_id,project_id,corwd_id,type,business_name,run_date,start_date,end_date,metric_value,cycle_statistics)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.tenantId},#{item.projectId},#{item.corwdId},#{item.type},#{item.businessName},#{item.runDate},#{item.startDate},#{item.endDate},#{item.metricValue},#{item.cycleStatistics})
        </foreach>
    </insert>

    <insert id="batchSelectAndInsert" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO TD_WIFI_PIX_TAG_COUNT(tenant_id, project_id, corwd_id, type, business_name, run_date, metric_value,
        cycle_statistics, start_date, end_date)
        SELECT t.tenant_id, d.project_id, c.corwd_id, t.type, t.business_name, t.run_date, t.metric_value,
        t.cycle_statistics, t.start_date, t.end_date
        FROM
        (SELECT s.tenant_id, s.corwd_type, s.type, s.business_name, s.run_date, s.cycle_statistics, s.start_date,
        s.end_date, SUM(IFNULL(s.metric_value,0)) AS metric_value
        FROM
        (SELECT DISTINCT tb.tenant_id, cd.type as corwd_type, tb.type, tb.business_name, tb.run_date,
        tb.cycle_statistics, tb.start_date, tb.end_date, tb.metric_value, tb.project_id
        FROM TD_WIFI_PIX_TAG_COUNT tb
        JOIN TD_CROWD cd
        ON tb.project_id = cd.attr1
        AND tb.corwd_id = cd.id
        WHERE tb.project_id IN (
        SELECT r.project_id FROM TD_PROJECT_RELATION r
        WHERE r.project_parent_id = #{projectId})
        AND tb.run_date = #{runDate}
        )s
        GROUP BY s.tenant_id, s.corwd_type, s.type, s.business_name, s.run_date, s.cycle_statistics, s.start_date,
        s.end_date
        )t,
        (SELECT DISTINCT project_parent_id AS project_id FROM TD_PROJECT_RELATION WHERE project_parent_id = #{projectId}
        )d,
        (SELECT DISTINCT id AS corwd_id, type as corwd_type, attr1 FROM TD_CROWD
        )c
        WHERE c.attr1 = d.project_id
        AND c.corwd_type = t.corwd_type
    </insert>
</mapper>
