@import './../common.scss';
.global-rule {}

.global-rule .termination-rule {
    padding: 22px 0 15px 22px;
    border-bottom: 1px solid #EBEEF2;
}

.global-rule .termination-rule .termination-label {
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #464C5B;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 10px;
}

.global-rule .termination-rule .content .termination-content {
    margin: 0 0 0 30px;
    padding-bottom: 20px;
    border-left: 1px solid #EBEEF2;
}

.global-rule .termination-rule .content .termination-content:last-child {
    padding-bottom: 0px;
    margin: 0 0 20px 30px;
}

.global-rule .termination-rule .termination-content .rule-button {
    margin: 0 0 20px -30px;
    padding: 10px 21px;
    display: inline-block;
    background: #EBEEF2;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #464C5B;
    line-height: 12px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}

.global-rule .termination-rule .termination-content .rule-setting {
    margin: 0 20px 0 -30px;
    padding: 5px 10px;
    background: #F4F7FB;
}

.global-rule .termination-rule .termination-content .rule-setting .rule-input {
    @include input-style;
    margin-left: 5px;
    width: 100px;
    vertical-align: bottom;
}

.global-rule .enter-rule {
    @include user-select-none;
    padding: 22px 0 15px 22px;
    border-bottom: 1px solid #EBEEF2;
}

.global-rule .enter-rule :last-child {
    margin-top: 16px;
}

.global-rule .enter-rule .enter-label {
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #464C5B;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 10px;
}

.global-rule .enter-rule .rule-setting {
    @include user-select-none;
}

.global-rule .enter-rule .rule-setting input[type="text"] {
    @include input-style;
    width: 64px;
    margin: 0 8px;
}

.global-rule .no-entry {
    @include user-select-none;
    padding: 22px 0 15px 22px;
}

.global-rule .no-entry p {
    color: #464C5B;
    cursor: pointer;
}

.global-rule .no-entry .rule-body {
    margin-top: 10px;
    padding-top: 50px;
    position: relative;
}

.global-rule .no-entry .rule-body:first-child {
    padding-top: 0;
}

.global-rule .no-entry p {
    margin-bottom: 15px;
}

.global-rule .no-entry .rule-button {
    position: absolute;
    top: 0;
    left: -73px;
    padding: 10px 21px;
    display: inline-block;
    background: #EBEEF2;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #464C5B;
    line-height: 12px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}

.global-rule .no-entry .rule-header {
    padding-left: 41px;
    padding-bottom: 20px;
    margin-left: 32px;
    border-left: 1px solid #DEE0E3;
    position: relative;
}

.global-rule .no-entry .rule-header .rule-content {
    margin-top: 16px;
}

.global-rule .no-entry .rule-body .rule-content input {
    @include input-style;
    width: 45px;
    vertical-align: middle;
    margin-right: 0.5em;
}

.global-rule .no-entry .rule-body .rule-content b {
    height: 12px;
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    margin: 0 0.33em;
}

.global-rule .no-entry .rule-body .rule-content b::after {
    content: '';
    width: 30px;
    height: 1px;
    position: absolute;
    top: -1px;
    right: -4px;
    background-color: #657180;
    transform: rotateZ(30deg);
}

.global-rule .no-entry .rule-body .rule-content b::before {
    content: '';
    width: 30px;
    height: 1px;
    position: absolute;
    bottom: 0px;
    right: -4px;
    background-color: #657180;
    transform: rotateZ(-30deg);
}

.icon-del {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: $icon-del;
    background-size: contain;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
}

.add-rules {
    display: inline-block;
    width: 85px;
    height: 32px;
    background: #2D8CF0;
    border-radius: 4px;
    line-height: 32px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.radio {
    margin-right: 8px;
}

.desc-text {
    color: #657180;
}

input:disabled:hover {
    cursor: default!important;
    background: #cccccc!important;
}

:host /deep/ .ui-dropdown label.ui-dropdown-label {
    padding: 7px;
}

:host /deep/ .ui-state-disabled {
    opacity: 1!important;
}

:host /deep/ .ui-state-disabled .ui-dropdown-label {
    background-color: #F8F8F9!important;
    color: rgba(23, 35, 61, 0.30)!important;
}

:host /deep/ .ui-state-disabled .ui-dropdown-trigger {
    background-color: #F8F8F9!important;
    color: rgba(23, 35, 61, 0.30)!important;
}