#secretKey{
    color: blue;
}

.required {
    color: #f00;
}

.hint {
    color: #ccc;
}

.control-group {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
    position: relative;
}

.control-label {
    float: left;
    min-width: 120px;
    text-align: right;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    line-height: 30px;
    height: 30px;
    font-weight: normal;
    color: #666f7b;
    display: inline-block;
    max-width: 100%;
}

.controls {
    width: 62%;
    float: left;
    line-height: 30px;
    position: relative;
    max-width: 88%;
}

input {
    margin-right: 5px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.form-control{
    width: 50%;
}