:host ::ng-deep .title-tab {
  float: right;
}

:host ::ng-deep .chart-one {
  height: 260px;
}

:host ::ng-deep .ant-radio-button-wrapper {
  cursor: pointer;
}

:host ::ng-deep .ant-radio-group-small .ant-radio-button-wrapper {
  height: 28px;
  line-height: 28px;
}

:host ::ng-deep .help-icon {
  color: rgba(23, 35, 61, 0.55);
  margin-left: 8px;
}

:host ::ng-deep .chart-wap {
  height: 260px;
}

:host ::ng-deep .special-chart-wap {
  line-height: 260px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}

.des-ul {
  width: 356px;
  padding: 0;
  margin: 0;

  li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.15);
    padding: 5px 0;
  }

  li:last-child {
    border-bottom: none;
  }

  label {
    float: left;
    text-align: left;
    color: #fff;
  }

  .des {
    padding-left: 70px;
  }
}
