.report-detail-data {
    min-height: 100%;
    padding: 20px;
}
.item-config{
    margin-bottom: 10px;
}
.item-config .config-content{
    padding-left: 16px;
    .inputdown{
        width: 100%;
        background: none;
        border: none;
        padding: 7px;
        margin-top: 10px;
        border-bottom: 1px solid #ddd;
    }
}
.item-label{
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #464C5B;
    line-height: 32px;
}
.ant-radio-wrapper {
    margin-bottom: 10px;
}
.add-button{
    width: 90%;
    text-align: left;
}
:host ::ng-deep .report-detail-data{
    .ant-select {
        width: 100%;
    }
    // .ant-select-selection, .ant-select-selection, .ant-input{
    .ant-select-selection, .ant-select-selection{
        background: none !important;
        border: none !important;
        border-bottom: 1px solid #ddd !important;
        width: 100% !important;
      }
    //   .item-config{
    //       .dataset{
    //           .ant-select-selection, .ant-select-selection, .ant-input{
    //                 background: none !important;
    //                 border: none !important;
    //                 width: 40% !important;
    //                 margin:0 !important;
    //                 display: inline !important;
    //             }
    //       }
    //   }
      .ant-input-number{
        margin: 15px 0 10px 0 !important;
        background: none !important;
        border: none !important;
        width: 100% !important;
        border-bottom: 1px solid #ddd !important;

      }
      .ant-input-number-input{
          background: none !important;
      }
    //   .ant-input{
    //     margin: 15px 0 10px 0 !important;
    //     &:hover{
    //         border:none !important;
    //         border-bottom: 1px solid #ddd !important;
    //     }
    //   }
      .ant-select-focused .ant-select-selection,.ant-select-selection:focus,.ant-select-selection:active {
        box-shadow: none !important;
      }

}

.div-dialog{
    height: 90%;
    width: 85%;
    position: absolute;
    top: 80px;
    background: #fff;
    padding: 10px;
}