
        <!-- <div class="text-content"> -->
            <nz-card style="background:#fff;margin:20px 0;" [nzTitle]="managerTit">
                <ng-template #managerTit>
                    管理员角色
                </ng-template>
                    <div  nz-row class="journal">
                        <div  nz-col [nzSm]="2" [nzXs]="24" class="special-label">
                            <label for="createTime" class="label_font">租户管理员</label>
                        </div>
                    </div>  

            </nz-card>
        <!-- </div> -->
        
        

