:host ::ng-deep .main {
  width: 1200px;
  background: #fff;
  min-height: 500px;
  margin-top: 26px;

  .ant-form-explain {
    margin-bottom: 30px;
    margin-top: -20px;
  }

  .ant-card-body {
    padding: 48px;
  }

  .ant-form-item {
    margin-bottom: 32px;
  }

  .ant-rangepicker {
    height: 36px;
    line-height: 36px;  
  }

  .ant-form-item-label label {
    font-size: 14px;
    color: rgba(29,36,54,0.80);
    font-family: PingFangSC-Semibold;
  }

  .ant-form-item-control {
    text-align: left;
    width: 300px;
  }

  .ant-form-explain {
    color: #f04134;
  }

  .ant-select,.ant-input {
    height: 36px;
  }

  .ant-input > .ant-calendar-range-picker-input {
    background-color: transparent;
    border: 0;
    height: 99%;
    outline: 0;
    width: 30%;
    text-align: center;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
  }

  .ant-select-lg .ant-select-selection--single {
    height: 36px;
  }

  .ant-select-lg .ant-select-selection__rendered {
    line-height: 36px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(28,36,56,0.80);
  }

  .ant-calendar-range-picker-separator {
    line-height: 25px;
    font-size: 14px;
  }

  .ant-checkbox-wrapper + span, .ant-checkbox + span {
    font-family: PingFangSC-Regular;
    color: rgba(28,36,56,0.80);
    letter-spacing: -0px;
    font-size: 14px;
  }

  .ant-col-2 {
    width: 9%;
  }

  .ant-col-21 {
    width: 86.5%;
  }

  .export-wap {
    height: 260px;
    width: 90%;
    background: #FFFFFF;
    border: 1px solid #D7DDE4;
    border-radius: 4px;
    margin-bottom: 30px;
    overflow: hidden;

    .export-tit {
      height: 36px;
      line-height: 36px;
      padding: 0px 20px;
      background: #F7F8F8;
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid #D7DDE4;
      font-family: PingFangSC-Semibold;
      font-size: 14px;
      color: rgba(28,36,56,0.80);
      font-weight: normal;

      .all-check {
        float: right;

        .ant-checkbox + span {
          font-size: 12px;
        }
      }
    }

    .no-data {
      width: 100%;
      height:224px;
      text-align: center;
      line-height: 224px;
      font-size: 20px;
    }

    .export-list {
      width: 100%;
      height:224px;
      overflow-y: auto;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      .monitor-link-one {
        width: 20%;
        padding: 25px;

        .monitor-link-one-top {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
        }

        .border-bottom {
          height: 1px;
          background-color: #D7DDE4;
          width: 100%;
          margin: 15px 0px;
        }

        ul {
          height: 130px;
          overflow-y: auto;

          li {
            line-height: 32px;
            height: 32px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }     
  }

  .ant-btn-primary {
    width:240px;
    height:36px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 14px;
  }

  .ant-btn-default {
    width:200px;
    height:36px;
    font-size: 14px;
    border:none;
  }
}
