.rows {
  margin-bottom: 12px;
  font-size: 12px;
}
.table-content {
  position: relative;
  .table-total {
    position: absolute;
    bottom: 24px;
    left: 0;
    z-index: 1000;
    font-weight: bolder;
    color: #17233d;
  }
}
