<nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" [nzWidth]="'800px'"
    (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzMaskClosable]="false">
    <ng-template #modalTitle>
        <span>替换租户管理员</span>
    </ng-template>
    <ng-template #modalContent>
        <div class="searchInput" style="overflow: hidden;">
            <nz-input-group nzSearch [nzSuffix]="suffixIconButton" style="width: 180px;float: right;margin-bottom: 10px;margin-right: 16px;">
                <input type="text" nz-input placeholder="姓名|账户" (keyup)="onSearchUnauthUser($event, 'keyup')" [(ngModel)]="_searchValue">
            </nz-input-group>
            <ng-template #suffixIconButton>
                <i class="anticon anticon-search" (click)="onSearchUnauthUser(_searchValue, 'click')"></i>
            </ng-template>
        </div>
        <user-unauth-table [toSubmit]="toSubmit" [isSuper]="isSuper" [queryParams]="queryParams" [userId]="userId"
            [roleId]="roleId" [(isReloadData)]="isReloadData" [(isNeedSubmit)]="isNeedSubmit" (onSubmit)="onSubmitUserAuth($event)"></user-unauth-table>
    </ng-template>
    <ng-template #modalFooter>
        <button nz-button [nzType]="'default'" (click)="handleCancel($event)">
            取 消
        </button>
        <button nz-button [nzType]="'primary'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
            确 定
        </button>
    </ng-template>
</nz-modal>