<div class="content">
    <form nz-form [formGroup]="createForm" autocomplete="off">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>二维码名称</nz-form-label>
            <nz-form-control [nzSpan]="17">
                <input autocomplete="off" nz-input formControlName="qrcodeName" placeholder="请输入二维码名称，支持中文、字母、数字">
                <nz-form-explain *ngIf="createForm.get('qrcodeName').dirty && createForm.get('qrcodeName').errors || createForm.get('qrcodeName').pending">
                    <ng-container *ngIf="createForm.get('qrcodeName').hasError('required')">
                        请输入二维码名称
                    </ng-container>
                    <ng-container *ngIf="createForm.get('qrcodeName').hasError('length')">
                        长度限制在42个字符，可包含中文、数字或英文
                    </ng-container>
                    <ng-container *ngIf="createForm.get('qrcodeName').hasError('duplicated')">
                        该名称已存在，请重新输入
                    </ng-container>
                    <ng-container *ngIf="createForm.get('qrcodeName').hasError('auto') && !createForm.get('qrcodeName').hasError('length')">
                        请输入只包含中文、字母和数字的二维码名称
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>App ID</nz-form-label>
            <nz-form-control [nzSpan]="17">
                <input autocomplete="off" (keyup)="changeAppId()" nz-input [(ngModel)]="appId" formControlName="appId" placeholder="微信分配的小程序唯一ID" disabled>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>App Secret</nz-form-label>
            <nz-form-control [nzSpan]="17">
                <input autocomplete="off" (keyup)="changeAppId()" nz-input [(ngModel)]="secret" formControlName="appSecret" placeholder="微信分配的小程序Secret" [type]="secretInputType" disabled>
                <a class="input-eye" (click)="changeSecretType()">
                    <span class="iconfont" [ngClass]="{'icon-visibility_off': secretInputType === 'password', 'icon-visibility': secretInputType === 'text'}"></span>
                </a>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>页面路径</nz-form-label>
            <nz-form-control [nzSpan]="17">
                <input autocomplete="off" (input)="checkUrlParamsLength('path')" nz-input formControlName="qrcodePath" placeholder="例如：page/index/index，支持字母、数字">
                <nz-form-explain *ngIf="createForm.get('qrcodePath').dirty && createForm.get('qrcodePath').errors || createForm.get('qrcodePath').pending">
                    <ng-container *ngIf="createForm.get('qrcodePath').hasError('required')">
                        请输入小程序页面路径
                    </ng-container>
                    <ng-container *ngIf="createForm.get('qrcodePath').hasError('auto')">
                        只能输入字母、数字、下划线、中划线以及斜线
                    </ng-container>
                </nz-form-explain>
                <nz-form-explain *ngIf="!createForm.get('qrcodePath').dirty || (!createForm.get('qrcodePath').errors && !createForm.get('qrcodePath').pending)" >
                    <ng-container *ngIf="isPathLengthErr" >
                        {{urlParamsLengthErrMessage}}
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" class="padding-left">样式</nz-form-label>
            <nz-form-control [nzSpan]="17">
                <div class="qrcode" (click)="selectQrcode(1)">
                    <img src="/aeplus/assets/images/miniQrcode.svg" alt="">
                    <div class="select-qrcode">
                        <span *ngIf="qrcodeType" class="anticon anticon-check-circle"></span>
                    </div>
                </div>
                <div class="qrcode" (click)="selectQrcode(0)">
                    <img src="/aeplus/assets/images/qrcode.svg" alt="">
                    <div class="select-qrcode">
                        <span *ngIf="!qrcodeType" class="anticon anticon-check-circle"></span>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" class="padding-left">
                是否作为渠道
                <nz-tooltip [nzPlacement]="'rightTop'">
                    <span nz-tooltip class="tips iconfont icon-info1"></span>
                    <ng-template #nzTemplate>
                        <span>作为渠道</span>
                        <br>
                        <span>如果将二维码作为渠道，则将该值直接归入该渠道ID，否则则记为微信回传的场景值不做细分。渠道默认的参数值为“utm_source”，在使用其他第三方工具生成二维码时使用该字段作为参数，该二维码也会记作独立渠道。</span>
                    </ng-template>
                </nz-tooltip>
            </nz-form-label>
            <nz-form-control [nzSpan]="17">
                <nz-radio-group [(ngModel)]="channel" (ngModelChange)="changeSelectChannel($event)" formControlName="channel">
                    <label nz-radio nzValue="0" name="radiogroup">否</label>
                    <label nz-radio nzValue="1" name="radiogroup">是</label>
                    <div *ngIf="channel === '1'" >
                        <label>utm_source：</label>
                        <input autocomplete="off" class="channel-input" (input)="checkUrlParamsLength('utmSource')" formControlName="utmSource" nz-input placeholder="支持数字、字母。最多支持42个字符">
                        <nz-form-explain class="has-error" *ngIf="createForm.get('utmSource').dirty && createForm.get('utmSource').errors || createForm.get('utmSource').pending">
                            <ng-container *ngIf="createForm.get('utmSource').hasError('maxlength')">
                                长度限制为42个字符，可包含数字和字母
                            </ng-container>
                            <ng-container *ngIf="createForm.get('utmSource').hasError('auto')">
                                请输入只包含字母和数字的utm_source
                            </ng-container>
                        </nz-form-explain>
                        <nz-form-explain style="margin-left: 74px;" *ngIf="!createForm.get('utmSource').dirty || (!createForm.get('utmSource').errors && !createForm.get('utmSource').pending)" >
                            <ng-container *ngIf="isUtmSourceErr" >
                                <label style="font-size: 12px">{{urlParamsLengthErrMessage}}</label>
                            </ng-container>
                            <ng-container *ngIf="!createForm.get('utmSource').value && !isNoUtmSource && !isUtmSourceErr && isUtmSourceNull">
                                <label style="font-size: 12px">请输入utm_source</label>
                            </ng-container>
                        </nz-form-explain>
                    </div>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" class="padding-left">自定义参数</nz-form-label>
            <nz-form-control class="control-right" [nzSpan]="17" *ngFor="let item of qrcodeParams;let i = index">
                <label>参数名</label>
                <input autocomplete="off" class="params-input" [(ngModel)]="item.paramName" (ngModelChange)="checkParamName(item, i)" [ngModelOptions]="{standalone: true}" nz-input placeholder="字母">
                <nz-form-explain class="params-name has-error" *ngIf="isParamsNameErr[i]" style="margin-left:35px;">
                    <ng-container>
                        {{paramsNameErrMessage}}
                    </ng-container>
                </nz-form-explain>
                <nz-form-explain class="params-name has-error" *ngIf="!isParamsNameErr[i]" style="margin-left:35px;">
                    <ng-container *ngIf="isUrlParamsLengthErr" >
                        {{urlParamsLengthErrMessage}}
                    </ng-container>
                </nz-form-explain>
                <label>参数值</label>
                <input autocomplete="off" class="params-input params-number" [(ngModel)]="item.paramValue" (ngModelChange)="checkParamValue(item, i)" [ngModelOptions]="{standalone: true}" nz-input placeholder="字母或数字">
                <nz-form-explain class="params-number has-error" *ngIf="!isParamsNameErr[i] && !isUrlParamsLengthErr && isParamsNumberErr[i]">
                    <ng-container>
                        {{paramsNumberErrMessage}}
                    </ng-container>
                </nz-form-explain>
                <span *ngIf="i != 0" style="cursor: pointer;" class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="removeParams(i)"></span>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="qrcodeParams.length < 6">
            <nz-form-control [nzSm]="{offset: 7}">
                <label class="add-params" (click)="addParams()">
                    <span class="anticon anticon-plus"></span>
                    添加参数
                </label>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
<div class="footer">
    <button nz-button class="cancel-button" (click)="cancel()">取消</button>
    <button nz-button class="ant-btn-primary" (click)="createQrcode()">创建二维码</button>
</div>