::ng-deep {
    .report-operate{
        position: absolute;
        top:70px;
        width: 126px;
        height: 32px;
    }
    .report-btn {
        width: 126px;
    height: 32px;
    }
    .report-btn .ant-btn.ant-btn-primary{
        width: 100%;
        height: 100%;
    }
    }