
<ng-template #tableTotal>
        <div  style="margin-right: 6px;">
          总共 {{_total}} 条
        </div>
</ng-template><nz-table #nzTable *ngIf="!isSuper" [nzBordered]="false" [nzShowTotal]="tableTotal" [nzData]="_dataSet" nzShowSizeChanger
    [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_current" (nzPageIndexChange)="refreshData()"
    [(nzPageSize)]="_pageSize" (nzPageSizeChange)="refreshData(true)" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th></th>
            <th [nzWidth]="'16%'">
                姓名
            </th>
            <th [nzWidth]="'16%'">
                账号
            </th>
            <th [nzWidth]="'14%'">
                性别
            </th>
            <th [nzWidth]="'16%'">
                手机
            </th>
            <th [nzWidth]="'16%'">
                状态
            </th>
            <th [nzWidth]="'18%'">
                联系电话
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data; let userIndex=index">
            <td>
                <div [ngClass]="{'zw-radio-wap': true, 'zw-radio-wap-bg': data.userId == userRadioId}" (click)="checkedOne(data)">
                    <p *ngIf="data.userId == userRadioId"></p>
                </div>
            </td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.gender==-1?'':(data.gender==0?'女':'男')}}</td>
            <td>{{data.mobile}}</td>
            <td>
                <span style="color:#E03E16" *ngIf="data.status==0">●</span>
                <span style="color:#2B85E5" *ngIf="data.status==1">●</span>
                {{data.status==0?'禁用':'正常'}}
            </td>
            <td>{{data.phone}}</td>
        </tr>
    </tbody>
</nz-table>