.piestyle{
    .center{
        border-bottom: 1px solid rgba(31,37,68,0.15);
        .piecenter{
            padding:27px 20px;
            p{
                font-family: PingFangSC-Medium;
                font-size: 14px;
                color: #17233D;
                line-height: 22px;
            }
            .section{
                margin-top:15px;
                padding-left: 16px;
        }
    }
    }
}