::ng-deep textarea.ant-input {
    min-height: 60px;
}

::ng-deep .ant-modal-body {
    max-height: 500px;overflow: auto;padding: 16px;
}

::ng-deep .ant-transfer-list-header-title {
    right: -140px;
    left: 126px;
}

::ng-deep .ant-transfer-list-search {
    padding: 0px 8px;
    border-radius: 36px;
    height: 29px;
    margin-top: 3px;
}

::ng-deep .ant-transfer-list-search-action {
    top: 6px;
}