:host ::ng-deep .main{
    width:1200px;
    background:#fff;
    min-height:500px;
    padding:46px;
    margin-top:26px;
    .ant-form-item{
        margin-bottom:32px;
    }

    .ant-form-item:nth-child(3){
        .ant-form-item-control{
            width:auto;
           }
        p{
            margin-left: 40px;   
            padding-top:10px;  
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: rgba(28,36,56,0.56);
            line-height: 14px;      
        }
        .id-copy{
            position: absolute;
            right: 550px;
            top:5px;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color:rgb(114, 112, 112); 
            line-height: 14px; 
            background:#fff;
            cursor: pointer;

        }
        input[type="text"]{
            width:300px;
        }
    }
    .ant-form-item:nth-child(4){
       margin-left:45px;
       border-bottom:1px dashed rgba(28,36,56,0.16);;
       padding-bottom:30px;
       .ant-btn-default{
           float:left;
           width:140px;
           border:1px solid rgba(0, 0, 0, 0.25);
           &:first-child{
               margin-right:30px;
               width:120px;
           }
       }
    }
 
    .ant-form-item-control{
        width:300px;       
    }

    .ant-form-item:nth-child(5) .ant-form-item-control{
       width:auto;
    }
    .ant-form-item-label{
        text-align: left;
    }
    .has-error .ant-form-explain{
        margin-left:40px;
    }
    .ant-form-item-label label{
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        color: rgba(29,36,54,0.80);
    }
    .ant-form-item-control nz-input,
    .ant-form-item-control nz-select.ant-select,{
        margin-left:40px;
    }
    .ant-btn-primary
    {
       width:240px;
       height:36px;
       font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 14px;
      margin-left:40px
    }
    .ant-btn-default{
        width:200px;
        height:36px;
        border:none;
    }
   
}

