<ng-template #tableTotal>
        <div  style="margin-right: 6px;">
          总共 {{_total}} 条
        </div>
</ng-template>
<nz-card style="margin-bottom:15px;" nzTitle="属性信息">
            <nz-table #nzTable [nzBordered]="false" [nzShowTotal]="tableTotal" [nzData]="_dataSet" nzShowSizeChanger [nzShowPagination]="false" [nzTotal]="_total" [(nzPageIndex)]="_current"
                      (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_pageSize" (nzPageSizeChange)="refreshData(true)" [nzFrontPagination]="false">
                    <thead nz-thead>
                    <tr>
                        <th nz-th [nzWidth]="'20%'">
                            名称
                        </th>
                        <th nz-th [nzWidth]="'20%'">
                            Key
                        </th>
                        <th nz-th [nzWidth]="'20%'">
                            Value(默认值)
                        </th>
                        <th nz-th >
                            描述
                        </th>
                    </tr>
                    </thead>
                <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                    <td nz-td>{{data.name}}</td>
                    <td nz-td>{{data.key}}</td>
                    <!--<td nz-td>{{data.defalutValue}}</td>-->
                    <td nz-td *ngIf="!noEdit">
                        <input nz-input  (nzBlur)="changeDataSet($event)" [(ngModel)]="data.defalutValue">
                    </td>
                    <td nz-td *ngIf="noEdit">
                        {{data.defalutValue}}
                    </td>
                    <td nz-td>{{data.desc}}</td>
                </tr>
                </tbody>
            </nz-table>

</nz-card>

