.ant-card-head-title {
    overflow: visible;
}

.ant-card-body {
    padding: 24px;
}

.head-operator {
    margin-top: 12px;
    font-size: 12px;
}

.head-operator label {
    padding: 0 17px;
    font-size: 12px;
}

.td-heat-map-summary {
    margin-bottom: 20px;
    float: left;
}

.td-heat-map-summary-link {
    float: right;
}

.td-heat-map-summary .td-heat-map-click {
    float: left;
    margin-right: 20px;
    border-right: 1px solid #E8E9EC;
    padding-right: 20px;
    color: #818596;
    font-size: 12px;
}

.td-heat-map-summary .td-heat-map-pv {
    float: left;
}

.td-heat-map-summary .td-heat-map-num {
    color: #1F2544;
    font-size: 18px;
}

.pixel-select {
    float: left;
    margin-right: 10px;
}

.heat-map-iframe {
    margin: 0 auto;
}

.none-heatmap-page {
    text-align: center;
    padding: 100px 0;
    font-size: 14px;
    color: #17233D;
}

.loading {
    text-align: center;
    padding: 50px 0;
}
