

.queryCondition{
    width:90%;
    padding: 0 24px 0 24px;
    height:auto;
    margin-bottom: 16px;
    display: inline-block;
    border-right: 1px solid rgba(23,35,61,0.10);
}
.ant-form-item{
    margin-bottom:0px;
}
.search-div{
    margin-bottom: 16px;
}
.cm-advanced-search-form{
    >.find{
        height:128px;
    }
}
::ng-deep{
    .ant-input > .ant-calendar-range-picker-input{
        padding: 0;
        text-align: left !important;
        // width: 62px !important;
    }
    .searchheader{
        .ant-col-7{
                // width:286px;
                width:33.3%;
                padding:0 !important;
                // margin-right:40px;
        }
        .ant-col-8{
            // width:286px;
            width:33.3%;
            padding:0 !important;
            // margin-right:40px;
        }
        .ant-col-9{
            // width:286px;
            width:33.3%;
            padding:0 !important;
            // margin-right:40px;
        }
        .ant-col-10{
            width:98px;
        }
        .ant-col-14{
            width: 60% !important;
        }
        .ant-col-15{
            width: 60% !important;
        }
    }
}
