.metadata-detail-list{
    background: #fff;
    margin: 24px;
    box-shadow: 0 1px 4px 0 rgba(23,35,61,0.25);
    border-radius: 2px;
   
}

.title{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #17233D;
    line-height: 48px;
    height: 48px;
    padding-left: 24px;
}

.dictionary{
    max-width: 100px !important;
}
.metadetail{
    display: inline-block;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis !important;
    width: 100% !important;
}
::ng-deep{
    .ant-table-body{
        overflow-x: auto;
    }
}