.ant-card-body {
  padding: 0;
}

.users-details {
  margin: 16px;
  padding: 0;
  position: relative;
}

.users-details dl {
  margin: 0;
  padding: 0;
  float: left;
}

.users-details dt {
  float: left;
  line-height: 45px;
  height: 45px;
  margin: 0 10px 0 0;
}

.users-details dt .icon-account_circle {
  font-size: 45px;
  color: #2d8cf0;
  vertical-align: top;
}

.users-details dd {
  margin: 0;
  float: left;
}

.users-details dd p {
  margin: 0;
}

.users-details .operator {
  float: right;
  margin-top: 8px;
}

.users-details .operator button {
  float: left;
  margin-left: 20px;
}
