.ant-advanced-search-form {
  padding: 10px;
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
  position: relative;
}

.ant-advanced-search-form .ant-form-item {
  margin-bottom: 10px;
}

.ant-advanced-search-form .nz-form-control {
  padding: 0 !important;
  width: 100%;
}

.ant-advanced-search-form .nz-form-control input {
  font-size: 12px;
}

.more-search-form-panel {
  margin-right: 85px !important;
  border-right: 1px solid rgba(23, 35, 61, 0.1);
  padding-right: 20px;
}

[nz-form-label] {
  overflow: visible;
}
.padr-0 {
  padding-right: 0px !important;
}

.nz-btn {
  min-width: auto;
}

.more-search-operator {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -22px;
}

.ant-advanced-search-form .more-search-label {
  overflow: visible;
  text-align: right;
  padding: 0 5px !important;
}

:host ::ng-deep .ant-advanced-search-form .ant-col-8 {
  padding-right: 0 !important;
  padding-left: 12px !important;
}
