:host ::ng-deep ._trafficsources {
  background: #ffffff;
  border-top: 1px solid rgba(23, 35, 61, 0.1);

  td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .header {
    .ant-tabs-bar {
      margin: 0px;
      border-bottom: 2px solid #e8e8e8 !important;
    }

    .ant-tabs-nav-scroll {
      padding: 0 16px !important;
      background: #ffffff;
    }
  }
}
:host ::ng-deep .snalysis {
  background: #f1f2f4;
  height: 100%;
  ._top {
    height: 56px;
    background: #ffffff;
    display: flex;
    padding: 12px 16px;
    box-shadow: 0 2px 4px 0 rgba(23, 35, 61, 0.15);

    ._type {
      margin: 0 24px 0 8px;
      width: 110px;
    }

    .analysisObject {
      display: flex;
      // width: 470px;
      height: 32px;

      .name {
        height: 32px;
        line-height: 32px;
        font-weight: 550;
        font-size: 12px;
        color: rgba(23, 35, 61, 0.75);
        width: 64px;
      }

      nz-checkbox-group {
        line-height: 30px !important;
        width: calc(~'100% - 64px');
        display: flex;

        .ant-checkbox-wrapper {
          margin-left: 0 !important;
          line-height: 34px;
          white-space: nowrap;
          .ant-checkbox-disabled + span {
            color: rgba(0, 0, 0, 0.65) !important;
          }
        }
      }
    }

    .screen {
      flex: 1;
      background: #ffffff;

      .filtrate {
        float: right;
        font-weight: 550;
        font-size: 12px;
        color: #2d8cf0;
        line-height: 30px;
        white-space: nowrap;
        cursor: pointer;
        .more {
          cursor: pointer;
        }
      }
    }
  }

  .filter {
    // min-height: 56px;
    width: 100%;
    background: #ffffff;
    padding: 0px 16px 0px 16px;
    box-shadow: 0 2px 4px 0 rgba(23, 35, 61, 0.15);

    .center {
      border-top: 1px dashed #dedfe3;
      padding-top: 12px;
      display: flex;

      common-select {
        flex: 1;
        height: 32px;
      }
    }
  }

  ._channelTrend {
    height: 472px;
    background: #ffffff;
    margin: 16px;
    box-shadow: 0px 1px 2px 0 rgba(23, 35, 61, 0.25);
    border-radius: 2px;

    ._trendHeader {
      height: 46px;
      line-height: 46px;
      padding-left: 16px;
      border-bottom: 1px solid rgba(23, 35, 61, 0.1);

      span {
        font-weight: 550;
        font-size: 14px;
        color: #17233d;
        line-height: 22px;
        margin-right: 9.5px;
      }
    }

    ._trendCenterTabs {
      nz-tabset {
        height: 46px;
        overflow: hidden;

        .ant-tabs-nav-scroll {
          padding: 0 16px !important;
          .ant-tabs-nav {
            .ant-tabs-ink-bar {
              min-width: 70px !important;
            }
          }
        }
      }
    }

    ._trendEcharts {
      padding: 16px;
      background: #ffffff;
      height: 380px;
      padding-top: 0px;

      .demo-chart {
        height: 100%;
        width: 100%;
        background: #ffffff;
        text-align: center;
        font-size: 12px;
        color: rgba(23, 35, 61, 0.55);
        // line-height: 380px;
      }
    }
  }

  ._channeldetail {
    background: #ffffff;
    margin: 16px;
    box-shadow: 0px 1px 2px 0 rgba(23, 35, 61, 0.25);
    border-radius: 2px;

    .detailHeader {
      height: 46px;
      line-height: 46px;
      padding: 0px 16px;
      background: #ffffff;

      .left {
        float: left;
        font-weight: 550;
        font-size: 14px;
        color: #17233d;
        line-height: 22px;
        margin-top: 12px;
      }

      .search {
        float: right;
        font-weight: 550;
        display: inline-block;
        margin-right: 16px;
      }

      .downloadDetails {
        float: right;
        font-weight: 550;
        font-size: 14px;
        color: #17233d;
        line-height: 22px;
        margin-top: 12px;
        width: 48px;

        span:first-child {
          margin-right: 16px;
        }
      }
    }

    ._trendEtable {
      background: #ffffff;

      nz-table {
        thead {
          tr {
            th {
              background: #ffffff;
              white-space: nowrap;
              .ant-table-column-sorters {
                width: auto;
                display: inline-block;
              }

              .ant-table-column-sorter {
                display: inline-block;
                right: initial;
                margin: -10px 0 0 5px;
                height: 25px !important;
              }

              &:first-child {
                .ant-table-column-sorter {
                  display: none;
                }
              }

              &:last-child {
                .ant-table-column-sorter {
                  display: none;
                }
              }
            }
          }
        }
        .ant-table-wrapper {
          nz-spin {
            .ant-table {
              overflow-x: auto !important;
            }
          }
        }
      }

      .ant-table-pagination.ant-pagination {
        margin-right: 13px !important;
      }
      .ant-table-placeholder {
        font-size: 12px !important;
        color: rgba(23, 35, 61, 0.55) !important;
        // height: 150px;
        // line-height: 118px;
      }
    }
  }
}

//Top10渠道趋势提示
.des-ul {
  width: 450px;
  padding: 0;
  margin: 0;
}

.des-ul li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.15);
  padding: 5px 0;
}

.des-ul li:last-child {
  border-bottom: none;
}

.des-ul {
  .clrfix {
    label {
      float: left;
      width: 85px;
      text-align: left;
      color: #fff;
    }
  }

  .clrfixDetail {
    label {
      width: 100px;
    }
  }
}

.des-ul {
  .des {
    padding-left: 85px;
  }

  .desDetail {
    padding-left: 100px;
  }
}
