<ng-template #tableTotal>
        <div  style="margin-right: 6px;">
          总共 {{_total}} 条
        </div>
</ng-template>
<nz-table #nzTable [nzShowTotal]="tableTotal" [nzBordered]="false" [nzData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading"
    [nzTotal]="_total" [(nzPageIndex)]="_current" (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_pageSize" [nzFrontPagination]="false"
    (nzPageSizeChange)="refreshData(true)" [nzFrontPagination]="false">
    <thead>
        <tr>
            <th nzShowCheckbox [(nzChecked)]="_allChecked" [nzIndeterminate]="_indeterminate" (nzCheckedChange)="_checkAll($event)"></th>
            <th [nzWidth]="'30%'">
                角色名称
            </th>
            <th [nzWidth]="'50%'">
                角色描述
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="_refreshStatus($event, data.id)"></td>
            <td>{{data.name}}</td>
            <td>{{data.desc}}</td>
        </tr>
    </tbody>
</nz-table>