.idea
.zip
.DS_Store
.idea/
.vscode/
node_modules/
dist/
smart-reports-npm/img/
smart-reports-npm/lib/
smart-reports-npm/node_modules/
smart-reports-npm/*.js
smart-reports-npm/*.md
smart-reports-npm/*.gitignore
common-npm/
npm-debug.log
#**/*.js
#**/*.js.map
src/app/**/*.js
src/app/**/*.js.map