main {
  // width: 1296px;
  // margin: auto;
  height: 100vh - 64px;

  .caption {
    padding: 32px 0 31px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: rgba(28,36,56,0.80);
    line-height: 18px;
  }
}