<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.marketing.core.dao.campaign.BatchNoticeDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.marketing.core.entity.campaign.BatchNotice" >
    <id column="id" property="id" />
    <result column="campaign_id" property="campaignId" />
    <result column="pipeline_id" property="pipelineId" />
    <result column="version" property="version" />
    <result column="pipeline_node_id" property="pipelineNodeId" />
    <result column="notice_type" property="noticeType" />
    <result column="trigger_type" property="triggerType" />
    <result column="cron_expression" property="cronExpression" />
    <result column="status" property="status" />
    <result column="calc_status" property="calcStatus" />
    <result column="id_type" property="idType" />
    <result column="start_time" property="startTime" />
    <result column="end_time" property="endTime" />
    <result column="notice_message" property="noticeMessage" />
    <result column="error_info" property="errorInfo" />
    <result column="notice_time" property="noticeTime" />
    <result column="tenant_id" property="tenantId" />
    <result column="creator" property="creator" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="updater" property="updater" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  <!-- TD_MKT_BATCH_NOTICE table all fields -->
  <sql id="Base_Column_List" >
     `id`, `campaign_id`, `pipeline_id`, `version`, `pipeline_node_id`, `notice_type`, `trigger_type`, `cron_expression`, `status`, `calc_status`, `id_type`, `start_time`, `end_time`, `notice_message`, `error_info`, `notice_time`, `tenant_id`, `creator`, `create_by`, `create_time`, `updater`, `update_by`, `update_time`
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and `id` ${idOperator} #{id}
      </if>
      <if test="campaignId != null" >
        and `campaign_id` ${campaignIdOperator} #{campaignId}
      </if>
      <if test="pipelineId != null" >
        and `pipeline_id` ${pipelineIdOperator} #{pipelineId}
      </if>
      <if test="version != null" >
        and `version` ${versionOperator} #{version}
      </if>
      <if test="pipelineNodeId != null" >
        and `pipeline_node_id` ${pipelineNodeIdOperator} #{pipelineNodeId}
      </if>
      <if test="noticeType != null" >
        and `notice_type` ${noticeTypeOperator} #{noticeType}
      </if>
      <if test="triggerType != null" >
        and `trigger_type` ${triggerTypeOperator} #{triggerType}
      </if>
      <if test="cronExpression != null" >
        and `cron_expression` ${cronExpressionOperator} #{cronExpression}
      </if>
      <if test="status != null" >
        and `status` ${statusOperator} #{status}
      </if>
      <if test="calcStatus != null" >
        and `calc_status` ${calcStatusOperator} #{calcStatus}
      </if>
      <if test="idType != null" >
        and `id_type` ${idTypeOperator} #{idType}
      </if>
      <if test="startTime != null" >
        and `start_time` ${startTimeOperator} #{startTime}
      </if>
      <if test="startTime1 != null" >
        and `start_time` &gt;= #{startTime1}
      </if>
      <if test="startTime2 != null" >
        and `start_time` &lt;= #{startTime2}
      </if>
      <if test="endTime != null" >
        and `end_time` ${endTimeOperator} #{endTime}
      </if>
      <if test="endTime1 != null" >
        and `end_time` &gt;= #{endTime1}
      </if>
      <if test="endTime2 != null" >
        and `end_time` &lt;= #{endTime2}
      </if>
      <if test="noticeMessage != null" >
        and `notice_message` ${noticeMessageOperator} #{noticeMessage}
      </if>
      <if test="errorInfo != null" >
        and `error_info` ${errorInfoOperator} #{errorInfo}
      </if>
      <if test="noticeTime != null" >
        and `notice_time` ${noticeTimeOperator} #{noticeTime}
      </if>
      <if test="noticeTime1 != null" >
        and `notice_time` &gt;= #{noticeTime1}
      </if>
      <if test="noticeTime2 != null" >
        and `notice_time` &lt;= #{noticeTime2}
      </if>
      <if test="tenantId != null" >
        and `tenant_id` ${tenantIdOperator} #{tenantId}
      </if>
      <if test="creator != null" >
        and `creator` ${creatorOperator} #{creator}
      </if>
      <if test="createBy != null" >
        and `create_by` ${createByOperator} #{createBy}
      </if>
      <if test="createTime != null" >
        and `create_time` ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and `create_time` &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and `create_time` &lt;= #{createTime2}
      </if>
      <if test="updater != null" >
        and `updater` ${updaterOperator} #{updater}
      </if>
      <if test="updateBy != null" >
        and `update_by` ${updateByOperator} #{updateBy}
      </if>
      <if test="updateTime != null" >
        and `update_time` ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and `update_time` &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and `update_time` &lt;= #{updateTime2}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.talkingdata.marketing.core.entity.campaign.BatchNotice" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_MKT_BATCH_NOTICE(<include refid="Base_Column_List" />)
    values (#{id}, #{campaignId}, #{pipelineId}, #{version}, #{pipelineNodeId}, #{noticeType}, #{triggerType}, #{cronExpression}, #{status}, #{calcStatus}, #{idType}, #{startTime}, #{endTime}, #{noticeMessage}, #{errorInfo}, #{noticeTime}, #{tenantId}, #{creator}, #{createBy}, #{createTime}, #{updater}, #{updateBy}, #{updateTime})
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.talkingdata.marketing.core.entity.campaign.BatchNotice" >
    update TD_MKT_BATCH_NOTICE
       set `campaign_id` = #{campaignId},
           `pipeline_id` = #{pipelineId},
           `version` = #{version},
           `pipeline_node_id` = #{pipelineNodeId},
           `notice_type` = #{noticeType},
           `trigger_type` = #{triggerType},
           `cron_expression` = #{cronExpression},
           `status` = #{status},
           `calc_status` = #{calcStatus},
           `id_type` = #{idType},
           `start_time` = #{startTime},
           `end_time` = #{endTime},
           `notice_message` = #{noticeMessage},
           `error_info` = #{errorInfo},
           `notice_time` = #{noticeTime},
           `tenant_id` = #{tenantId},
           `creator` = #{creator},
           `create_by` = #{createBy},
           `create_time` = #{createTime},
           `updater` = #{updater},
           `update_by` = #{updateBy},
           `update_time` = #{updateTime}
     where `id` = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.talkingdata.marketing.core.entity.campaign.BatchNotice" >
    update TD_MKT_BATCH_NOTICE
    <set >
      <if test="campaignId != null" >
        `campaign_id` = #{campaignId},
      </if>
      <if test="pipelineId != null" >
        `pipeline_id` = #{pipelineId},
      </if>
      <if test="version != null" >
        `version` = #{version},
      </if>
      <if test="pipelineNodeId != null" >
        `pipeline_node_id` = #{pipelineNodeId},
      </if>
      <if test="noticeType != null" >
        `notice_type` = #{noticeType},
      </if>
      <if test="triggerType != null" >
        `trigger_type` = #{triggerType},
      </if>
      <if test="cronExpression != null" >
        `cron_expression` = #{cronExpression},
      </if>
      <if test="status != null" >
        `status` = #{status},
      </if>
      <if test="calcStatus != null" >
        `calc_status` = #{calcStatus},
      </if>
      <if test="idType != null" >
        `id_type` = #{idType},
      </if>
      <if test="startTime != null" >
        `start_time` = #{startTime},
      </if>
      <if test="endTime != null" >
        `end_time` = #{endTime},
      </if>
      <if test="noticeMessage != null" >
        `notice_message` = #{noticeMessage},
      </if>
      <if test="errorInfo != null" >
        `error_info` = #{errorInfo},
      </if>
      <if test="noticeTime != null" >
        `notice_time` = #{noticeTime},
      </if>
      <if test="tenantId != null" >
        `tenant_id` = #{tenantId},
      </if>
      <if test="creator != null" >
        `creator` = #{creator},
      </if>
      <if test="createBy != null" >
        `create_by` = #{createBy},
      </if>
      <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
      <if test="updater != null" >
        `updater` = #{updater},
      </if>
      <if test="updateBy != null" >
        `update_by` = #{updateBy},
      </if>
      <if test="updateTime != null" >
        `update_time` = #{updateTime},
      </if>
    </set>
     where `id` = #{id}
  </update>

  <!-- 根据id查询 TD_MKT_BATCH_NOTICE -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> 
      from TD_MKT_BATCH_NOTICE
     where `id` = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TD_MKT_BATCH_NOTICE
     where `id` = #{value}

  </delete>

  <!-- TD_MKT_BATCH_NOTICE 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.talkingdata.enterprise.base.page.BasePage">
    select count(1) from TD_MKT_BATCH_NOTICE
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TD_MKT_BATCH_NOTICE列表 -->
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.talkingdata.enterprise.base.page.BasePage">
    select <include refid="Base_Column_List"/>
      from TD_MKT_BATCH_NOTICE
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>

</mapper>
