<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.marketing.core.dao.campaign.BatchNoticeDao" >

    <update id="updateCalcStatus2ProgressByIds" parameterType="java.util.Set">
      UPDATE TD_MKT_BATCH_NOTICE
      SET calc_status = 1
      WHERE id IN
      <foreach collection="set" index="index" item="id" open="(" separator="," close=")">
        #{id}
      </foreach>
    </update>

    <update id="updateStatusByUniqueIndex">
      UPDATE
        TD_MKT_BATCH_NOTICE
      SET
        `status`=#{status}
      WHERE
        `campaign_id`=#{campaignId}
      AND
        `pipeline_id`=#{pipelineId}
      AND
        `version`=#{version}
    </update>
</mapper>