<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.marketing.core.dao.campaign.EquityConfigDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.marketing.core.entity.campaign.EquityConfig" >
    <id column="id" property="id" />
    <result column="campaign_id" property="campaignId" />
    <result column="code" property="code" />
    <result column="name" property="name" />
    <result column="total" property="total" />
    <result column="attachment_name" property="attachmentName" />
    <result column="attachment_id" property="attachmentId" />
    <result column="tenant_id" property="tenantId" />
    <result column="creator" property="creator" />
    <result column="create_time" property="createTime" />
    <result column="updater" property="updater" />
    <result column="updater_by" property="updaterBy" />
    <result column="update_time" property="updateTime" />
    <result column="create_by" property="createBy" />
  </resultMap>

  <!-- TD_MKT_EQUITY_CONFIG table all fields -->
  <sql id="Base_Column_List" >
     `id`, `campaign_id`, `code`, `name`, `total`, `attachment_name`, `attachment_id`, `tenant_id`, `creator`, `create_time`, `updater`, `updater_by`, `update_time`, `create_by`
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and `id` ${idOperator} #{id}
      </if>
      <if test="campaignId != null" >
        and `campaign_id` ${campaignIdOperator} #{campaignId}
      </if>
      <if test="code != null" >
        and `code` ${codeOperator} #{code}
      </if>
      <if test="name != null" >
        and `name` ${nameOperator} #{name}
      </if>
      <if test="total != null" >
        and `total` ${totalOperator} #{total}
      </if>
      <if test="attachmentName != null" >
        and `attachment_name` ${attachmentNameOperator} #{attachmentName}
      </if>
      <if test="attachmentId != null" >
        and `attachment_id` ${attachmentIdOperator} #{attachmentId}
      </if>
      <if test="tenantId != null" >
        and `tenant_id` ${tenantIdOperator} #{tenantId}
      </if>
      <if test="creator != null" >
        and `creator` ${creatorOperator} #{creator}
      </if>
      <if test="createTime != null" >
        and `create_time` ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and `create_time` &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and `create_time` &lt;= #{createTime2}
      </if>
      <if test="updater != null" >
        and `updater` ${updaterOperator} #{updater}
      </if>
      <if test="updaterBy != null" >
        and `updater_by` ${updaterByOperator} #{updaterBy}
      </if>
      <if test="updateTime != null" >
        and `update_time` ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and `update_time` &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and `update_time` &lt;= #{updateTime2}
      </if>
      <if test="createBy != null" >
        and `create_by` ${createByOperator} #{createBy}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.talkingdata.marketing.core.entity.campaign.EquityConfig" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_MKT_EQUITY_CONFIG(<include refid="Base_Column_List" />)
    values (#{id}, #{campaignId}, #{code}, #{name}, #{total}, #{attachmentName}, #{attachmentId}, #{tenantId}, #{creator}, #{createTime}, #{updater}, #{updaterBy}, #{updateTime}, #{createBy})
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.talkingdata.marketing.core.entity.campaign.EquityConfig" >
    update TD_MKT_EQUITY_CONFIG
       set `campaign_id` = #{campaignId},
           `code` = #{code},
           `name` = #{name},
           `total` = #{total},
           `attachment_name` = #{attachmentName},
           `attachment_id` = #{attachmentId},
           `tenant_id` = #{tenantId},
           `creator` = #{creator},
           `create_time` = #{createTime},
           `updater` = #{updater},
           `updater_by` = #{updaterBy},
           `update_time` = #{updateTime},
           `create_by` = #{createBy}
     where `id` = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.talkingdata.marketing.core.entity.campaign.EquityConfig" >
    update TD_MKT_EQUITY_CONFIG
    <set >
      <if test="campaignId != null" >
        `campaign_id` = #{campaignId},
      </if>
      <if test="code != null" >
        `code` = #{code},
      </if>
      <if test="name != null" >
        `name` = #{name},
      </if>
      <if test="total != null" >
        `total` = #{total},
      </if>
      <if test="attachmentName != null" >
        `attachment_name` = #{attachmentName},
      </if>
      <if test="attachmentId != null" >
        `attachment_id` = #{attachmentId},
      </if>
      <if test="tenantId != null" >
        `tenant_id` = #{tenantId},
      </if>
      <if test="creator != null" >
        `creator` = #{creator},
      </if>
      <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
      <if test="updater != null" >
        `updater` = #{updater},
      </if>
      <if test="updaterBy != null" >
        `updater_by` = #{updaterBy},
      </if>
      <if test="updateTime != null" >
        `update_time` = #{updateTime},
      </if>
      <if test="createBy != null" >
        `create_by` = #{createBy},
      </if>
    </set>
     where `id` = #{id}
  </update>

  <!-- 根据id查询 TD_MKT_EQUITY_CONFIG -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> 
      from TD_MKT_EQUITY_CONFIG
     where `id` = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TD_MKT_EQUITY_CONFIG
     where `id` = #{value}

  </delete>

  <!-- TD_MKT_EQUITY_CONFIG 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.talkingdata.enterprise.base.page.BasePage">
    select count(1) from TD_MKT_EQUITY_CONFIG
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TD_MKT_EQUITY_CONFIG列表 -->
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.talkingdata.enterprise.base.page.BasePage">
    select <include refid="Base_Column_List"/>
      from TD_MKT_EQUITY_CONFIG
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>

</mapper>
