<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkingdata.marketing.core.dao.campaign.PushReachReportDao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.talkingdata.marketing.core.entity.campaign.PushReachReport" >
    <id column="id" property="id" />
    <result column="campaign_id" property="campaignId" />
    <result column="campaign_launch_unit_id" property="campaignLaunchUnitId" />
    <result column="segment_id" property="segmentId" />
    <result column="channel_definition_id" property="channelDefinitionId" />
    <result column="pipeline_id" property="pipelineId" />
    <result column="pipeline_node_id" property="pipelineNodeId" />
    <result column="report_date" property="reportDate" />
    <result column="report_hour" property="reportHour" />
    <result column="send_count" property="sendCount" />
    <result column="reach_count" property="reachCount" />
    <result column="display_count" property="displayCount" />
    <result column="click_count" property="clickCount" />
    <result column="tenant_id" property="tenantId" />
    <result column="create_time" property="createTime" />
    <result column="creator" property="creator" />
    <result column="create_by" property="createBy" />
    <result column="updater" property="updater" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
    <result column="attr1" property="attr1" />
  </resultMap>

  <!-- TD_MKT_PUSH_REACH_REPORT table all fields -->
  <sql id="Base_Column_List" >
     `id`, `campaign_id`, `campaign_launch_unit_id`, `segment_id`, `channel_definition_id`, `pipeline_id`, `pipeline_node_id`, `report_date`, `report_hour`, `send_count`, `reach_count`, `display_count`, `click_count`, `tenant_id`, `create_time`, `creator`, `create_by`, `updater`, `update_by`, `update_time`, `attr1`
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and `id` ${idOperator} #{id}
      </if>
      <if test="campaignId != null" >
        and `campaign_id` ${campaignIdOperator} #{campaignId}
      </if>
      <if test="campaignLaunchUnitId != null" >
        and `campaign_launch_unit_id` ${campaignLaunchUnitIdOperator} #{campaignLaunchUnitId}
      </if>
      <if test="segmentId != null" >
        and `segment_id` ${segmentIdOperator} #{segmentId}
      </if>
      <if test="channelDefinitionId != null" >
        and `channel_definition_id` ${channelDefinitionIdOperator} #{channelDefinitionId}
      </if>
      <if test="pipelineId != null" >
        and `pipeline_id` ${pipelineIdOperator} #{pipelineId}
      </if>
      <if test="pipelineNodeId != null" >
        and `pipeline_node_id` ${pipelineNodeIdOperator} #{pipelineNodeId}
      </if>
      <if test="reportDate != null" >
        and `report_date` ${reportDateOperator} #{reportDate}
      </if>
      <if test="reportHour != null" >
        and `report_hour` ${reportHourOperator} #{reportHour}
      </if>
      <if test="sendCount != null" >
        and `send_count` ${sendCountOperator} #{sendCount}
      </if>
      <if test="reachCount != null" >
        and `reach_count` ${reachCountOperator} #{reachCount}
      </if>
      <if test="displayCount != null" >
        and `display_count` ${displayCountOperator} #{displayCount}
      </if>
      <if test="clickCount != null" >
        and `click_count` ${clickCountOperator} #{clickCount}
      </if>
      <if test="tenantId != null" >
        and `tenant_id` ${tenantIdOperator} #{tenantId}
      </if>
      <if test="createTime != null" >
        and `create_time` ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and `create_time` &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and `create_time` &lt;= #{createTime2}
      </if>
      <if test="creator != null" >
        and `creator` ${creatorOperator} #{creator}
      </if>
      <if test="createBy != null" >
        and `create_by` ${createByOperator} #{createBy}
      </if>
      <if test="updater != null" >
        and `updater` ${updaterOperator} #{updater}
      </if>
      <if test="updateBy != null" >
        and `update_by` ${updateByOperator} #{updateBy}
      </if>
      <if test="updateTime != null" >
        and `update_time` ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and `update_time` &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and `update_time` &lt;= #{updateTime2}
      </if>
      <if test="attr1 != null" >
        and `attr1` ${attr1Operator} #{attr1}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.talkingdata.marketing.core.entity.campaign.PushReachReport" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TD_MKT_PUSH_REACH_REPORT(<include refid="Base_Column_List" />)
    values (#{id}, #{campaignId}, #{campaignLaunchUnitId}, #{segmentId}, #{channelDefinitionId}, #{pipelineId}, #{pipelineNodeId}, #{reportDate}, #{reportHour}, #{sendCount}, #{reachCount}, #{displayCount}, #{clickCount}, #{tenantId}, #{createTime}, #{creator}, #{createBy}, #{updater}, #{updateBy}, #{updateTime}, #{attr1})
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.talkingdata.marketing.core.entity.campaign.PushReachReport" >
    update TD_MKT_PUSH_REACH_REPORT
       set `campaign_id` = #{campaignId},
           `campaign_launch_unit_id` = #{campaignLaunchUnitId},
           `segment_id` = #{segmentId},
           `channel_definition_id` = #{channelDefinitionId},
           `pipeline_id` = #{pipelineId},
           `pipeline_node_id` = #{pipelineNodeId},
           `report_date` = #{reportDate},
           `report_hour` = #{reportHour},
           `send_count` = #{sendCount},
           `reach_count` = #{reachCount},
           `display_count` = #{displayCount},
           `click_count` = #{clickCount},
           `tenant_id` = #{tenantId},
           `create_time` = #{createTime},
           `creator` = #{creator},
           `create_by` = #{createBy},
           `updater` = #{updater},
           `update_by` = #{updateBy},
           `update_time` = #{updateTime},
           `attr1` = #{attr1}
     where `id` = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.talkingdata.marketing.core.entity.campaign.PushReachReport" >
    update TD_MKT_PUSH_REACH_REPORT
    <set >
      <if test="campaignId != null" >
        `campaign_id` = #{campaignId},
      </if>
      <if test="campaignLaunchUnitId != null" >
        `campaign_launch_unit_id` = #{campaignLaunchUnitId},
      </if>
      <if test="segmentId != null" >
        `segment_id` = #{segmentId},
      </if>
      <if test="channelDefinitionId != null" >
        `channel_definition_id` = #{channelDefinitionId},
      </if>
      <if test="pipelineId != null" >
        `pipeline_id` = #{pipelineId},
      </if>
      <if test="pipelineNodeId != null" >
        `pipeline_node_id` = #{pipelineNodeId},
      </if>
      <if test="reportDate != null" >
        `report_date` = #{reportDate},
      </if>
      <if test="reportHour != null" >
        `report_hour` = #{reportHour},
      </if>
      <if test="sendCount != null" >
        `send_count` = #{sendCount},
      </if>
      <if test="reachCount != null" >
        `reach_count` = #{reachCount},
      </if>
      <if test="displayCount != null" >
        `display_count` = #{displayCount},
      </if>
      <if test="clickCount != null" >
        `click_count` = #{clickCount},
      </if>
      <if test="tenantId != null" >
        `tenant_id` = #{tenantId},
      </if>
      <if test="createTime != null" >
        `create_time` = #{createTime},
      </if>
      <if test="creator != null" >
        `creator` = #{creator},
      </if>
      <if test="createBy != null" >
        `create_by` = #{createBy},
      </if>
      <if test="updater != null" >
        `updater` = #{updater},
      </if>
      <if test="updateBy != null" >
        `update_by` = #{updateBy},
      </if>
      <if test="updateTime != null" >
        `update_time` = #{updateTime},
      </if>
      <if test="attr1 != null" >
        `attr1` = #{attr1},
      </if>
    </set>
     where `id` = #{id}
  </update>

  <!-- 根据id查询 TD_MKT_PUSH_REACH_REPORT -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> 
      from TD_MKT_PUSH_REACH_REPORT
     where `id` = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TD_MKT_PUSH_REACH_REPORT
     where `id` = #{value}

  </delete>

  <!-- TD_MKT_PUSH_REACH_REPORT 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.talkingdata.enterprise.base.page.BasePage">
    select count(1) from TD_MKT_PUSH_REACH_REPORT
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TD_MKT_PUSH_REACH_REPORT列表 -->
  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.talkingdata.enterprise.base.page.BasePage">
    select <include refid="Base_Column_List"/>
      from TD_MKT_PUSH_REACH_REPORT
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>

</mapper>
