.filter{
   
}
.filter-page p{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #17233D;
    line-height: 22px;
}
.filter-new{
    margin:15px 0 0 16px;
}
.filter-new ul li{
    width:204px;
    height:28px;
    background: #E8E9EC;
    border-radius: 14px;
    margin-bottom:11px;
    line-height: 28px;
    padding: 0px 10px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #404560;
}
.filter-new ul li:last-child{
    margin-bottom: 0px;
}
.new-title{
    display: inline-block;
    width:98px;
    height: 22px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #404560;
    line-height: 22px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}
.new-icon{
    font-size: 14px;
    float: right;
}
.new-icon i{
    cursor:pointer;
    margin-right: 11px;
}
.new-icon i:last-child{
    margin-right: 0px;
}
.filter-create-btn{
    width:204px;
    height:28px;
    line-height: 28px;
    margin:15px 0 0 16px;
    background: #F2F2F4;
    border: 1px dashed #DEDFE3;
    border-radius: 14px;
    padding: 0px 10px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #2D8CF0;
    font-family: PingFangSC-Regular;
    cursor:pointer;
}
.filter-create-btn span{
    margin-right: 9px;
    cursor:pointer;
}
.filter-create-btn span:last-child{
    margin-right: 0px;
    cursor:pointer;
}
.create-text{
    width:134px;
    height:20px;
    margin-top: 4px;
    display:inline-block;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #2D8CF0;
    line-height: 20px;
}
:host ::ng-deep .filter{
    .ant-select {
        width: 100%;
    }
    .ant-select-selection,.ant-select-selection {
        background: none !important;
        border: none !important;
        border-bottom: 1px solid #ddd !important;
        width: 100% !important;
      }
      .ant-select-focused .ant-select-selection,.ant-select-selection:focus,.ant-select-selection:active {
        box-shadow: none !important;
      }

  }