<ng-container>
    <div class="filter">
        <div class="filter-page">
            <p>过滤条件</p>
            <div class="filter-new">
                <ul>
                    <li *ngFor="let filter of filters">
                        <span class="new-title">{{filter}}</span>
                        <span class="new-icon">
                            <i class="anticon anticon-edit" (click)="updateFilter(filter)"></i>
                            <i class="anticon anticon-close-circle" (click)="showConfirm(filter)"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="filter-create-btn">
                <span>
                    <i class="anticon anticon-plus" (click)="isShow(true,'create')"></i>
                </span>
                <span class="create-text" (click)="isShow(true,'create')">添加过滤条件</span>
            </div>
        </div>
    </div>
</ng-container>