.tag-group {
  margin-bottom: 10px;
  font-size: 12px;
}

.tag {
  cursor: pointer;
  padding: 0 20px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin: 10px 10px 0 0;
  display: inline-block;
  max-width: 100%;
  background: #f8f8f8;
  font-size: 12px;
  border-radius: 3px;
  text-decoration: none;
  color: #666;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tag.selected {
  background: #2d8cf0;
  color: #fff;
}

.tag.hide {
  display: none;
}
