    <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">

        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="6" [nzXs]="24" class="this-label" nzRequired>
                <label for="name" >名称</label>
            </nz-form-label>
            <nz-form-control nz-col [nzSm]="14" [nzXs]="24" >
                
                    <input nz-input formControlName="name" id="name">
                
                <ng-container *ngIf="getFormControl('name').dirty && getFormControl('name').errors">
                        <nz-form-explain style="color:red;" >
                        <span *ngIf="getFormControl('name').errors.required">请输入角色层级名称</span>
                        <span *ngIf="getFormControl('name').errors.maxlength">输入的角色层级名称过长</span>
                        <span *ngIf="getFormControl('name').errors.minlength">输入的角色层级名称不得低于2位</span>
                        <span *ngIf="getFormControl('name').errors.nameRepeat">用角色层级名称已存在</span>
                        <span *ngIf="getFormControl('name').errors.special">角色层级名称存在特殊字符</span>
                        </nz-form-explain>
                    </ng-container>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="6" [nzXs]="24" class="this-label">
                <label for="desc" nzRequired class="special-label-before" style="padding-left:10px;">描述</label>
            </nz-form-label>
            <nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                    <textarea nz-input  [nzAutosize]="{ minRows: 2, maxRows: 5}" formControlName="desc" id="desc"></textarea>
                
                <ng-container *ngIf="getFormControl('desc').dirty && getFormControl('desc').errors">
                        <nz-form-explain style="color:red;" *ngIf="getFormControl('desc').errors.maxlength">输入的描述过长</nz-form-explain>
                    </ng-container>
            </nz-form-control>
        </nz-form-item>

    </form>


