main {
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.filters :hover{
    cursor: pointer;
}
.filters-box{
    height: 32px;
    overflow: hidden;
    width: 100%;
    align-items: center;
    background: #fff;
    .filters-item{
        margin-right: 10px;
    }
    .text{
        margin-right: 10px;
        border: 1px solid #ededed;
        text-align: center;
        width: 50px;
        line-height: 30px;
        background: #e5e9ec;
        border-radius: 4px;
    }
    div{
        overflow: hidden;
        float: left;
        display: inline-block;
        width:200px;
    }
    div:nth-child(3){
        width:100px;
    }
}