main {
  
}
.dayWeekMonth{
  min-width:10px;
}

.fl{
  float: left;
}
.fr{
  float: right;
}

.clrfix {
  zoom: 1;
}
.clrfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}