.tooltip {
  margin-right: 20px;
}

.tooltip:hover .tips-content {
  display: block;
}

.tips-content {
  width: 200px;
  color: #ffffff;
  background: rgba(55, 60, 71, 0.85);
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  left: 128px;
  top: -3px;
  display: none;
  z-index: 5;
  line-height: 20px;
}

.tips-content:before {
  content: '';
  border-right: 5px solid rgba(28, 36, 56, 0.8);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: -5px;
  top: 12px;
  display: block;
}

.tip-content-body {
  padding: 8px 15px 14px;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  white-space: normal;
}

.tip-content-body p {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #9EA7B4;
  letter-spacing: 0;
  line-height: 18px;
}

.pwdtwoLabel {
  margin-left: 20px;
}

:host ::ng-deep .marginBottom {
  margin-bottom: 20px;
}

:host ::ng-deep  .labelLeft {
  text-align: left;
  width: 118px !important;
}
.explain {
  color:red;
}
:host ::ng-deep .ant-form label {
  font-size: 14px;
  padding-left:10px;
}