::ng-deep .item-key {
  padding: 4px 12px;
  background: rgba(23, 35, 61, 0.06);
  // border: 1px solid rgba(23,35,61,0.10);
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;

  .has-error {
    position: absolute;
    bottom: -20px;
    left: 0px;
    color: red;
  }

  .params-number {
    left: 175px;
  }

  input {
    margin-right: 10px;
    margin-left: 4px;
  }

  label {
    font-size: 12px;
    color: rgba(23, 35, 61, 0.75);
  }

  .anticon-close {
    color: rgba(23, 35, 61, 0.55);
    font-size: 16px;
    float: right;
    margin-top: 13px;
  }
}

::ng-deep .ant-modal-body {
  max-height: 500px;
  overflow: auto;
  padding: 16px;
}
