@import '../../../../../less/td.theme.less';
@import '../../../../../../node_modules/ng-zorro-antd/src/ng-zorro-antd.less';
:host ::ng-deep .push {
    &-title {
        padding: 20px 16px;
        background-color: #fff;
        overflow: hidden;
        

        b {
            font-weight: normal;
        }

        &-left {
            float: left;
            overflow: hidden;
            
            h3 {
                font-size: 16px;
                color: #17233D;
            }
        }

        &-right {
            float: right;
            overflow: hidden;

            li {
                float: left;
                padding: 0px 35px 0px 16px;
                font-size: 12px;

                p {
                    color: #17233D;

                    span {
                        color: rgba(23,35,61,0.55);
                    }
                }

                border-right: 1px solid rgba(23,35,61,0.10);
                height: 48px;
            }

            li:last-child {
                border-right: 0px;
            }
        }

        .anticon-left, .anticon-right {
            color: rgba(0, 0, 0, 0.65);
        }

        .push-promotion-cycle {
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 24px 0px 10px 0px;
        }
        
        .push-promotion-cycle .push-promotion-cycle-left,
        .push-promotion-cycle .push-promotion-cycle-right {
            padding-top: 7px;
            width: 30px;
            height: 30px;
            display: inline-block;
            border: 1px solid #dfe7f2;
            border-radius: 50%;
            text-align: center;
            box-sizing: border-box;
        }
        
        .push-promotion-cycle .push-promotion-cycle-left-click,
        .push-promotion-cycle .push-promotion-cycle-right-click {
            cursor: pointer;
            border-color: @base-color;
        }
        
        .sms-promotion-cycle .sms-promotion-cycle-left-click.default,
        .sms-promotion-cycle .sms-promotion-cycle-right-click.default {
            border-color: #dfe7f2;
        }
        
        .push-promotion-cycle .push-promotion-cycle-left-click .left-arrow1 {
            color: @base-color;
            cursor: pointer;
        }
        
        .push-promotion-cycle .push-promotion-cycle-right-click .right-arrow1 {
            color: @base-color;
            cursor: pointer;
        }
        
        .push-promotion-cycle .push-promotion-cycle-timezone {
            width: 90%;
            height: 1px;
            background: #d3d3d3;
            display: flex;
            justify-content: space-between;
        }
        
        .push-promotion-cycle .push-promotion-cycle-timezone .point {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #a7b0c4;
            display: inline-block;
            transform: translateY(-50%);
            cursor: pointer;
        }
        
        .push-promotion-cycle .push-promotion-cycle-timezone .point .time {
            margin: 20px 0 0 -7px;
            display: inline-block;
            white-space: nowrap;
            cursor: pointer;
        }
        
        .push-promotion-cycle .push-promotion-cycle-timezone .point .otherTime {
            margin: 20px 0 0 -28px;
            display: inline-block;
            white-space: nowrap;
            cursor: pointer;
        }
        
        .push-promotion-cycle .push-promotion-cycle-timezone .point.select {
            width: 13px;
            height: 13px;
            background-color: @base-color;
        }
        
        .push-promotion-cycle .push-promotion-cycle-timezone .point.select .otherTime {
            margin-top: 22px;
            color: @base-color;
        }
    }

    &-content {
        margin: 16px;
        margin-bottom: 0px;

        .push-overview {
            background-color: #fff;
            margin-bottom: 16px;

            &-title {
                height: 46px;
                line-height: 46px;
                padding: 0px 16px;
                border-bottom: 1px solid rgba(23,35,61,0.10);
                margin-bottom: 0px;
                font-weight: 550;
                color: #17233D;

                .icon-help {
                    float: right;
                    color: rgba(23,35,61,0.55);
                    cursor: pointer;
                    margin-right: 8px;
                    font-size: 16px;
                }

                .icon-download {
                    float: right;
                    color: rgba(23,35,61,0.55);
                    cursor: pointer;
                }
            }

            &-content {
                // padding: 16px;

                .span-block {
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    float: left;
                    color: #fff;
                    line-height: 20px;
                    text-align: center;
                    margin-right: 8px;
                    font-size: 14px;
                }

                .percent {
                    margin-bottom: 0px;
                    float: left;
                    margin-top: 3px;
                    font-size: 14px;
                    color: rgba(23,35,61,0.75);
                }

                .span-name {
                    width: 50px;
                    height: 20px;
                    float: left;
                    line-height: 20px;
                    text-align: left;
                    font-size: 14px;
                }

                .td-color {
                    background: #2D8CF0;
                }

                .green-color {
                    background: #2DE2C5;
                }

                .orange-color {
                    background: orange;
                }
            }
        }
    }

    &-trendAnalyses {
        background-color: #fff;

        h3 {
            margin-bottom: 0px;
            height: 46px;
            line-height: 46px;
            color: #17233D;
            padding: 0px 16px;
            border-bottom: 1px solid rgba(23,35,61,0.10);
    
            .icon-download {
                color: rgba(23,35,61,0.55);
                float: right;
            }
    
            .tabs {
                float: right;
                margin-top: 9px;
                margin-right: 16px;

                span {
                    float: left;
                    height: 28px;
                    line-height: 28px;
                    font-size: 12px;
                    color: rgba(23,35,61,0.75);
                    border: 1px solid #DEDFE3;
                    text-align: center;
                    cursor: pointer;
                    padding: 0px 15.5px;
                }
            
                .item-active {
                    background: @base-color;
                    color: #fff;
                    border: 1px solid @base-color;
                }

                span:first-child {
                    border-radius: 2px 0px 0px 2px;
                    border-right: 0px;
                }

                span:last-child {
                    border-radius: 0px 2px 2px 0px;
                    border-left: 0px;
                }
            }
        }

        .push-content-chart-tab {
            overflow: hidden;
            padding: 0px 16px;
            padding-bottom: 0px;
            border-bottom: 1px solid rgba(23,35,61,0.10);

            p, h3 {
                margin-bottom: 0px;
                border-bottom: 0px;
                padding: 0px;
            }

            span {
                float: left;
                margin-right: 24px;
                cursor: pointer;

                h3 {
                    font-size: 12px;
                    color: #17233D;
                }

                .border-bot {
                    border-bottom: 2px solid @base-color;
                }
            }
        }

        .push-content-chart-list {
            padding: 16px;
            background-color: #fff;
            height: 320px;
            position: relative;
    
            .chart-list-one-tab {
                position: absolute;
                top: 0;
                left: 16px;
                z-index: 1000;
                margin-top: 12px;
    
                .iconfont {
                    font-size: 16px;
                    color: rgba(23,35,61,0.55);
                    margin-right: 4px;
                    cursor: pointer;
                }
        
                .iconfontColor {
                    color: @base-color;
                }
            }
    
            &-one-chart {
                position: absolute;
                height: 300px;
                top: 0;
                left: 0;
            }
        }
    }
}

:host .ant-table-thead > tr, .ant-table-tbody > tr {
    &.@{table-prefix-cls}-row-hover,
    &:hover {
      & > td {
        background: #fff;
      }
    }
}

:host  .ant-table-tbody > tr > td {
    .text-color {
        color: @base-color;
    }

    .text-color-rate {
        font-size: 14px;
        color: #2D8CF0;
    }
}

:host  .ant-table-tbody > tr:last-child > td {
    background: #fafafa;
}

:host  .ant-table-tbody > tr:first-child > td {
    background: #ffffff;
}

.text-bg-color {
    color: #f00;
}

::ng-deep .ant-table-thead > tr > th {
    border-bottom: 0px;
}

:host ::ng-deep .iconfont {
    cursor: pointer;
}