.filter-choice {
    border: 1px solid #D7DDE4;
    border-radius: 4px;
    text-indent: 5px;
    background: #FFFFFF;
    width: 112px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    position: relative;
    margin-right: 15px;
}

.filter-choice .triangle_icon,
.date-btn .triangle_icon {
    border-top: 5px solid #aaa;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    right: 8px;
    top: 13px;
}

.filter-choice-list {
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #D7DDE4;
    border-radius: 4px;
    text-align: center
}

.filter-choice-list li:hover {
    background: #ccc;
}

.filter-calendar {
    width: 220px;
    height: 32px;
    position: relative;
}

.date-calendar {
    position: absolute;
    width: 220px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    border: 1px solid #D7DDE4;
    border-radius: 4px;
    left: 0;
    top: 0;
    padding-left: 5px;
}

.date-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    border: 1px solid #D7DDE4;
    border-radius: 4px;
    right: -31px;
    top: 0;
}