html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

[stage-container] {
    height: inherit;
}

.stage {
    width: 100%;
    height: calc(100% - 180px);
    position: relative;
    overflow: auto;
}

.controller {
    width: 100%;
    height: 53px;
    border-top: 1px solid gray;
    position: relative;
    text-align: center;
    padding: 10px;
}

.btn-container {
    text-align: center;
    float: left;
    margin-right: 10px;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
}

.btn-select {
    background-color: #cc0033;
    color: #ffffff;
}

.upload_layer {
    width: 500px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    display: none;
}


/*.smallCircle{
   width:10px;
   height:10px;
   border-radius:100%;
   position:absolute;
   z-index:1;
   background:#5f93e1;
   border: 2px solid #FFFFFF;
   pointer-events: auto;
}

.ct{
 top:-6px;
 right:49%;
}
.lt{
    top:-5px;
    left:-5px;
}
.rt{
   top:-5px;
   right:-5px;
}
.rb{
   bottom:-5px;
   right:-5px;
}
.cb{
 bottom:-6px;
 left:49%;
}
.lb{ 
    bottom:-5px;
    left:-5px;
}
.lc{
    top:49%;
    left:-6px;
}
.rc{
    top:49%;
    right:-6px;
}*/


/*.inACtive{
    display:none;
}*/


/*table样式start*/

i {
    font-style: normal
}

ul,
li,
input {
    margin: 0;
    padding: 0;
    list-style: none
}

.fl {
    float: left
}

.fr {
    float: right;
}

.clrfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.clrfix {
    zoom: 1;
}

.table_pagination ul,
li {
    margin: 0;
    padding: 0
}

.table_pagination li {
    list-style: none
}

*,
 :after,
 :before {
    box-sizing: border-box;
}

.table {
    padding: 15px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background: #fff;
}

.table th {
    background-color: #f7f8f9;
}

.table td,
.table th {
    padding: 0 6px;
    text-align: left;
    white-space: nowrap;
    height: 36px;
    vertical-align: middle;
    font-weight: normal;
    border-bottom: 1px solid #e7ebef;
}

.table_pagination {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #e7ebef;
    border-right: 1px solid #e7ebef;
    background: #fff;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ced3d9;
    padding: 0 5px;
}

.table_pagination .table_currentPage {
    background-color: #679fef;
    color: #fff;
    border-radius: 5px;
}

.table_pageSizeBox {
    margin-left: 10px;
    position: relative;
    width: 55px;
}

.table_pageSizeBox table_pageSize {
    color: #679fef;
}

.table_pageSizeBox .table_sizeList {
    border: 1px solid #679fef;
    display: none;
    position: absolute;
    top: 36px;
    width: 100%;
}

.table_pageSizeBox .table_sizeList li {
    line-height: 20px;
    height: 20px;
}

.table_pageSizeBox .triangle_icon {
    border-top: 5px solid #aaa;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 22px;
}

.table_page li {
    padding: 0 5px;
}


/*table样式end*/


/*四象限图样式start*/

::selection {
    background: transparent;
}

.scatterComponent .containerHead {
    border-bottom: 1px solid #E8E9EC;
    padding: 0 20px;
}

.scatterComponent .containerHead .filterButton {
    width: 56px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DEDFE3;
    font-size: 12px;
    margin-top: 8px;
}

.scatterComponent .containerHead .region {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.scatterComponent .containerHead .custom {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.scatterComponent .containerHead .filterButton.currentFilter {
    background: #43A3FB;
    border: none;
    color: #fff;
}

.scatterComponent .containerXY>span {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    font-weight: bold;
    font-family: "PingFangSC-Semibold";
}

.scatterComponent .indicator {
    margin: 0 15px;
    width: 112px;
    height: 32px;
    line-height: 32px;
    float: left;
    position: relative;
    z-index: 1;
}

.scatterComponent .indicatorBox {
    border: 1px solid #D7DDE4;
    border-radius: 4px;
    text-indent: 5px;
    background: #FFFFFF;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    position: relative;
}

.scatterComponent .indicatorItems li {
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.scatterComponent .triangle_icon {
    border-top: 5px solid #aaa;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    right: 8px;
    top: 13px;
}

.scatterComponent .indicatorItems {
    width: 470px;
    /*height: 370px;*/
    background: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 4px;
    padding: 6px 24px;
    display: none;
    position: absolute;
    top: 32px;
}

.scatterComponent .indicatorItems .itemBox {
    border-bottom: 1px solid #E8E9EC;
    padding: 10px;
}

.scatterComponent .indicatorItems .itemBox:last-child {
    border-bottom: none;
}

.scatterComponent .indicatorItems .itemBox>span {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    font-weight: bold;
    font-family: "PingFangSC-Semibold";
}

.scatterComponent .indicatorItems .itemBox input[type="radio"] {
    margin: 3px 5px 0 0;
    display: none;
}

.scatterComponent .indicatorItems .itemBox label {
    padding-left: 20px;
    cursor: pointer;
    background: url('radio-unchecked.svg') no-repeat center left;
}

.scatterComponent .indicatorItems .itemBox input[type="radio"]:checked~label {
    background: url('radio-checked.svg') no-repeat center left;
}

.scatterComponent .contentBox {
    width: 100%;
    height: 100%;
    overflow: auto!important;
}

.scatterComponent .tableBox {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.scatterComponent .tableBox:first-child {
    margin-top: 0;
}

.scatterComponent .tableBox table {
    padding: 0 10px;
    background: #FFFFFF;
    border: 1px solid #E8E9EC;
    width: calc(100% - 24px);
    border-collapse: collapse;
    border-spacing: 0;
    float: right;
    font-size: 12px;
    height: auto;
}

.scatterComponent .tableBox .currentTable {
    height: auto;
}

.scatterComponent .tableBox thead {
    background: #F8F8F9;
}

.scatterComponent .tableBox td,
.scatterComponent .tableBox th {
    padding: 0 6px;
    text-align: left;
    white-space: nowrap;
    height: 36px;
    vertical-align: middle;
    min-width: 100px;
    text-overflow: ellipsis;
    max-width: 120px;
    overflow: hidden;
}

.scatterComponent .tableBox th>div {
    width: 100%;
    height: 36px;
    line-height: 36px;
}

.scatterComponent .tableBox table .sortable {
    position: relative;
    width: 10px;
    height: 36px;
    display: inline-table;
    margin: 0 5px;
    float: right;
}

.scatterComponent .tableBox table .triangleUp {
    border-bottom: 5px solid #aaa;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 13px;
    opacity: 0.2;
}

.scatterComponent .tableBox table .triangleDown {
    border-top: 5px solid #aaa;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    opacity: 0.2
}

.scatterComponent .tableBox table .currentSort {
    opacity: 1;
}

.scatterComponent .tableBox tbody span {
    font-family: HelveticaNeue-Medium;
    font-size: 12px;
    color: #BBBDC6;
}

.scatterComponent .tableBox .operator {
    position: absolute;
    top: 0;
    left: 1px;
    width: 24px;
    height: 56px;
    background: #818596;
    border-radius: 4px 0 0 4px;
    display: none;
    color: #fff;
    padding-top: 2px;
}

.scatterComponent .tableBox .operator .toggleOpen {
    display: block;
    width: 24px;
    height: 24px;
}

.scatterComponent .tableBox .operator .open {
    background: url('./icon－open.svg') no-repeat center center /12px 12px;
}

.scatterComponent .tableBox .operator .close {
    background: url('./icon－close.svg') no-repeat center center /12px 12px;
}

.scatterComponent .tableBox .operator .download {
    display: block;
    width: 24px;
    height: 24px;
    background: url('./icon－download.svg') no-repeat center center /14px 14px;
}


/*滚动条样式start*/

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(28, 36, 56, 0.30);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(28, 36, 56, 0.30);
}

::scrollbar {
    width: 4px;
    height: 4px;
}

::scrollbar-track {
    border-radius: 4px;
}

::scrollbar-thumb {
    border-radius: 4px;
    background: rgba(28, 36, 56, 0.30);
}

::scrollbar-thumb:window-inactive {
    background: rgba(28, 36, 56, 0.30);
}


/*四象限图样式end*/


/*part图表样式*/

.tree {
    width: 100%;
    /*padding: 50px 0;*/
}

.tree .child {
    padding: 10px 0;
    text-align: center;
}


/*.tree .child:nth-child(2) {
    padding: 20px 30px;
}*/

.tree .child:nth-child(1) {
    text-align: center;
}

.tree .child span {
    display: inline-block;
    font-size: 12px;
    height: 64px;
}

.tree .child_list {
    height: 64px;
}

.tree .child span a {
    line-height: 32px;
    color: #fff;
    background: #43A3FB;
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
    width: 64px;
    text-align: center;
    font-size: 20px;
}

.tree .child:nth-child(2) .child_list {
    padding: 0 14%;
}

.tree .child:nth-child(3) .child_list {
    padding: 0 4%;
}

.tree .child:nth-child(3) .child_list:nth-child(3) span:nth-child(1) a,
.tree .child:nth-child(3) .child_list:nth-child(4) span:nth-child(1) a {
    height: 64px;
    line-height: 64px !important;
}

.tree .child b {
    height: 32px;
    line-height: 32px;
    color: #333;
    display: inline-block;
    padding-right: 20px;
    padding-left: 10px;
}

.up {
    background: url(./icon-up.svg) center right no-repeat /10px 10px;
}

.down {
    background: url(./icon-down.svg) center right no-repeat /10px 10px;
}


/*.tree .child b:first-child {
    background: url('../img/icon-up.svg') no-repeat center center /8px 8px;
}*/

.tree .child em {
    height: 32px;
    line-height: 32px;
    padding: 0px 10px 0px 10px;
    font-style: normal;
    color: #333;
    display: inline-block;
}

.tree .child .child_list {
    display: inline-block;
}

.child_list {
    margin: 0 2%;
}


/*indexPriview*/


/*indexPriview样式*/

.indexPriview {
    padding: 0px 0px 20px 30px;
    float: left;
    border-right: 1px solid #ccc;
    margin: 20px 0;
    min-width: 264px;
}

.indexPriview:last-child {
    border: none;
}

.indexPriview p {
    margin-bottom: 24px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #818596;
    line-height: 12px;
}

.indexPriview ul li {
    list-style: none;
    color: #666;
    font-weight: normal;
}

.indexPriview span {
    margin: 0 30px;
}

.indexPriview b {
    display: inline-block;
    color: #333;
    font-weight: normal;
}

.indexPriview strong {
    font-weight: normal;
    color: #666;
}

.indexPriview .data li {
    margin-bottom: 16px;
}

.indexPriview .data b {
    width: 45%;
    font-family: HelveticaNeue;
    font-size: 24px;
    color: #1F2544;
    line-height: 24px;
}

.indexPriview .data b:last-child {
    color: #818596;
}

.indexPriview .data span {
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #404560;
    line-height: 12px;
}

.indexPriview .type li b {
    width: 45%;
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #404560;
    letter-spacing: 0;
    line-height: 12px;
}

.indexPriview .data li:nth-child(2),
.indexPriview .data li:nth-child(2) b {
    color: #818596;
}

.indexPriview .type li span,
.indexPriview .type li strong {
    font-family: HelveticaNeue-Bold;
    font-size: 12px;
    color: #404560;
    letter-spacing: 0;
    line-height: 12px;
}


/*=================================================*/

.component_title {
    height: 44px;
    line-height: 43px;
    padding: 0 15px;
    font-size: 14px;
    color: #434c61;
    border-bottom: 1px solid #dce1e7;
}


/*chart-select-line*/

.chart-selectline {
    position: relative;
    margin-left: 12px;
    line-height: 42px;
    padding-right: 25px;
    cursor: pointer;
}

.chart-selectline-title {
    color: #666f7b;
    font-size: 13px;
    position: relative;
}

.chart-selectline-title:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8a8f9d;
    position: absolute;
    right: -18px;
    top: 19px;
}

.chart-selectline-list {
    position: absolute;
    left: -5px;
    top: 32px;
    z-index: 2;
    display: none;
    background: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 4px;
    padding: 6px 10px;
    background: #fff;
    cursor: pointer;
}

.chart-selectline-list ul li {
    line-height: 24px;
    cursor: pointer;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    transition: all linear .3s;
    font-size: 12px;
}

.chart-selectline-list ul li:hover {
    color: #4797ed;
}


/*=========日历组件filtercss==start==========*/


/*=========日历组件filtercss==end==========*/

.component_download {
    background: url('./icon－download.svg') no-repeat center center /14px 14px;
}

.component_help span.icon_help_button {
    background: url('./icon－info.svg') no-repeat center center /14px 14px;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    top: -2px;
}

.component_title_text {
    width: 50%;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.component_icon {
    margin: 0 2px;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 9px;
    display: none;
}

.component_help:hover p {
    display: block;
}

.component_help p {
    width: 240px;
    padding: 8px 15px;
    background: rgba(28, 36, 56, 0.8);
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    left: 28px;
    top: -5px;
    line-height: 20px;
    display: none;
    z-index: 20;
    white-space: initial;
}

.component_help p:before {
    content: '';
    border-right: 5px solid rgba(28, 36, 56, 0.8);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: -5px;
    top: 12px;
    display: block;
}