.editor_dragover {
    border: #654321 1px solid !important;
}

//.ud-editable:hover {
//  border: #00ff00 1px solid;
//}

//.ud-editable div:hover {
//  border: #00ff00 1px solid;
//}

//.ud-editable span:hover {
//  border: #0000ff 1px solid;
//}
//
//.ud-editable td:hover {
//  border: #0000ff 1px solid;
//}
.ud-editable [editable-id]:hover {
    border: #00ff00 1px solid;
}

.ud-big-border [editable-id] {
    border: #777 5px solid;
}

.ud-big-border.ud-editable [editable-id]:hover {
    border: #00ff00 5px solid;
}
