.chart-venn-box {

  &-horizontal {
    overflow: hidden;

    & .venn-chart {
      float: left;
      
      &-legend {
        padding-top: 48px;
        width: 175px;
        float: right;
        margin-right: 24px;
      }
    }
  }
}