<main nz-row [nzType]="'flex'" [nzJustify]="'space-between'" [nzAlign]="'top'">
  <div class="foot-left" nz-col>
    <ul class="links">
      <!-- <li><a href="http://doc.talkingdata.com/posts/57" target="_blank">SDK下载</a></li> -->
      <!-- &nbsp;|&nbsp; -->
      <li><a href="http://doc.talkingdata.com/posts/463" target="_blank">集成文档</a></li>
      &nbsp;|&nbsp;
      <li><a href="http://www.talkingdata.com/terms.jsp?languagetype=zh_cn" target="_blank">服务条款</a></li>
      &nbsp;|&nbsp;
      <li><a href="https://www.talkingdata.com/privacy.jsp?languagetype=zh_cn" target="_blank">隐私政策</a></li>
      &nbsp;|&nbsp;
      <li><a href="http://blog.talkingdata.net/" target="_blank">博客</a></li>
    </ul>
    <ul class="tels">
      <li>客服电话: 400-870-1230</li>
      &nbsp;&nbsp;
      <li>客服QQ: 400 870 1230</li>
      &nbsp;&nbsp;
      <li>客服邮箱: support@tendcloud.com</li>
    </ul>
  </div>
  <div class="foot-right" nz-col >
    <p class="copyright">2011-{{_thisYear}} © TalkingData.com</p>
    <ul class="records">
      <li>京ICP备12005794号</li>
      &nbsp;|&nbsp;
      <li>京ICP证130311号</li>
      &nbsp;|&nbsp;
      <li>京公网安备11010102001221号</li>
    </ul>
  </div>
</main>
