main {
  line-height: 24px;
  padding: 24px 0;
  width: 100%;

  & > a {
    color: #39f;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease
  }
  .foot-left {
    .links {
      display: flex;
    }

    .tels {
      display: flex;
    }
  }

  .foot-right {
    .copyright {
      text-align: right;
    }

    .records {
      display: flex;
    }
  }
}