.platform-gray {
  width: 20px;
  height: 20px;
  color: #17233d;
}

.platform-blue {
  width: 20px;
  height: 20px;
  color: #2d8cf0;
}

.iconfont {
  font-size: 24px;
  color: #17233d;
  opacity: 0.25;
  margin-right: 8px;
  float: left;
}

.iconfont-blue {
  color: #2d8cf0;
  opacity: 1;
}

.table-custom-filter {
  margin-top: 3px;
}

.anticon-question-circle-o {
  cursor: pointer;
}
