@bg_color: #F8F8F9;

.hide {
    display: none;
}

#bottom_line {
    border: 0;
    outline: none;
    border-bottom: 1px solid #DEDFE3;
    background: @bg_color;
}

#font_base {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #818596;
}

.flexbox {
    display: flex;
}

.flexitem {
    flex-grow: 1;
}

dl {
    margin: 20px;
    box-sizing: border-box;

    dt {
        margin-bottom: 15px;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #17233D;
        line-height: 22px;
    }

    dd {
        display: flex;
        margin-left: 16px;
        margin-bottom: 15px;
        line-height: 20px;
        #font_base;

        .item-label {
            width: 50%;
        }
        .item-option {
            width: 50%;
        }
    }
}


.linenumber {
    input {
        margin-right: 3px;
        #bottom_line;
    }

    .lineitem {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        input::-webkit-input-placeholder{ 
            color: #cccccc;
            }
            input::-moz-input-placeholder{
            color: #cccccc;
            }
            input::-ms-input-placeholder{
            color: #cccccc;
            }
        .linecolor {
            margin-top: 0px;
            height: 26px;
            width: 97%;
            line-height: 30px;
            // border-bottom: 1px solid #ddd;

            ::ng-deep .color-input {
                height: 14px;
                width: 70px;
                margin: 13px 0 0 0;                
            }
        }
    }
    .numberitem {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
        input::-webkit-input-placeholder{ 
            color: #cccccc;
            }
            input::-moz-input-placeholder{
            color: #cccccc;
            }
            input::-ms-input-placeholder{
            color: #cccccc;
            }
        .linecolor {
            margin-top: 0px;
            height: 26px;
            width: 97%;
            line-height: 30px;
            border-bottom: 1px solid #ddd;

            cm-color-picker {
                ::ng-deep .color-input {
                    height: 14px;
                    width: 70px;
                }
            }
        }
    }

    .numberitem:last-child {
        margin-left: 3px;
    }
}

.checkgroup {
    flex-wrap: wrap;

    .checkgitem {
        flex-grow: 1;
        width: 50%;
    }
}

:host ::ng-deep .linestyle {
    .ant-select {
        width: 100%;
        line-height: 22px;
        #font_base;
    }

    .ant-select-selection {
        #bottom_line;
    }
}
