.ant-row {
    margin:0;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.form-box{
    width:85%;
    padding-right:24px;
    border-right:1px solid #DCDEE2;
    float:left;
}
form{
    padding:24px 0  24px 24px;
    display: flex;
    align-items: center;
}
.fromBox{
    padding:24px; 
}